 /* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
    background: url("/img/background/baloons.png")no-repeat top center;
    background-size: cover;
}

 .error{
    color: red;
}
.spinner {
    background-image: url("loading.gif");
    background-repeat: no-repeat;
    height: 100px;
}

.message{
    color: green;
}
#portraitpic {
    position: absolute;
    top:20px;
    left: 0px;
    width: 200px;
    height: auto;
    background: #47569B;
    color: #fff;
    font-weight: bold;
    font-size: large;
    margin: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 10;
}

#portraitpic #profile-menu nav section h2 {
    width:100%;
    padding:10px;
    text-align: center;
    color: #fff;
    background: #0D1F30;
}

#portraitpic #profile-menu nav section ul {
    width:300px;
    list-style: none;
    padding: 10px;
    font-size: medium;
}

#widepic {
    width: 1000px;
    height: 300px;
}

.piccontainer{
    border: 1px solid #000000;
}

#tagTest {
    width: 300px;
    height: 300px;
    border: 2px solid #000000;
}
.comment{
    border-top: 1px solid #000000;
}

.backgroundTitleImage{
    width: 300px;
    height: 300px;

}
.border-main{
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

.titleHdr {
    height: 118px;
    overflow: hidden;
    background: #9eafff url("/img/background/cloudBG.jpg")no-repeat center -195px;
}

body .contain-to-grid {
    display:block;
    width: 100%;
    height: 226px !important;
    min-height: 226px;
    background: #9eafff url("/img/background/headerFooterBG.png")repeat-x center -140px;
    -webkit-box-shadow: 0px 2px 5px 2px #A3A1A1;
    -moz-box-shadow: 0px 2px 5px 2px #A3A1A1;
    box-shadow: 0px 2px 5px 2px #A3A1A1;
}
 body .contain-to-grid-logged-in {
    display:block;
    width: 100%;
    height: 55px !important;
    min-height: 55px;
    background: #9eafff url("/img/background/headerFooterBG.png")repeat-x center -140px;
    -webkit-box-shadow: 0px 2px 5px 2px #A3A1A1;
    -moz-box-shadow: 0px 2px 5px 2px #A3A1A1;
    box-shadow: 0px 2px 5px 2px #A3A1A1;
}

 body .contain-to-grid nav.top-bar .loggedBlock, #username2 {
     display: none;
 }

body .contain-to-grid-logged-in nav.top-bar-logged-in .loggedBlock {
    display: block !important;
}

 body .contain-to-grid nav.top-bar .loggedBlock {
     display: none;
 }

 body .contain-to-grid .loggedOut {
     display:block;
 }

 body .contain-to-grid-logged-in .loggedOut {
     display:none;
 }

 nav.top-bar {
    top:130px;
    background:#bdcb80 ;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     border-radius: 7px;

 }

.top-bar-logged-in{
    position: inherit;
    background: #9eafff url("/img/background/headerFooterBG.png")repeat-x -80px -540px;
}
.headerCol {
    display: block;
    width: auto;
    float: left;
}

.headerCol2 {
    display: block;
    width: auto;
    float: left;
}

#workpets{
    width:auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    vertical-align: top;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-width: medium 4px 2px;
    border-style: none solid solid;
    border-color: rgb(138, 153, 72);
    box-shadow: 2px 2px 2px rgba(113, 112, 107, 0.5);
    overflow: hidden;
    white-space: nowrap;
}

.workpetsbuttons{
   color: #ffffff;
}

#petbutton{
    border: none;
    color: #fff;
}

.top-bar-section .dropdown li.memWall {
    display:inline-block;
    width: 140px;
}
.top-bar-section ul > li>a{
    background: transparent;
}
#workshopbutton{
    color: #8a9948;
    border: none;
}

#groupsbutton{
    color: #8a9948;
    border: none;
}

#webstorebutton {
    color: #8a9948;
    border: none;
}
#homebutton {
    color: #fff;
    border: none;
}
#pettionbutton{
    color: #8a9948;
    border: none;
}

.offsetHeight{
    max-width: 980px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background: #FFFADE;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    -webkit-box-shadow: 2px 2px 5px #A3A1A1;
    -moz-box-shadow: 2px 2px 5px #A3A1A1;
    box-shadow: 2px 2px 5px #A3A1A1;
}

 .offsetHeight.petMem {
     max-width: 980px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 10px;
     background: none repeat scroll 0% 0% #F28678;
     border-top-left-radius: 2em;
     border-top-right-radius: 2em;
     box-shadow: 2px 2px 5px #A3A1A1;
 }

 .offsetHeight.privGroup {
     max-width: 980px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 10px;
     background: none repeat scroll 0% 0% #90BFFA;
     border-top-left-radius: 2em;
     border-top-right-radius: 2em;
     box-shadow: 2px 2px 5px #A3A1A1;
 }

.offsetHeight h1,h2,h3,h4 {
    color: #47569B;
    text-shadow: 2px 2px 5px rgb(71, 86, 155);
}

h2.dark {
    color: dodgerblue;
}

.dark {
    color: dodgerblue;
}

.closeButton {
    position: absolute;
    top: -2px;
    right: -7px;
    width: 35px;
    height: 35px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    background: #9eafff;
    box-shadow: 2px 2px 5px rgb(19, 45, 72);
}

#login{

}
#register{

}
#logout{

}
.navstyles{
    background-color: dodgerblue;
}

 body .contain-to-grid-logged-in .loginBlock {
     display: block;
     width: auto;
     height: 50px;
     margin-top: 0px;
     margin-left: -400px;
     padding-right: 20px;
     text-align: right;
     float: right;
     background: rgba(189, 203, 128, 0.6);
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     border-bottom-left-radius:2em;
     border-bottom-right-radius:2em;
     border-bottom: none;
     border-right: 4px solid #8a9948;
     border-left: 4px solid #8a9948;
     border-bottom: 2px solid #8a9948;
     box-shadow: -2px -2px 2px rgb(113, 112, 107);
     z-index: 2;
 }


.loginBlock {
    /*position:relative;*/
    display: block;
    width: auto;
    height: 50px;
    margin-top: 0px;
    margin-left: -210px;
    padding-right: 20px;
    text-align: right;
    background: rgba(189, 203, 128, 0.6);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius:2em;
    border-bottom-right-radius:2em;
    border-bottom: none;
    border-right: 4px solid #8a9948;
    border-left: 4px solid #8a9948;
    border-bottom: 2px solid #8a9948;
    box-shadow: -2px -2px 2px rgb(113, 112, 107);
    z-index: 2;
}
.invisble{
    background: transparent;
}

.top-bar-section ul>a{
    background: transparent;
}

body .contain-to-grid-logged-in #username2 {
    display: block;
    width: auto;
    height: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 0px 0px 5px;
    padding-bottom: 0px;
    /* background: #26619D; */
    color: #47569B;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #BDCB80;
}

 body .contain-to-grid-logged-in #username2 a.small.button {
     display: inline;
     color: #47569B;
     border: none;
     outline: none;
     background: none;
 }

#username{
    display: block;
    width: auto;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    padding-bottom: 0px;
    /* background: #26619D; */
    color: #71706b;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#username b {
    font-size: small;
    font-weight: normal;
}

.mediaicons{
    font-size: 32px;
}
.mediabuttons{
    height: 40px;
    margin-bottom: 20px;
    margin-top: -15px;
    padding-top: 0px;
    width: 40px;
    padding-left:3px;

}

.top-bar-logged-in .logo {
    position:relative;
    top:0px;
    left: 20px;
    display: block;
    width: 100px;
    height: 45px;
    margin: 0px;
    padding-top: 0px;
    text-indent: -9000px;
    background: url("/img/miniLogo.png") left top no-repeat;
    z-index: 20;
}


.logo {
    position:relative;
    top:-100px;
    left: 20px;
    display: block;
    width: 343px;
    height: 125px;
    margin: 0px;
    padding-top: 0px;
    text-indent: -9000px;
    background: url("/img/logo.png") left top no-repeat;
    z-index: 20;
}


.searchBarBlock {
	height:40px;
    margin-top: 0px;
	padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 50%, rgb(32, 124, 202) 51%, rgb(125, 185, 232) 100%) repeat scroll 0% 0% transparent;
    box-shadow: 10px 10px 20px rgb(0, 52, 85);
}

.searchBar{
    height:20px;
    background-color: #143A5F;
    padding-top: 5px;
}

.grouping{
    position:relative;
    top: 10px;
    display:block;
    width:100%;
    height:60px;
    margin-top: -5px;
    background-color: #bdcb80;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 5px;
    padding-top: 10px;
    z-index: 1;
}

.border-footer{
    padding: 20px;
    background: url("/img/background/headerFooterBG.png") repeat-x scroll center -480px rgb(158, 175, 255);
    border-bottom: 1px solid #000000;
    box-shadow: 2px 2px 5px rgb(19, 45, 72);
    height: 121px;
}

.border-footer p {
    margin-top: 25px;
    margin-left: 100px;
    margin-bottom: 0px;
}

 .border-footer p.toiawase {
     margin-top: 5px;
     margin-left: 100px;
     display: block;
 }

 .border-footer p.toiawase a {
     color: red !important;
     font-size: small;
 }

.footer-child{
    height: 50px;
}

.right-separator{
}
.gradient-main{
    position: relative;
    display:block;
    width: 100%;
    height: 85px;
    margin: auto;
    white-space: nowrap;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

.memProfilePreview {
    color: #fff;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
}

.memProfilePreview h6 {
    padding: 10px;
    background: #fff;
}

.memProfilePreview h6 a {
    display:block;
    color: #F08678;
    width: 100%;
}

.memProfilePreview img {
    margin: auto;
}

h1.sectionHeader {
    color: #fff;
    padding-left: 10px;
    /* background: #132D48; */
}

.profileGravatar {
    display: block;
    width: auto;
    height: auto;

    float: left;
    background: #f5f5f5 url("/img/AngelIcon2b.jpg") no-repeat bottom right;
    box-shadow: -1px 0px 5px 5px #dcdcdc;
}

.wallViewers {
    border-bottom: 1px solid #000000;
    box-shadow: 0px 3px 3px -3px #000;
    margin-bottom: 10px;
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */
.mainBG {
	background: none;
}

#picheader{
    position:relative;
    display: block;
    width: 967px;
    height: auto;
    margin-bottom: 20px;
}

#portrait{
    border: 4px solid #47569B;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 150px;
    z-index: 100;
}

#profileMenuViewable{
    height: 500px;
    background-color: #26619D;
}
.z-index-1000{
    z-index: 1000;

}

#contentHeader{
    display:block;
    width: 100%;
    clear: both;
    background-color: #9eafff;
    background: url('/img/headerCircleBG.png') repeat-x left top;
    margin-bottom: 20px;
}
.contentHeader{
    display:block;
    width: 100%;
    clear: both;
    background-color: #9eafff;
    margin-bottom: 20px;
}
.contentHeaderTitle{
    display:block;
    width: 100%;
    clear: both;
    color: #ffffff;
}

body .primaryContent .shelf .mainBG .row .small-12 .section-container .active .content .contentHeaderTitle {
    padding: 10px;
    color: #ffffff;
}

.contentContainer{
    padding: 50px 20px 20px 50px;
    background: url("/img/background/postTopBg.png") no-repeat 0px 0px;
    overflow: hidden;
}
#chat{
    background-color: #26619D;
    color: #ffffff;
}
.postcontainer{
    margin-top: 0px;
    padding-bottom: 10px;
    background-color: #FFFADE;
}

 body .postcontainer div.postContent {
     font-family: "Open Sans";
         font-style: normal;
         font-weight: 300;
         src: local("Open Sans Light"), local("OpenSans-Light"), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff") format("woff") !imp;
     line-height: 30px;
 }

body .replycontainer div p {
    font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        src: local("Open Sans Light"), local("OpenSans-Light"), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff") format("woff");
}

 .replycontainer{
     display:block;
     background: #f0f9ff url("/img/background/commentTopBg.png")no-repeat center top;
     padding: 5px;
     padding-top:15px;
     margin: 10px;
     min-height: 80px;
     clear: both;
     border: #f0f9ff 1px dotted;
 }

.avatarcontainer{
    border-right: 1px solid #808080;
    overflow: hidden;
    width: 11.333% !important;
}
.replycontainer.small-1{
    width: 11.3333%;
}
.row .small-12 {
    position: relative;
    width: 100%;
    /*box-shadow: 5px 5px 5px #132D48; */
}

.row2 {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-bottom: 0.1875em;
}

.columns label {
    font-size: 1em;
    color: #132d48;
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-bottom: 0.1875em;
    clear: both;
}

.row .row .stream {
    display:block;
    width: 770px;
    height: 400px\9;
    min-height: 300px;
    margin: 0px 0px 10px 0px;
 }

.small-6 input[type=text],.small-6 input[type=password],.small-6 input[type=email] {
    width: 250px;
    height: auto;
    min-height: 35px;
    border-radius: 4px;
}

.small-6 textarea {
    height: 300px;
    margin-bottom: 20px;
}

.regColl {
    padding: 10px;
}

.regColl2 {
    padding: 20px;
}

.regColl2 div {
    display: block;
    width: 16%;
    height: 30px;
    text-align: left;
    line-height: 30px;
    padding-left: 20px;
    background: #B7B7B7;
    float: left;
    border: 1px #f5f5f5 dashed;
}
  /*
.nav-container{ background: url('images/nav_bg.jpg') repeat-x 0 0;}
.f-nav{ z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;}

.nav { height: 42px;}
.nav ul { list-style: none; }
.nav ul li{float: left; margin-top: 6px; padding: 6px; border-right: 1px solid #ACACAC;}
.nav ul li:first-child{ padding-left: 0;}
.nav ul li a { }
.nav ul li a:hover{ text-decoration: underline;}
  */
/* -----------------------------------------
   Page Name 2
----------------------------------------- */
/* -----------------------------------------
  error handling
----------------------------------------- */
.validation-error{
    color: red;
}
/*-----
datepickercss
*/
.datepicker.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;min-width:160px;list-style:none;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;*border-right-width:2px;*border-bottom-width:2px;color:#333;font-family:"Open Sans",sans-serif;font-size:13px;line-height:18px}.datepicker.dropdown-menu th,.datepicker.dropdown-menu td{padding:4px 5px}.datepicker{display:none;position:absolute;padding:4px;margin-top:1px;direction:ltr}.datepicker-inline{width:220px}.datepicker-rtl{direction:rtl}.datepicker-rtl table tr td span{float:right}.datepicker-dropdown{top:0;left:0}.datepicker-dropdown:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,.2);position:absolute;top:-7px;left:6px}.datepicker-dropdown:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px}.datepicker>div{display:none}.datepicker.days div.datepicker-days{display:block}.datepicker.months div.datepicker-months{display:block}.datepicker.years div.datepicker-years{display:block}.datepicker table{border:0;margin:0}.datepicker td,.datepicker th{text-align:center;width:20px;height:20px;border:0;font-size:12px;padding:4px 8px;background:#fff;cursor:pointer}.datepicker td.active.day,.datepicker th.active.day{background:#2ba6cb}.datepicker td.active.year,.datepicker th.active.year{background:#2ba6cb}.datepicker td span.active,.datepicker th span.active{background:#2ba6cb}.table-striped .datepicker table tr td,.table-striped .datepicker table tr th{background-color:transparent}.datepicker table tr td span{display:block;width:23%;height:54px;line-height:54px;float:left;margin:1%;cursor:pointer}.datepicker th.date-switch{width:145px}.datepicker thead tr:first-child th,.datepicker tfoot tr:first-child th{cursor:pointer}.datepicker .cw{font-size:10px;width:12px;padding:0 2px 0 5px;vertical-align:middle}.datepicker thead tr:first-child th.cw{cursor:default;background-color:transparent}.datepicker-dropdown::before,.datepicker-dropdown::after{display:none}.datepicker-close{position:absolute;top:-30px;right:0;width:15px;height:30px;padding:0;display:none}.datepicker td.old,.datepicker td.new{color:#999}.datepicker td.day.disabled{color:#eee}

/* -----------------------------------------
   AngularCSS3 Animations
----------------------------------------- */

 .comment-dropdown-menu{
     left: -200px;
 }

.shrink-hide-setup, .shrink-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.shrink-hide-setup {
    height: 100%;
}
.shrink-hide-setup.shrink-hide-start {
    height: 0px;
}

.shrink-show-setup {
    height: 0px;
}
.shrink-show-setup.shrink-show-start {
    height: 100%;
}

.moveup-hide-setup, .moveup-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.moveup-hide-setup {

}
.moveup-hide-setup.moveup-hide-start {
    -webkit-transform:translateY(-50px);
}

.moveup-show-setup {
    opacity: 0;

}
.moveup-show-setup.moveup-show-start {
    opacity: 1;
}



.fade-hide-setup, .fade-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
    opacity:1;
}
.fade-hide-setup.fade-hide-start {
    opacity:0;
}

.fade-show-setup {
    opacity:0;
}
.fade-show-setup.fade-show-start {
    opacity:1;
}

.button.small {
    margin-top:0px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 0.8125em;
}

body .button {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
    transition: background-color 300ms ease-out 0s;
    border-radius: 6px;
}


#loginMessage {
    position:relative;
    display:block;
    max-width: 960px;
    height: auto;
    background: #f5f5f5;
    margin: auto;
    padding: 0px 20px 0px 20px;
    color: darkslategrey;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-radius-bottom: 0em;
    box-shadow: 2px 2px 5px rgb(19, 45, 72);
}

#loginMessage h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

 #notifications {
    position:relative;
    top:140px;
    display:block;
    width: 80%;
    max-width: 980px;
    height: auto;
    background: #f5f5f5;
    margin: auto;
    padding: 20px;
    color: darkslategrey;
    border-radius: 7px;
    box-shadow: 2px 2px 2px #000;
    z-index: 100;
}

#loginModal {
    position: fixed;
    top: 50%;
    margin-top: 0px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    left: 40%;
}

#musicModal {
    margin-top: 100px;
}

.editMemWall label {
    color: #000000;
}

.editMemWall input {
    margin-bottom: 20px;
}

.angelStory {
    width: 100%;
    font-size: large;
    margin-left: 200px;
}

.angelStory h1 {
    color: #ffffff;
    margin-top: 20px;
}

.postComment {
    padding: 10px;
    margin: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: large;
    background: #D9E9FD;
    box-shadow: 2px 2px 2px #132D48;
}

.postComment input{
    height: 40px;
    padding:10px;
    width: 75%;
    color: #132D48;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
}

input.addNewPost {
    height: 40px;
    padding:10px;
    width: 100%;
    color: #132D48;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
}

.rghtDvd {
    display: inline-block;
    height: auto;
    border-right: solid 1px #808080;
}

.postBoxes {
    padding-left: 20px;
    /*background: red;
    border: 1px solid cadetblue; */
}

.postcontainer .postBoxes {
    padding-left: 30px;
    /*background: red;
    border: 1px solid cadetblue; */
}
.socialButtons1 {
    vertical-align: top;
    margin-top:-10px;
    margin-bottom:10px;
    white-space: nowrap;
}

 .socialButtons2 {
     display: none;
 }

 .form-horizontal2 {
     display: none;
 }
@media only screen and (max-width: 850px) {
    .loginBlock {
        position:relative;
        top:-75px;
        left:0px;
        display: block;
        width: 100%;
        height: 30px;
        margin-top: 0px;
        padding-right: 20px;
        text-align: right;
        float: right;
        background: rgba(7.8%,22.7%,37.3%, 0.6);
        border-bottom-left-radius:2em;
        border-bottom-right-radius:2em;
        border-top: none;
        border-right: 4px solid #143A5F;
        border-left: 4px solid #143A5F;
        border-bottom: 4px solid #143A5F;
        box-shadow: 2px 2px 5px rgb(19, 45, 72);
        z-index: 2;
    }

    a.button, .button.small {
        margin-top: -20px;
        margin-bottom: 20px;
        padding: 5px;
        font-size: 0.5em;
    }

    body .contain-to-grid {
        display: block;
        width: 100%;
        height: 100px !important;
        min-height: 100px;
        background: url("/img/background/headerFooterBG.png") repeat-x scroll center -140px rgb(158, 175, 255);
        box-shadow: 0px 2px 5px 2px rgb(163, 161, 161);
    }

    nav.top-bar {
        top: 40px;
        background: none repeat scroll 0% 0% rgb(189, 203, 128);
        border-radius: 7px;
    }

    .logo {
        position:relative;
        left: 10px;
        top: -30px;
        display: block;
        width: 180px;
        height: 65px;
        margin: 0px;
        text-indent: -9000px;
        background: url("/img/memWallLogoSmll2.png") left top no-repeat;

    }

    .loginBlock {
        position: relative;
        top: -85px;
        left: -00px;
        display: block;
        width: 250px;
        height: 40px;
        margin-top: 0px;
        padding-right: 20px;
        text-align: right;
        float: right;
        background: none repeat scroll 0% 0% #272727;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 0em;
        border-width: medium 4px 4px;
        border-style: none solid solid;
        border-color:  #8A9948;
        box-shadow: 2px 2px 5px rgb(19, 45, 72);
        z-index: 2;
    }

    #username{
        display: block;
        width: auto;
        height: 25px;
        margin-top: -10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
        padding-bottom: 0px;
        /* background: #26619D; */
        color: #fff;
        white-space: nowrap;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    #username a {
        display: block;
        margin-top: -8px;
    }

    #workpets{
        margin-top: -15px;
        margin-right: 0px;
        margin-left: 10px;
    }

    #loginMessage {
        position: relative;
        display: block;
        max-width: 600px;
        height: auto;
        background: none repeat scroll 0% 0% rgb(245, 245, 245);
        margin: auto;
        padding: 0px 20px;
        color: darkslategrey;
        border-radius: 2em;
        box-shadow: 2px 2px 5px rgb(19, 45, 72);
    }

    .grouping {
        position: relative;
        top: 10px;
        display: block;
        width: 100%;
        height: 60px;
        font-size: small;
        margin-top: -20px;
        background-color: rgb(189, 203, 128);
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        padding: 10px 5px 5px;
        z-index: 1;
    }

    .grouping b {
        white-space: nowrap;
    }

    .blogContent {
        position: relative;
        top: 10px;
        left: -39px;
    }

    .buttons {
        display: block;
        width: 32%;
        height: 30px;
        background: linear-gradient(to bottom, rgb(239, 242, 255) 0%, rgb(144, 191, 250) 0%, rgb(165, 180, 255) 44%, rgb(103, 118, 181) 86%) repeat scroll 0% 0% transparent;
        color: rgb(255, 255, 255);
        vertical-align: top;
        margin: 0px;
        padding: 5px;
        font-size: small;
        line-height: 10px;
        text-align: center;
        border: 1px solid rgb(113, 112, 107);
        float: left;
    }

    .dropzone .dz-default.dz-message {
        opacity: 1;
        filter: none;
        transition: opacity 0.3s ease-in-out 0s;
        background-image: url("../img/spritemap.png");
        background-repeat: no-repeat;
        background-position: 20px 0px;
        position: relative;
        width: 450px;
        height: 130px;
        margin-top: -20px;
        margin-left: -70px;
        padding: 20px;
        top: 30%;
        left: 10%;
    }

    input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
        border-radius: 0px;
        background-color: white;
        font-family: inherit;
        border: 1px solid rgb(204, 204, 204);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
        color: rgba(0, 0, 0, 0.75);
        display: block;
        font-size: 0.875rem;
        margin: 0px 0px 1rem;
        padding: 0.5rem;
        height: 2.3125rem;
        width: 80%;
        -moz-box-sizing: border-box;
        transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    }

}

@media only screen and (max-width: 518px) {
    /* Makes the search bar display properly in the groupings section */

    .searchBar{
        position:relative;
        top:-15px;
        width: 200px;
        height:35px;
        background-color: #143A5F;
        padding-top: 5px;
        z-index: 10;
        margin-top: 5px;
    }

    .grouping{
        position:relative;
        top: 0px;
        display:block;
        width:100%;
        height:70px;
        margin-top: -20px;
        background-color: #BDCB80;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        padding: 10px;
        z-index: 1;
    }

    .grouping b {
        font-size: xx-small;
    }

    .memProfilePreview {
        color: rgb(255, 255, 255);
        padding: 3px;
        background: none repeat scroll 0% 0% #BDCB80;
        border-radius: 4px 4px 4px 4px;
        font-size: xx-small;
    }
    .small-block-grid-4 > li:nth-of-type(n) {
        clear: none;
        width: 50%;
    }

    #loginMessage {
        position: relative;
        display: block;
        max-width: 400px;
        height: auto;
        background: none repeat scroll 0% 0% rgb(245, 245, 245);
        margin: auto;
        padding: 0px 20px;
        color: darkslategrey;
        border-radius: 2em;
        box-shadow: 2px 2px 5px rgb(19, 45, 72);
    }

    #loginMessage h1 {
        font-size: 1em;
        margin: 0.67em 0px;
    }

    .row .row .stream {
        display:block;
        width: 400px;
        height: 400px\9;
        min-height: 300px;
        margin: 0px 0px 10px 0px;
    }

    #toc {
       display: none;
    }

    #toc.status-on {
        display: none;
    }

    #tocToggle {
        display: none;
    }
}

@media only screen and (max-width: 451px) {
    /* Makes the responsive menu fit in the navigation container and change its background to black */
    html {
    @font-face {
    font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        src: local("Open Sans Light"), local("OpenSans-Light"), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff") format("woff");
    }

        background: url("/img/background/Gobi-rainbow-2b.jpg") no-repeat scroll center -150px / cover rgb(39, 92, 149);
    }

    #loginMessage {
        position: relative;
        display: block;
        max-width: 300px;
        height: auto;
        background: none repeat scroll 0% 0% rgb(245, 245, 245);
        margin: auto;
        padding: 0px 20px;
        color: darkslategrey;
        border-radius: 2em;
        box-shadow: 2px 2px 5px rgb(19, 45, 72);
    }

    #loginMessage  h1 {
        font-size: 1em;
        margin: 0.67em 0px;
    }


    #loginMessage  h2 {
        font-size: 1em !important;
        margin: 0.67em 0px;
    }

    #loginMessage  p {
        font-size: 0.8em;
        margin: 0.67em 0px;
    }

    .row .row .stream {
        display: block;
        width: 276px;
        min-height: 300px;
        margin: 0px 0px 10px;
    }

    .small-7 {
        position: relative;
        width: auto;
        left: 9px;
    }

    .buttons {
        display: block;
        width: 33%;
        height: 23px;
        background: linear-gradient(to bottom, rgb(239, 242, 255) 0%, rgb(144, 191, 250) 0%, rgb(165, 180, 255) 44%, rgb(103, 118, 181) 86%) repeat scroll 0% 0% transparent;
        color: rgb(255, 255, 255);
        vertical-align: top;
        margin: 0px;
        padding: 5px;
        font-size: x-small;
        line-height: 6px;
        text-align: center;
        border: 1px solid rgb(113, 112, 107);
        float: left;
    }

    .adSpace {
        display: block;
        min-height: 300px;
        position: relative;
        left: -226px;
        top: -16px;
    }

    .logo {
        position:relative;
        left: 10px;
        top:-5px;
        display: block;
        width: 275px;
        height: 65px;
        margin: 0px;
        padding-top: 75px;
        text-indent: -9000px;
        background: url("/img/memWallLogoSmll2.png") center top no-repeat;
    }

    button.small, .button.small {
        padding: 0.5625em 1.125em 0.625em;
        font-size: .5em;
    }

    .headerCol {
        position:relative;
        top:35px;
        left:0px;
        display: block;
        width: auto;
        float: left;
    }

    .loginBlock {
        position:relative;
        top:-75px;
        left:-60px;
        display: block;
        width: 100%;
        height: 30px;
        margin-top: 0px;
        text-align: right;
        float: right;
        background: rgba(7.8%,22.7%,37.3%, 0.6);
        border-bottom-left-radius:2em;
        border-bottom-right-radius:2em;
        border-top: none;
        border-right: 4px solid #143A5F;
    }

    #workpets{
        margin-top: -15px;
        margin-right: 0px;
        margin-left: 10px;
    }

    #gallery {
        display: none;
        visibility: hidden;
    }

    .postEntry {
        margin-top: 410px;
    }
    .border-footer{

    }

    .socialButtons1 {
        display: none;
    }

    .socialButtons2 {
        vertical-align: top;
        margin-top:-10px;
        margin-bottom:10px;
        white-space: nowrap;
        display: block;
    }

    .buttons {
        display: block;
        width: 33%;
        height: 20px;
        background: #8A9948 !important;
        color: #FFF;
        vertical-align: top;
        margin: 0px;
        padding: 5px;
        font-size: 10px !important;
        line-height: 6px;
        text-align: center;
        border: 1px solid #71706B;
        float: left;
    }

    .form-horizontal {
        display: none;
    }

    .form-horizontal2 {
        display: block;
    }
}

#rulesModal {
    display:block;
    width: 100%;
    float: left;
}

#drop1 {
    z-index: 99999;
}

.add2Album {
    display: block;
    padding: 20px;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 7px;
}

#contentHeader .contentHeaderTitle {
    color: #ffffff;
}

/*----------------------ANIMATIONS---------------------*/
.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
    display:block!important;
}
.my-show-hide-animation.ng-hide-remove {
    opacity:0;
}
.my-show-hide-animation.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
.my-show-hide-animation.ng-hide-add {
    opacity:1;
}
.my-show-hide-animation.ng-hide-add.ng-hide-add-active {
    opacity:0;
}

.my-slide-container {
    position:relative;
}
.my-slide-animation.ng-enter, .my-slide-animation.ng-leave {
    -webkit-transition:0.5s ease-in all;
    -moz-transition:0.5s ease-in all;
    -o-transition:0.5s ease-in all;
    transition:0.5s ease-in all;

    position:absolute;
    top:0;
    left:0;
    right:0;
    height:600px;
}

.my-slide-animation.ng-enter {
    z-index:100;
    top:600px;
    opacity:0;
}
.my-slide-animation.ng-enter.ng-enter-active {
    top:0;
    opacity:1;
}

.my-slide-animation.ng-leave {
    z-index:101;
    top:0;
    opacity:1;
}
.my-slide-animation.ng-leave.ng-leave-active {
    top:-600px;
    opacity:0;
}
.my-repeat-animation.ng-enter,
.my-repeat-animation.ng-leave,
.my-repeat-animation.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position:relative;
}

.my-repeat-animation.ng-enter {
    left:-10px;
    opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
    left:0;
    opacity:1;
}

.my-repeat-animation.ng-leave {
    left:0;
    opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
    left:-10px;
    opacity:0;
}

.my-repeat-animation.ng-move {
    opacity:0.5;
}
.my-repeat-animation.ng-move.ng-move-active {
    opacity:1;
}


/*-----Page transition-----*/

.my-page-animation.ng-enter,
.my-page-animation.ng-leave,
.my-page-animation.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position:relative;
}

.my-page-animation.ng-enter {
    top:-10px;
    opacity:0;
}

.my-page-animation.ng-enter.ng-enter-active {
    top:0;
    opacity:1;
}

.my-page-animation.ng-leave {
    top:0;
    opacity:1;
}
.my-page-animation.ng-leave.ng-leave-active {
    top:-10px;
    opacity:0;
}

.my-page-animation.ng-move {
    opacity:0.5;
}
.my-page-animation.ng-move.ng-move-active {
    opacity:1;
}

.memNav {
    width: 500px;
    height: 30px;
    padding-left: 20px;
    display: block;
}

body.ng-scope div.row div.small-12.columns div.row div.small-12.large-12.ng-binding nav.wallGroup {
    display: block;
    text-align: left;
    margin-top: 0px;
    background: #fff;
    width: 150px;
    position: relative;
    top:-1000px;
    border: 1px red solid;
}

.wallGroup ul {
    padding: 0px;
    margin: 10px 0 0 0;
    list-style: none;
}
.noStyleList{
    list-style-type: none;
    float: right;
}
.wallGroup ul li {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    height: 20px;
    padding: 5px;
    margin: 0px;
    list-style: none;
    line-height: 8px;
    color: #47569B;
    font-size: small;
}

#toolbar {
    position: absolute;
    top: 115px;
    left: 20px;
    z-index: 30000;
}

#toc {
    position: fixed;
    top:120px;
    left: 0px;
    z-index: 8000;
 }

#toc.status-on {
    font-weight:bold;
    color: brown;
}

#tocToggle {
    border-radius: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #8A9948;
    opacity: 0.75;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    box-shadow: 2px 2px 5px rgb(19, 45, 72);
    font-size: small;
    white-space: nowrap;
}

#tocToggle.status-off {
    display: block;
    width: auto;
    height: 20px;
    text-align: center;
    /*white-space: nowrap;*/
    margin-top: 50px;
    margin-left: -50px;
    /*
    margin-top: -200px;
    margin-left: -55px;
    */
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    /*-moz-transform:rotate(90deg); /* Firefox */
    /*-webkit-transform:rotate(90deg); /* Safari and Chrome */
    /*-o-transform:rotate(90deg); /* Opera */
    float: left;
    /* background: url(../images/toc.png) no-repeat; */
}

#tocToggle.status-on {
    display: block;
    width: auto;
    height: 20px;
    text-align: center;
    /*white-space: nowrap;*/
    margin-top: -200px;
    margin-left:200px;
    /*
    margin-top: -200px;
    margin-left:200px;
    */
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    /*-moz-transform:rotate(90deg); /* Firefox */
    /*-webkit-transform:rotate(90deg); /* Safari and Chrome */
    /*-o-transform:rotate(90deg); /* Opera */
    float: left;
    /* background: url(../images/toc.png) no-repeat -37px; */
}

#tocToggle a {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgb(19, 45, 72);
    /* text-indent: -50000px; */
}

#tableOfContents {
    position: absolute;
    top:10%;
    left: 50%;
    background: #EEE;
    border: 1px solid #fff;
    height: 300px;
    width: 250px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgb(19, 45, 72);
}

#tocbutton{
    background: #EEE;
    border: 1px solid #fff;
    height: 30px;
    width: 250px;
    border-radius: 7px;
}

.base-class {
    visibility:hidden;
    opacity: 0;
    width: 0%;
    height: 0%;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.base-class.my-class {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.groupsList {
    background: url("/img/background/colbg2.png")repeat #8A9948;
}

.group {
    background: #fff;
}

.group a {
    color: #ffffff;
}

h6.groupTitle {
    background: #fff;
}

div.scrollerBlock.petsList {
    background: url("/img/background/colbg2.png")repeat #f28678;
}

div.scrollerBlock {
    margin-top: 27px;
    background: url("/img/background/colbg2.png")repeat;
}

.pets {
    background: #fff;
}

h6.petsTitle {
    background: #fff;
}

.mural {
    margin-top: -18px;
}

 .mural.privGroup {
     margin-top: -20px;
     border-top-left-radius: 1em;
     border-top-right-radius: 1em;
 }

.muralPets {
    margin-top: -18px;
}

 /* Small screens*/
 @media only screen { } /* Define mobile styles */

 @media only screen and (max-width: 40em) {
     .border-footer p{
         font-size: 75%;
         margin-left: 0px;
         margin-top: 25px;
     }
 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

 /*Medium screens*/
 @media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

 @media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

 /* Large screens*/
 @media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

 @media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

 /* XLarge screens*/
 @media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

 @media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

 /* XXLarge screens*/
 @media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */

 .automargins{
     margin-left: auto !important;;
     margin-right: auto !important;
 }

 /*
 body.ng-scope div.off-canvas-wrap div.inner-wrap section.main-section section.primaryContent section#shelf.shelf div.mainBG.my-slide-animation.ng-scope div.ng-scope div.row.offsetHeight div.small-12.columns div.tabbable.ng-isolate-scope div.tab-content div.tab-pane.ng-scope section.ng-scope div.content.automargins div.row {
     width: auto;
     max-width: 950px;
     margin:auto;
 }
   */

 body .row .row {
     width: auto;
     max-width: 950px;
     margin:auto;
 }

 .templatePortal {

 }

 .memWallSearch {
     margin-top: 10px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
 }

 .blogContent {
     position: relative;
 }

 .petitionFont{
     font-size: 3em;
     text-shadow: 0 1px 0 white;
 }

 .buttons {
     display: block;
     width: 33%;
     height: 20px;
     background: linear-gradient(to bottom, rgb(239, 242, 255) 0%, rgb(144, 191, 250) 0%, rgb(165, 180, 255) 44%, rgb(103, 118, 181) 86%) repeat scroll 0% 0% transparent;
     color: rgb(255, 255, 255);
     vertical-align: top;
     margin: 0px;
     padding: 5px;
     font-size: small;
     line-height: 6px;
     text-align: center;
     border: 1px solid #71706b;
     float: left;
 }
 
 .adSpace {
     display: block;
     min-height: 300px;
 }

body nav.top-bar.top-bar-logged-in {
    background: url("/img/background/headerFooterBG.png") repeat-x scroll -456px -521px rgb(158, 175, 255);
 }

 body nav.top-bar.top-bar-logged-in section.top-bar-section ul.left li a, body nav.top-bar.top-bar-logged-in section.top-bar-section ul.left li a.small {
     color: #8a9948;
 }

 nav.tab-bar {
     background: url("/img/background/headerFooterBG.png") repeat-x scroll -456px -521px #B4C394;
     /*background: none repeat scroll 0% 0% ;*/
     color: white;
     height: 2.8125rem;
     line-height: 2.8125rem;
     position: relative;
 }

 section.tab-bar-section {
     padding: 0px 0.625rem;
     position: absolute;
     height: 2.8125rem;
 }

 section.tab-bar-section h1 {
     text-align: center;
     height: 2.8125rem;
     color: #BDCB80;
     background: url("/img/miniLogo.png") no-repeat scroll left top transparent;
 }

 #events {
     position:relative;
     display: inline-block;
     width: 50px;
     text-align: center;
     background: none;
 }

 #events:hover {
     display: inline-block;
     width: 50px;
     text-align: center;
     background: #90BFFA;
 }

 #events .event-list {
     display: none;
 }

 #events:hover .event-list {
     position:absolute;
     display: block;
     width: 300px;
     height: auto;
     background: #FFFBE1;
     border: 4px solid #DEED91;
     z-index: 100;
 }

 #events .event-list .event-list-header {
     height:30px;
     margin-top:-2px;
     background: #DEED91;
 }


 #events .event-list .event-list-header h3{
     font-size: 18px;
     font-weight: bold;
     color: #fff;
 }


 #events .event-list .event-list-body {

 }


 #events .event-list .event-list-body ol.event-list-content {
     display: block;
     width: 100%;
     height: auto;
     margin: 0px;
     padding: 5px;
 }


 #events .event-list .event-list-body ol.event-list-content li {
     border-bottom: 1px solid #DDDDDD;
     display: inline-block;
     height: auto;
     list-style: none outside none;
     margin-bottom: 5px;
     min-height: 30px;
     padding: 0px;
     width: 100%;
 }

 #events .event-list .event-list-body ol.event-list-content li:hover {
     border-bottom: 1px solid #DDDDDD;
     display: inline-block;
     height: auto;
     list-style: none outside none;
     margin-bottom: 5px;
     min-height: 30px;
     padding: 5px;
     width: 100%;
     background: #BDCB80;
 }

 #events .event-list .event-list-body ol.event-list-content li span.event-list-date {
    display: block;
    font-size: small;
    float: right;
 }

 #events .event-list .event-list-body ol.event-list-content li span.event-list-photo {
    display: block;
    float: left;
 }

 #events .event-list .event-list-body ol.event-list-content li span.event-list-type {
     display: block;
     float: left;
     clear: both;
 }

 #events .event-list .event-list-body ol.event-list-content li span.event-list-name {
    display: block;
    float: left;
     clear: both;
 }

 #events .event-list .event-list-body ol.event-list-content li strong {
     display: block;
     float: left;
     clear: both;
 }

 #events .event-list .event-list-body ol.event-list-content li div.event-list-reach-out {
     display: none;
 }

 #events .event-list .event-list-body ol.event-list-content li:hover div.event-list-reach-out {
     display: block;
     padding: 0px;
     margin: 0px;
 }

 #events .event-list .event-list-body ol.event-list-content li div.event-list-reach-out a.event-list-send-message {

 }

 #events .event-list .event-list-body ol.event-list-content li div.event-list-reach-out a.event-list-view-event {

 }

 .workshops { background: #fff;}

 #twitter-widget-0 {
     float: right !important;
 }

 .mainNav .helpResc {
     position: absolute;
     top:50px;
     right:200px;
     display: block;
     padding: 4px;
     font-size: xx-small;
     color: #fff;
     background: #BC838D;
     border-radius: 5px;
     border: 1px solid #f5f5f5;
     z-index: 9999;
 }