/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
#portraitpic {
    position: relative;
    top:400px;
    left: 0px;
    width: 200px;
    height: 300px;
    background: #132D48;
    color: #fff;
    font-weight: bold;
    font-size: large;
    z-index: 400;
}

#widepic {
    width: 1000px;
    height: 300px;
}

#tagTest {
    width: 300px;
    height: 300px;
    border: 2px solid #000000;
}
.comment{
    border-top: 1px solid #000000;
}

.backgroundTitleImage{
    width: 300px;
    height: 300px;

}
.border-main{
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

.title{

    background: #26619D url("/img/background/cloudBG.jpg")no-repeat center -195px;

}

.headerCol {
    display: block;
    width: auto;
    float: left;
}

.headerCol2 {
    display: block;
    width: auto;
    float: right;
}

#workpets{
    margin-top: 40px;
    margin-right: 0px;

}
.workpetsbuttons{
   color: #ffffff;
}

#petbutton{
    background-color: #c562e1;
    border: none;
    color: #ffffff;
    z-index: -2;

}
#workshopbutton{
    background-color: #26619D;
    color: #ffffff;
    border: none;

}

#pettionbutton{
    background-color: #26619D;
    color: #ffffff;
    border: none;
}

.offsetHeight{
    max-width: 980px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background: #26619D;
}

.offsetHeight100 {
    margin-top: 100px;
    background: #26619D;
    box-shadow: 10px 10px 20px rgb(0, 52, 85);
}

.closeButton {
    position: absolute;
    top: 0px;
    right: -5px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #fff;
    background: #132D48;
}

#login{

}
#register{

}
#logout{

}
.navstyles{
    background-color: dodgerblue;
}
.loginBlock {
    position: absolute;
    display: block;
    width: 300px;
    height: 35px;
    top: -10px;
    text-align: right;
    right: 0px
}

#username{
    display: block;
    width: auto;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    padding-bottom: 0px;
    /* background: #26619D; */
    color: #fff;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#username b {
    font-size: small;
    font-weight: normal;
}

.mediaicons{
    font-size: 32px;
}
.mediabuttons{
    height: 40px;
    margin-bottom: 20px;
    margin-top: -15px;
    padding-top: 0px;
    width: 40px;
    padding-left:3px;

}

.logo {
	display: block;
	width: 524px;
	height: 64px;
	margin: 0px;
	text-indent: -9000px;
	background: url("/img/memWallLogo.png") center top no-repeat;
}

.searchBarBlock {
	margin-top: -20px;
	padding-top: 30px;
	background: #26619D;
}

.searchBar{
    background-color: #132D48;
    padding-top: 15px;
    z-index: 10;
    margin-top: -24px;
}

.grouping{
    background-color: #8fb2d7;
    padding-top: 15px;
    z-index: 1;
}

.border-footer{
    /*border-top: 1px solid #000000;
    border-bottom: 1px solid #000000; */
}
.footer-child{
    height: 200px;
}

.right-separator{
    border-right: 1px solid #0000ff;
}
.gradient-main{
    position: relative;
    display:block;
    width: 1020px;
    margin: auto;
    white-space: nowrap;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

.memProfilePreview {
    color: #fff;
    padding: 10px;
    background: #1F4A77;
    border-radius: 4px;
}

.memProfilePreview h6 {
    padding: 10px;
    background: #132D48;
}

.memProfilePreview h6 a {
    display:block;
    color: #fff;
    width: 100%;
}

.memProfilePreview img {
    margin: auto;
}

h1.sectionHeader {
    color: #fff;
    padding: 10px;
    background: #132D48;
}

.profileGravatar {
    display: block;
    width: 250px;
    height: 300px;
    padding: 20px;
    margin-right: -15px;
    float: right;
    background: #f5f5f5 url("/img/AngelIcon2b.jpg") no-repeat center center;
    box-shadow: -2px 0px 5px 5px darkgrey;
}

.wallViewers {
    border-bottom: 1px solid #000000;
    box-shadow: 0px 3px 3px -3px #000;
    margin-bottom: 10px;
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */
.mainBG {
	background: none;
}
#picheader{

}
#portrait{
    border: 4px solid ##132D48;
    z-index: 100;
}

#profileMenuViewable{
    height: 500px;
    background-color: #26619D;
}
.z-index-1000{
    z-index: 1000;

}

#contentHeader{
    background-color: #132D48;
}
.contentHeaderTitle{
    color: #ffffff;
}
.contentContainer{
    border: 2px solid black;
    background: #ffffff;
    overflow: hidden;
}
#chat{
    background-color: #26619D;
    color: #ffffff;
}
.postcontainer{
    background-color: #ffffff;
    margin-top: 20px;
    padding-bottom: 10px;
}

.replycontainer{
    display:block;
    background: #f0f9ff;
    padding: 20px;
    margin: 10px;
    height: 100px;
    clear: both;
    border: lightslategrey 1px dotted;
}

.avatarcontainer{
    border-right: 1px solid #808080;
    overflow: hidden;
}

.row .small-12 {
    position: relative;
    width: 100%;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    /*box-shadow: 5px 5px 5px #132D48; */
    box-shadow: 2px 2px 5px #132D48;
}

.row2 {
    position: relative;
    width: 100%;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    box-shadow: 2px 2px 5px #132D48;
    margin-bottom: 20px;
}

label {
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-bottom: 0.1875em;
}
  /*
.nav-container{ background: url('images/nav_bg.jpg') repeat-x 0 0;}
.f-nav{ z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;}

.nav { height: 42px;}
.nav ul { list-style: none; }
.nav ul li{float: left; margin-top: 6px; padding: 6px; border-right: 1px solid #ACACAC;}
.nav ul li:first-child{ padding-left: 0;}
.nav ul li a { }
.nav ul li a:hover{ text-decoration: underline;}
  */
/* -----------------------------------------
   Page Name 2
----------------------------------------- */


/* -----------------------------------------
   AngularCSS3 Animations
----------------------------------------- */

.shrink-hide-setup, .shrink-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.shrink-hide-setup {
    height: 100%;
}
.shrink-hide-setup.shrink-hide-start {
    height: 0px;
}

.shrink-show-setup {
    height: 0px;
}
.shrink-show-setup.shrink-show-start {
    height: 100%;
}

.moveup-hide-setup, .moveup-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.moveup-hide-setup {

}
.moveup-hide-setup.moveup-hide-start {
    -webkit-transform:translateY(-50px);
}

.moveup-show-setup {
    opacity: 0;

}
.moveup-show-setup.moveup-show-start {
    opacity: 1;
}



.fade-hide-setup, .fade-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
    opacity:1;
}
.fade-hide-setup.fade-hide-start {
    opacity:0;
}

.fade-show-setup {
    opacity:0;
}
.fade-show-setup.fade-show-start {
    opacity:1;
}

.button.small {
    margin-top:-10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 0.8125em;
}

.memNav {
width: 665px;
    height: 50px;
    left: 325px;
    position: fixed;
    top: 146px;
    z-index: 99;
}

#loginMessage {
    position:relative;
    top:200px;
    display:block;
    width: 80%;
    max-width: 980px;
    height: auto;
    background: #f5f5f5;
    margin: auto;
    padding: 20px;
    color: darkslategrey;
    border-radius: 7px;
    box-shadow: 2px 2px 2px #000;
}
#notifications {
    position:relative;
    top:200px;
    display:block;
    width: 80%;
    max-width: 980px;
    height: auto;
    background: #f5f5f5;
    margin: auto;
    padding: 20px;
    color: darkslategrey;
    border-radius: 7px;
    box-shadow: 2px 2px 2px #000;
}

#loginModal {
    margin-top: 100px;
}

.editMemWall label {
    color: #000000;
}

.editMemWall input {
    margin-bottom: 20px;
}

.angelStory {
    width: 100%;
    font-size: large;
    margin-left: 200px;
}

.angelStory h1 {
    color: #ffffff;
    margin-top: 20px;
}

.postComment {
    padding: 10px;
    margin: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: large;
    background: #B3C7DB;
    box-shadow: 5px 5px 5px #132D48;
}

.postComment input{
    height: 40px;
    padding:10px;
    width: 75%;
    color: #132D48;
    -webkit-box-shadow:inset 0 0 5px #132D48;
    -moz-box-shadow:inset 0 0 5px #132D48;
    box-shadow:inset 0 0 5px #132D48;
}

input.addNewPost {
    height: 40px;
    padding:10px;
    width: 100%;
    color: #132D48;
    -webkit-box-shadow:inset 0 0 5px #132D48;
    -moz-box-shadow:inset 0 0 5px #132D48;
    box-shadow:inset 0 0 5px #132D48;
}