<div ng-controller="PetitionEntryCtrl">

   <div class="small-12 small-centered columns offsetHeight">

       <div class="row" ng-model="petition">
            <div class="small-12 columns">
                <h3 style="color: #2164AA;">About Angels of Eureka's The Circle of Life</h3>
                <h3 style="color: #000000;font-size: medium;font-weight: normal">Angels of Eureka is about Love, Hope and Life with People and Pets.</h3>
                <p>
                    <!--[if lte IE 8]>
                    <b style="red; font-weight: bold;">
                        We noticed that you are using an old version of Internet Explorer on Windows XP. This browser does not support the technology that the Circle of Life web site employs.
                        We recommend a modern browser that will be both secure and allow you to enjoy the site to the fullest! Here are the browsers we suggest:<br />
                        <a href="https://download.mozilla.org/?product=firefox-25.0&os=win&lang=en-US" target="_blank">Mozilla Firefox</a>
                        <br />
                        <a href="https://www.google.com/intl/en/chrome/browser/?platform=win" target="_blank">Google Chrome</a>
                        <br />
                        If you want to continue using Internet Explorer on our site, you will need to upgrade your computer to at least <a href="https://http://windows.microsoft.com/en-us/windows7/products/upgrade" target="_blank">Windows 7</a>.
                        <br />
                        Thank you for you understanding.
                    </b>
                    <![endif]-->
                    Your loved one can be celebrated and remembered here on the Cirle of Life, by creating a Memorial Wall for them. Here on the Circle of Life, we call them your "Angel". Preserve and cherish their legacy and share memories and precious details about your Angel with their close family and friends. You choose what to post. You choose who can participate in conversations. You choose who can view the content that you share. <br />
                    <br />
                    Memorial Wall Features (Angels or Pets):
                <ul>
                    <li>Angel's Timeline: See all the current topics, photos and events about your Angel in one convenient place. Share a memory for all of his/her friends and family to enjoy.</li>
                    <li>Photos: Share photos, and organize them into galleries. You can also upload your own Imikimi montage creations!</li>
                    <li>Videos:Share videos of your Angel. You add either youtube or Animoto videos!</li>
                    <li>Angel Anniversaries: Specify a date that is important to the legacy of your Angel. Share a memory with all his/her loved ones, and celebrate their life and encourage one another!</li>
                </ul>
                <br />
                We also provide you the ability to create customized, private support groups for whatever cause you may have. Build you network here and grow strong together!<br />
                <br />
                Private Group Features:<br />
                <ul>
                    <li>Group's Timeline: See all the current topics, photos and events about your group in one convenient place. Share a thought for your group network to discuss.</li>
                    <li>Photos: Share photos, and organize them into galleries.</li>
                    <li>Videos:Share videos with your group. You add either youtube or Animoto videos!</li>
                    <li>Group Events: Create and share events for your group.</li>
                </ul>
                <br />
                Signing up is easy.
                Once you sign-up for your free personal profile, you can create a memorial wall for your lost loved one. On the memorial page you can share memories via photos, videos and celebrate their memory
                with Angel anniversaries. You can invite your friends to join your private network as well as meet people with
                experience
                similar to yours
                and find and give much needed support and comfort!
                </p>
                Sign up Here!
                <a href="#/registration" class="small button">Register</a><br/>
                Already a member? Log-in to your account here!
                <a href="#/login" class="small button"  data-hide-id="loginMessage">Login</a>
            </div>

       </div>
    </div>
</div>