<div class="generalPage">
    <div id="contentHeader" class="">
        <h2 class="contentHeaderTitle">About Angels of Eureka's The Circle of Life</h2>
    </div>
    <section class="tab" ng-controller="TabController as panel">
        <ul class="tabNavGen">
            <li ng-class="{active:panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">About the Circle of Life</a></li>
            <li ng-class="{active:panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">Our Story</a></li>
            <li ng-class="{active:panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)">Our Message to You</a></li>
            <li ng-class="{active:panel.isSelected(4) }"><a href ng-click="panel.selectTab(4)">Comforting Words</a></li>
        </ul>
        <div ng-show="panel.isSelected(1)">
            <div class="content">
                <h3 style="margin:0;"> Angels of Eureka is about Life, Love, Hope Support and Comfort for those dealing with tragedy or loss.</h3>
                <p>
                    <!--[if lte IE 8]>
                    <b style="red; font-weight: bold;">
                        We noticed that you are using an old version of Internet Explorer on Windows XP. This browser does not support the technology that the Circle of Life web site employs.
                        We recommend a modern browser that will be both secure and allow you to enjoy the site to the fullest! Here are the browsers we suggest:<br />
                        <a href="https://download.mozilla.org/?product=firefox-25.0&os=win&lang=en-US" target="_blank">Mozilla Firefox</a>
                        <br />
                        <a href="https://www.google.com/intl/en/chrome/browser/?platform=win" target="_blank">Google Chrome</a>
                        <br />
                        If you want to continue using Internet Explorer on our site, you will need to upgrade your computer to at least <a href="https://http://windows.microsoft.com/en-us/windows7/products/upgrade" target="_blank">Windows 7</a>.
                        <br />
                        Thank you for you understanding.
                    </b>
                    <![endif]-->
                    Your loved one can be celebrated and remembered here on the Cirle of Life, by creating a Memorial Wall for them. Here on the Circle of Life, we call them your "Angel". Preserve and cherish their legacy and share memories and precious details about your Angel with their close family and friends. You choose what to post. You choose who can participate in conversations. You choose who can view the content that you share. <br />
                    <br />
                    Memorial Wall Features (Angels or Pets):
                </p>
                <ul>
                    <li>Angel's Timeline: See all the current topics, photos and events about your Angel in one convenient place. Share a memory for all of his/her friends and family to enjoy.</li>
                    <li>Photos: Share photos, and organize them into galleries. You can also upload your own Imikimi montage creations!</li>
                    <li>Videos:Share videos of your Angel. You add either youtube or Animoto videos!</li>
                    <li>Angel Anniversaries: Specify a date that is important to the legacy of your Angel. Share a memory with all his/her loved ones, and celebrate their life and encourage one another!</li>
                </ul>
                <br />
                We also provide you the ability to create customized, private support groups for whatever cause you may have. Build you network here and grow strong together!<br />
                <br />
                Private Group Features:<br />
                <ul>
                    <li>Group's Timeline: See all the current topics, photos and events about your group in one convenient place. Share a thought for your group network to discuss.</li>
                    <li>Photos: Share photos, and organize them into galleries.</li>
                    <li>Videos:Share videos with your group. You add either youtube or Animoto videos!</li>
                    <li>Group Events: Create and share events for your group.</li>
                </ul>
                <br />
                Signing up is easy.
                Once you sign-up for your free personal profile, you can create a memorial wall for your lost loved one. On the memorial page you can share memories via photos, videos and celebrate their memory
                with Angel anniversaries. You can invite your friends to join your private network as well as meet people with
                experience
                similar to yours
                and find and give much needed support and comfort!
                </p>
                <br /><br />
                Sign up Here!
                <a href="#/registration" class="small button">Register</a><br/>
                Already a member? Log-in to your account here!
                <a href="#/login" class="small button"  data-hide-id="loginMessage">Login</a>
            </div>
        </div>
        <div ng-show="panel.isSelected(2)">
            <div class="content">
                <h3>The story behind the Angels of Eureka and the Circle of Life</h3>
                <p>Hello I am one of the owners of Angels of Eureka! I would like to tell you how Angels of Eureka was born! So you know who we are and why we started Angels of Eureka!</p>
                 
                <p>It was through a horrific tragedy that happened to my family! On Nov 11, 2010, I received a call that changed my family forever! When I picked up the phone all I heard from the person on the other end of the phone line was that my daughter and her children were stuck upstairs in a horrific fire. I lost all of them from this fire physically and emotionally! We buried our 3 beautiful grandchildren 12, 8 and 5 years old. We had no choice but to place the surviving child with his dad after a year and half of no one helping me to get my daughter, who had no insurance the help she needed!</p>
                 
                <p>You see my daughter died that day in her heart because it was so broken. I will be writing about my Journey in the pages I am introducing to you! I figured out writing is healing. We have walked through heavy waters! With Abuse, Divorce, HUGE loss and drugs!</p>
                 
                <p>I would love others to share your stories! Our website is very secure! Seems Complicated until you use the tools! You can start creating your own support network here in the website, which we provide to use for free! Our webmasters are working on a series of tutorial videos to help you! Our webmasters will answer any of your questions and help you with any problems..God Blessed me with these two great men that heard my cry!</p>
                 
                <p>God Has Blessed me a lot on this Journey, and yes I have seen God move from day one of this fire! You see I can't do this without God, He is my light and he is guiding me!</p>
                 
                <p>I didn't know how to pick up the pieces of my life. I stumbled around numb inside overwhelmed with pain! I couldn't balance all my children as they were falling apart. My daughter got so bad she wanted to be with her children on the other side. You see she died first hearing her children suffocating and cry with fear after the explosion upstairs that knocked her off her feet and separated her and two of her children, one child burned alive!</p>
                 
                <p>My boys heard it too, while trying to get upstairs but it was to hot! Neighbours outside felt the ground shake after the explosion upstairs and everyone screaming! One of the boys finally felt a hand and drug my daughter's dead body downstairs and my son brought her back to life digging soot out of her nose and throat using the Emergency Medical Skills he learned that previous year!</p>
                 
                <p>I have watched my daughter suffer with pain and grief 3.5 years not wanting to live, not having a reason to live and not having any passion or hope! How does someone live a normal life for 31 years and after something like this come back?</p>
                 
                <p>As a mother, I yelled to God, not at God as I found my daughter laying passed out on her children's graves! I could find no one to help me for 1.5 years after the fire because my daughter had too much to say that was the truth! So I learned courage and I gained strength because Love is a very powerful weapon! I went around to attorneys and people knowing my daughter had no insurance seeking help! Because I could not bury my child, I already buried the loves of my life! I couldn't bury anymore of my loves!</p>
                 
                <p>I ended up writing Intervention TV! They flew out immediately to save my family! I felt like God threw me a life raft! A&E paid for the intervention and flights. A place called The Refuge in Florida gave my daughter a scholarship! The Refuge is one of the Top Trauma Faculties in our Country for PTSD, Survivors Guilt, etc. Our soldiers are sent there! These were my Earth Angels..God sent them to me!</p>
                 
                <p>I worked in Holistic Health at the time of the fire my friends around the country told me don't worry about the show, look at the help they are bringing.That's what I did! I met the most wonderful people! This was real life! I have never been so afraid in my life!</p>
                 
                <p>Angels of Eureka supports a place called Onsite because A&E called Onsite and OnSite flew to our families aid. Doctor Phil likes also supports OnSite.They came with a team to help us with a workshop of trauma therapy!</p>
                 
                <p>Miles the CEO changed my life the minute he walked in the door. He let me know he was there to help me and my family but it took me to embrace that help! It took me awhile but I have learned it well! Miles showed me my life still Mattered. I remember Miles pulling up a chair in front of me, looking in my eyes and saying I love you! Very Powerful Words!</p>
                 
                <p>In Fact he said, he wouldn't be surprised if I became a Therapist, LOL! All I can say is I have walked through it!  I learned it through the worse experience in my life with the tools that were gifted to me from all the kind people that rescued me and my family!</p>
                 
                <p>The Refuge told us not to take my daughter back to Texas her survival would be better to start away from all of the trauma that happened before and after the fire! My husband retired and within a week of the Therapist telling our daughter that. Our Family landed in Arkansas because we have some precious family here! But we have meet some good people here, that tried to help us and catch us! I am grateful, Thank you!</p>
                 
                <p>My daughter wanted a shop, So with the families help. We created a shop and called it Angels of Eureka, not knowing where it was going to carry us! So many people touched our lives we wanted to give back. I didn't know where I was going, I felt very lost but I do know more now because I have a dream!</p>
                 
                <p>So Angels of Eureka was Born in May 2013!</p>
                 
                <p>Angels of Eureka is a gift shop in Eureka Springs Arkansas!If your visiting don't forget to come in and take photos of the murals with your friends/family! A must see!</p>
                 
                <p>Our shop has painted murals inside to support our veterans from around the world that have fought for our country. Our kids received their wings on Veterans Day!  We also have a beautiful piece of heaven in our shop. In the back of our shop we have a seating area for you to rest (back in the mural area) or just have a chat. People can come in and take free photos with their family and loved ones in the mural. Children have really taken to this. They all want a photo next to our life size Jesus! Makes me smile!</p>
                 
                <p>We also have a online store.For every total sale, we donate 15% to the Charities we support! We are very proud of this!</p>
                 
                <p>We are fixing to send our first check!</p>
                 
                <p>Ask us about our Advertising? Or Partnering with us!</p>

                <p>As time went on and I met many Families of loss, I realized I wasn't walking this road alone. This was a subject of hush...People think its abnormal to grieve too long. Grief comes in many walks of life. Grief is trauma in your life from losing a loved one, a job, a divorce, abuse, drugs! God gave me a vision, if I built it people will come!</p>
                 
                <p>How do you turn tragedy into a silver lining and survive through this. When I wanted to die, I decided to live because my family needed me! But how do you live again after being a victim over and over? You forget how to cook, clean, forget the passions you use to have, they are buried! Others are leaving you because they don't understand what your living through!</p>
                 
                <p>So I decided with the help from our webmasters to build The Circle of Life!</p>
                 
                <p>I never realized having the wonderful life I had before, how many people out there in this world suffering. I never knew tragedy growing up. It gives you a new prospective on life! I asked God how can I help and to help me! We were Blessed in this journey without knowing the blessings at first, in fact it made us feel sick inside, something has never felt right!</p>
                 
                <p>I knew my daughter needed a purpose one day! So me with others that knew the pain embraced that and we built it with hope when my daughter is ready she will step into her life.</p>
                 
                <p>Another thing I learned on this Journey was in the groups on Facebook my information, my heart pouring out seeking help wasn't protected..Predators are seeking you. I realized how many people don't have money to get help!</p>
                 
                <p>I have seen several parents commit suicide over losing one child leaving there other children behind and families! I can't tell you how many times many of us were calling all Angel moms to get that one mother off a bridge or something! That is Networking my friends!</p>
                 
                <p>So The Circle of Life was Born! We are still growing the website! We you to help grow it. We didn't build the Circle of Life for profit or for ourselves! We Built it as a gift for you to connect with people and use your gifts. This was built for you!</p>
                 
                <p>After the children died, I couldn't move off the sofa for 8 months. I looked at the clock wanting to die, the only reason I moved was to help my children but I couldn't hear them because grief dropped a bomb on me! What pulled me through were the people that flew to our rescue, Thank you A&E and mothers walking through this pain of misery we call a life now! My wonderful Husband, my dogs and the people that cared enough to come to my rescue!</p>
                 
                <p>I heard them cry wanting their child remembered! So I built a Memorial Wall site to honour their child, but as I moved along this journey, I heard of children going towards drugs of losing siblings and parents, they wanted their parents or siblings remembered. I couldn't focus this site in one area because God loves us all! I have heard horrific stories of murdered victims, suicide, illness and the list goes on. I started seeing how much pain is in our world!</p>
                 
                <p>God has a huge job, I would like to be his helper!</p>
                 
                <p>Our government does not have the resources to provide with so much on the mental health side!</p>
                 
                <p>I worked from home for 8 years as a health consultant, guiding people worldwide to better their health after they got sick and prevention! The educating was all free. We also had foundations set up all over the world with the companies we worked with through their medical boards!</p>
                 
                <p>When this tragedy happened, I couldn't help anyone because I didn't know how to help myself, I stopped cooking, cleaning everything because I was too busy grieving and trying to save the rest of my family! The last 3.5 years I received my check monthly not working at all. What a gift that was for my family to have a continued income when our life fell apart my husband was forced to retire to save my daughters life and the life of his family!</p>
                 
                <p>I've seen several people after life changing events loss there jobs and they don't want to leave the house for a year or longer they move straight to depression! They stop living because they don't know how to live anymore. They look for help online from the comforts of their home. It was to much of a shock, whatever trauma you went through.</p>
                 
                <p>So we wanted to build a place to bring it to the people! But it takes you to use the tools we are giving you!</p>
                 
                <p>Everyone has a talent here or a gift that God gave you, rather it be writing sharing your story with others, having a gift in starting retreats, cooking, gardening, other natural healing remedies! This is your website to grow within your own network you can add your links, you can have online groups, conference calls and we are tied into Facebook!</p>
                 
                <p>So your not leaving anything or anybody behind! Were giving you the wheel!
                    If you have an idea and it makes sense, we will do it for you!</p>
                 
                <p>We would like people to start your own support groups/workshops it can be on anything weight loss, drugs, health, retreats, cooking, gardening, learning about the other side, bible studies anything to help people live again or walk where you have walked!</p>
                 
                <p>We are looking for leaders! To bring hope to many! I have cooked for almost 51 years when this happened I forgot how to cook! I am 54 now! I would love people to put your YouTube videos making your own shows with recipes! Same with gardening! You build it within our website they will come. We're giving you the tools without the expense coming out of your own pockets!</p>
                 
                <p>That was the most healing thing I did for 11 months, I with many decorated the children's gardens (Graves) for 11 months changing the themes every month so my daughter didn't have to look at the dirt or her last child and the people hurting around this tragedy! I didn't know how to stop taking care of them, no one did!</p>
                 
                <p>Music is healing! So we brought music into our program. Music is therapeutic it can make you get creative as your writing..If you have a song you would like on our list that is inspirational to you upon approval we will add your song.</p>
                 
                <p>The problem when things like this happen to people, everyone is scattered and doesn't know where to land and one person could be offering a support group but it only a piece of how to put your life back together..People need life skills after many different traumas, they are on a new journey..the old one has passed..so we need a new normal!</p>
                 
                <p>Groups/workshops or other organizations shouldn't be jealous of other groups etc. because if your in this for you alone to shine by yourself, people can not get all the tools they need to live again!</p>

                <p>
                    Corinthians 13:4-8
                <blockquote> 
                    Love is patient, love is kind. It does not envy, it does not boast, it is not proud.  It does not dishonor others, it is not self-seeking, it is not easily angered, it keeps no record of wrongs.  Love does not delight in evil but rejoices with the truth. It always protects, always trusts, always hopes, always perseveres.
                </blockquote>
                </p>

                <p>No one has all the answers! By people coming together we are offering choice's and ideas from our website because everyone is walking a different journey! We will support that! So the person can find the right fit we hope they have many to choose from! The groups within The Circle of Life are free to Educate, Share and Walk with the right groups where you feel you fit! If people want to contact you from there..We will support that too because our heart is in the right place!</p>
                 
                <p>The Circle of Life is not about Death! Its about Celebrating our loved ones! Its about life after the tragedy! Its about providing people a place to go for answers..But it takes Leaders from all walks of life!</p>
                 
                <p>We can change things in numbers! We built this to bring you all together on a website but each of you have your own website within the main website. The only way people can come in to your part is if you invite them which gives you the control you need to keep your groups or workshops small or large!</p>
                 
                <p>We will be adding a button for people to request themselves to be included in your network as the groups grow! You will also be notified of new members so you can throw that life raft out there!</p>
                 
                <p>We want this to be the largest Interactive help website worldwide!</p>
                 
                <p>I will be bringing in holistic consultants, therapist, doctors, mediums, guest speakers, pastors! I will be speaking to authors of books so you can meet the person that is trying to help guide you through their words! One of those guest speakers will be myself!</p>
                 
                <p>I'm very good at speaking once I get started! You will find out I am very knowledgable! Knowledge is Power and my knowledge is free! Those who follow me will reap great rewards! One thing I am not afraid of in this life time is to ask for help!</p>
                 
                <p>To speak with a guest speaker will be a free service for our members on conference calls!  Conference calls can hold up to hundreds of people at the end of the call we will open it up for questions! If you have something to offer as a guest speaker, please get in touch with us! We will be making announcements spending our money to Introduce you to help you get you get started! But you must help yourself by inviting too!</p>
                 
                <p>If you lost your job, I will teach you how to work from home if you don't have the energy to leave the house. I will tell you my story and how I did it. The difference is I will have a team waiting to hold your hand and help you! I will bring on Guest Speakers that will tell you how I held there hand! I will be the proof in your pudding!</p>
                 
                <p>Its about building relationships, trust and privacy! Love is a big one with me! People need to know they matter! I have many followers! The night my daughters Intervention went out on TV within minutes of the show ending 6000 people contacted us immediately! With nothing but support, Thank you!</p>
                 
                <p>If we can bring it all together and build it together, people everywhere will be Blessed..You could save a life!
                    Guess what! The Blessing comes back to you!</p>
                 
                <p>God gave me a vision, I am sharing my vision with you! Its all about choices! People need help! People need to see your visions hear your stories learn who you are because they are trusting you with their hearts! When you give a part of yourself to help another..you will reap rewards!</p>
                 
                <p>I am praying when my daughter decides to live, she see's the love and support of people from around the world that has come together because of our story, as she is healing!</p>
                 
                <p>She is fighting to live again at the moment! She went back to Texas to find no hope! She is at The Top Trauma Facility in this Country I heard! I refuse to give up on this!</p>
                 
                <p>She will have her story to tell by then and she will see she does have a purpose! We all have a purpose in this life, giving is one of the most rewarding and most healing. People love to follow good leaders! We can all be teachers if you have a story that changed your life! We want to hear it!</p>
                 
                <p>I want my grandchildren to know how much they meant to us! I want all the families to know what you have meant to us! I am trying but I can't do this alone..Its a big request from God! But I see its the answer for many! Good things will come from it! So I am asking, Will you help me build The Circle of Life?</p>
                 
                <p>You see Angels are all around us! We have built this on nothing but faith not knowing where its going to lead but I feel great things coming! This is a win, win for everyone to have the largest Interactive Help Web site to bring healing in all forms with of all walks of life to one place for people have choice, so they can heal and fit by those who are walking there walks!</p>
                 
                <p>With my own personal Journey, I joined many groups because they all helped me in someway, I followed many.. One place couldn't of fixed what happened in my life.</p>
                 
                <p>We will be opening your group story publicly for others to see! Just in case they want to see how your doing it or what you can offer them! Its up to you to invite them in!</p>
                 
                <p>I have started a group for parents, that are struggling with children on drugs. I had to learn I was an enabler..Sounds like a dirty word doesn't it, lol ..I don't have all the answers but others have gave me tools to Pay it Forward! I am using my tools better today and frankly I am proud of myself! I would like to find guest speakers that has buried a child from drug overdose! Maybe there journey can help the members or your families that is struggling on drugs!</p>
                 
                <p>At the end of the day and at the end of my life, It doesn't matter what kind of house I lived in, what was in my bank account, or what kind of car I drove!  What will matter is who I touched, how I lived my life and how much I loved! Leaving a Legacy behind to make a difference with others to continue when I am gone! For families to be able to carry on their legacies for future generations to see.</p>
                 
                <p>So that's a small part of my story! How we got started and who we are at Angels of Eureka and The Circle of Life! I will continue my story as the website grows.. and followers come in. Trust me I have one hell of a story!</p>
                 
                <p>So I am bringing my old tools from the precious previous chapters of my life where I helped many worldwide through Holistic Health, and working from home into my new journey to make it better. Its my passion, Its who I am. I love helping others and paying it forward!</p>
                 
                <p>I hope this gives you a much better understanding about us!</p>
                 
                <p>That's all folks! Until Next Time!</p>
                 
                <p>PS. I love you!</p>

                <p>We're Just getting started! We always welcome your comments or idea's.</p>
                 
                <p>Thank you for visiting Angels of Eureka!</p>
                 
                <p>     Be Blessed,</p>
                 
                <p>Dana Novak, Patricia Wilson, Greg Wilson and Staff!</p>
                <span if-authed="hide">
                    <br /><br />
                Sign up Here!
                <a href="#/registration" class="small button">Register</a><br/>
                Already a member? Log-in to your account here!
                <a href="#/login" class="small button"  data-hide-id="loginMessage">Login</a>
                </span>
            </div>
        </div>

        <div ng-show="panel.isSelected(3)">
            <div class="content">
                <b>To Bereaved Parents & Grandparents</b> <br/><br/>

                <p>A bereaved parent understands the pain that the death of a child brings. Grandparents can suffer that
                    same pain because of it being their grandchild and child hurting. I think its important Grandparents
                    understand what their child is going through and the best educators are the parents.</p>

                <p>A Death of a Loved one is part of life as we were to understand, ''unless they were gone to soon''. Which in
                    most cases people can get through the grief up to few years with the right support and counseling. </p>

                <p>A death of a child is lifelong, it changes a person forever, they can lose their identities. They feel very
                    alone in their Journeys, They learn to wear a mask, Some go towards alcohol, pills, drugs, We will not Judge
                    them for you have not lived what they went through, We will welcome them to speak freely so they know its OK
                    and really its normal if they don't have tools to cope.</p>

                <p>Some feel very suicidal and if you see any suicidal behavior please contact admin. we would like to help them
                    and reach out to them as soon as possible. </p>

                <p>We are all traveling the journey of grief and even though our grief is our own, the understanding, support
                    and compassion you receive from another grieving parent / grandparent is of utmost importance. </p>

                <p>Grief is what we think and feel on the inside when someone we love dies. It's numbness, sadness, anger,
                    guilt, and sometimes relief, all rolled up into one. It's the pain in our gut and a hole in our heart. Grief
                    can be physical pain as well, we can have a lot of downs in the beginning process so be gentle to yourself.
                    With support from people that have walked in your shoes, they can help you through..</p>

                <p>Mourning is expressing our grief, letting it out somehow.<br/>We mourn when we cry, talk about death, write
                    about it, punch a pillow or scream at the top of our lungs. </p>

                <p>Everyone grieves inside when the child that was loved with such passion dies. We MUST mourn to begin the
                    healing process and to learn to live a much different life now. </p>

                <p>Every parent is welcome here no matter how you have lost your child. </p>

                <p>In no way does this group take any responsibility for your mental health. If you are suffering from
                    depression or if you are having suicidal thoughts, please call 911 or consult your physician. </p>

                <p>We all know one of the signs of grief is anger there are times when we are angry and lash out but lets not
                    try to lash out to the other grieving person. Hopefully we will get through those times together. We all
                    look for a way to connect with our lost children or loved ones. Everyone has their own way of trying to do
                    this. For some it might be through religion, for others through spiritualism, yet others might not have
                    found any way. Whatever way you choose, its YOUR way. Please respect that we all have our own way, and don't
                    judge. Please don't think that your way is better than anyone else's, its just different. We have to accept
                    that this is how we are.</p>
            </div>
        </div>
        <div ng-show="panel.isSelected(4)">
            <div class="content">
                <b>Things Not to Say to Someone in Grief:</b>
                <ul>
                    <li>How are you?</li>
                    <li>You'll get through it, be strong.</li>
                    <li>He brought this on himself/ herself, it was his fault.</li>
                    <li>She’s in a better place.</li>
                    <li>Its been a while, aren't you over her/him yet?</li>
                    <li>He lived a long time, at least he didn't die young.</li>
                    <li>God must have wanted her/him there because she was such a good person.</li>
                    <li>You're young. You can always have another child.</li>
                    <li>I know exactly how you feel.</li>
                    <li>I guess it was his/her time to go.</li>
                    <li>Everything happens for a reason, life goes on.</li>
                </ul>
                <b>Things to Say to Someone in Grief:</b>
                <ul>
                    <li>Just call and say I was thinking of you</li>
                    <li>I can't imagine what you're going through.</li>
                    <li>I'm so sorry for your loss.</li>
                    <li>I don't know what to say, I wish I had the right words to comfort you.</li>
                    <li>You, your family and your loved one will be in my thoughts and prayers.</li>
                    <li>She was so nice to me; one of my favorite memories of her was...(share a happy memory of the person who
                        passed)
                    </li>
                    <li>Whenever you want to talk, just know I am a phone call away.</li>
                    <li>She/He was so wonderful, she/ he be missed by so many people.</li>
                    <li>I'm your friend—I'm here for you.</li>
                    <li>If you can't think of anything to say, a hug may be appropriate.</li>
                    <li>Sometimes just be with the person, you don't have to say anything.</li>
                </ul>
                <p>Its OK to bring up their loved one, they want you too. They want you to Remember! It shows you care!</p>

                <p>Remember, grieving the loss of a loved one is the worst pain someone can endure. Be respectful and polite.
                    Don't discount anyone’s feelings. Even if someone puts on a brave face and looks like he or she is handling
                    it well, don't assume that person is. Show that you care. Actions often speak louder then words. You can
                    just listen and support. Offer to take them to the grocery store, watch the children for an afternoon, and
                    help around the house. These gestures mean a lot to a person whose world has just been turned upside
                    down.</p>

                <p>You might ask a person 50 times to do something with you and they keep saying No, Just move on and understand
                    they are not ready, don't force them to feel what they are not ready for. Keep calling and trying because
                    one day they will say yes, and they will know you never gave up or forgot about them. </p>

                <p>Hopefully one day I can incorporate a group for NA and AA here to help those who couldn't cope with losing a
                    loved one because they didn't have the tools so they have sponsor support. We will grow as we go along this
                    Journey, We are just getting started. Any Ideas are welcomed here at Angels of Eureka!</p>

                <p>Thank you for taking the time to read our rules, we hope you have a wonderful journey here and we bring some
                    hope for your tomorrow!</p>
            </div>
        </div>
    </section>
</div>
<div class="adContainer">Ads go here</div>