<div class="generalPage">
    <div id="contentHeader" >
        <h2 class="contentHeaderTitle">About Angels of Eureka's The Circle of Life</h2>
    </div>
    <div class="contentHeader">
        <h2 class="contentHeaderTitle">Instructions on how to manage your account</h2>
    </div>

    <div class="contentHeader">
        <h2 class="contentHeaderTitle">Basic Profile</h2>
    </div>
    <ul class="profile">
        <li><img src="http://www.gravatar.com/avatar/{{user.gravatar}}"/> First Name : {{user.firstName}}</li>
        <li>Last Name: {{user.lastName}}</li>
        <li>email : {{user.email}}</li>
        <li>Date of Birth : {{user.dob}}</li>
        <li>City : {{user.city}}</li>
        <li>About you : {{user.about}}</li>
        <li>You have lost a {{user.lost}}</li>
        <a href="#/editprofile" class="small button">Edit Your profile</a>
    </ul>
</div>
<div class="adContainer">
    Our Sponsors
    <a href="http://angelsofeureka.com/shop/index.php/" target="_blank" title="Angels of Eureka Gift Shop"><img src="img/angelsofeurekalogo-bw.jpg" alt="Angels of Eureka Shop" /></a>
    <a href="http://www.phojoe.com/AOE.html" target="_blank" title="Photo Joe Photo Restorations"><img src="img/Phojoe_Banner.jpg" alt="Photo Joe Image Restoration" /></a>
    <a href="http://www.wingsofhopelivingforward.org/" target="_blank" title="Wings of Hope Living Forward"><img src="img/wingshope.png" alt="Wings of Hope Living Forward" /></a>
    <a href='http://www.party.myevent.com/?affID=48559' title='Create Any Event Website'><img src='http://www.myevent.com/images/sites/banners/Party/120x60_event.jpg' border='0' alt='Any Event Website'></a>
</div>