<div class="generalPage">
    <div id="contentHeader" class="">
        <h2 class="contentHeaderTitle">About Angels of Eureka's The Circle of Life</h2>
    </div>
    <div class="contentHeader">
        <h2 class="contentHeaderTitle">Instructions on how to manage your account</h2>
    </div>

    <div class="contentHeader">
        <h2 class="contentHeaderTitle">Basic Profile</h2>
    </div>
    <ul class="profile">
        <li><img src="http://www.gravatar.com/avatar/{{user.gravatar}}"/> First Name : {{user.firstName}}</li>
        <li>Last Name: {{user.lastName}}</li>
        <li>email : {{user.email}}</li>
        <li>Date of Birth : {{user.dob}}</li>
        <li>City : {{user.city}}</li>
        <li>About you : {{user.about}}</li>
        <li>You have lost a {{user.lost}}</li>
        <a href="#/editprofile" class="small button">Edit Your profile</a>
    </ul>
</div>
<div class="adContainer">Ads go here</div>