<div ng-controller="ContentCtrl" xmlns="http://www.w3.org/1999/html">
    <div class="small-9 columns small-centered offsetHeight" role="content">
        <div ng-controller="GroupingCtrl">
            <div id="loginMessage" if-authed="hide">
                <h1>Welcome to Angels of Eureka's Circle of Life </h1>
                <h2 style="color: #000000;font-size: large;font-weight: bold">Celebrate life...Cherish Legacies</h2>
                <h3 style="color: #000000;font-size: small;font-weight: normal">Angels of Eureka is about Love, Hope and Life with People and Pets.</h3>
                <p>
                    <!--[if lte IE 8]>
                    <b style="red; font-weight: bold;">
                        We noticed that you are using an old version of Internet Explorer on Windows XP. This browser does not support the technology that the Circle of Life web site employs.
                        We recommend a modern browser that will be both secure and allow you to enjoy the site to the fullest! Here are the browsers we suggest:<br />
                        <a href="https://download.mozilla.org/?product=firefox-25.0&os=win&lang=en-US" target="_blank">Mozilla Firefox</a>
                        <br />
                        <a href="https://www.google.com/intl/en/chrome/browser/?platform=win" target="_blank">Google Chrome</a>
                        <br />
                        If you want to continue using Internet Explorer on our site, you will need to upgrade your computer to at least <a href="https://http://windows.microsoft.com/en-us/windows7/products/upgrade" target="_blank">Windows 7</a>.
                        <br />
                        Thank you for you understanding.
                    </b>
                    <![endif]-->
                    Your loved one can be celebrated and remembered here by creating a memorial wall for them. Signing up is easy.
                    Once you sign-up for your free personal profile, you can create a memorial wall for your lost loved one, we call
                    them your "Angel". On the memorial page you can share memories via photos, videos and celebrate their memory
                    with Angel anniversaries. You can invite your friends to join your private network as well as meet people with
                    experience
                    similar to yours
                    and find and give much needed support and comfort!
                </p>
                It looks like you are not a member yet. Sign up Here!
                <a href="#/registration" class="small button">Register</a><br/>
                Already a member? Log-in to your account here!
                <a href="#/login" class="small button"  data-hide-id="loginMessage">Login</a>
                <a class="closeButton" closeparent title="Hide this box by clicking here">X</a>
            </div>
            <div ng-switch on="type">
                <div ng-switch-when="group"></div>
                <div ng-switch-default ng-hide="groupingViewable" ng-animate="'fade'" class="grouping">
                    <div class="row">
                        <div class="small-9 columns">
                            <select class="login-inp"
                                    name="selectedFilter"
                                    ng-change="changedSubGroup()"
                                    ng-model="selectedFilter"
                                    ng-options="group.name for group in groups">
                                </option>
                                <option value="" selected>View By Groupings Here</option>
                            </select>
                        </div>
                        <div class="small-3 columns">
                            <a ng-click="changedSubGroup(true)" class="button small success radius">Remove Filter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' autoscroll>-->
        <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' ng-class="{error:pets, petsList:pets}" class="scrollerBlock">
                <img src="./img/muralPets.png" class="muralPets" ng-show="pets">
                <span ng-hide="groups"><img src="./img/mural1.png" class="mural" ng-hide="pets"></span>
                <img src="./img/mural2.png" class="mural" ng-show="groups">
            <ul class="small-block-grid-4" >
                <div class="row">
                    <div class="small-12 columns memWallSearch">
                        <input ng-model="search.search" type="text" class="searchBar"
                               placeholder="Search Memorials">
                    </div>
                </div>
                <li ng-repeat="entry in entries | filter:search.search | bySubgroup:subgroup">
                    <div style="background-image: url({{entry.titleImage}})" ng-style="getBackImg(entry._id)" class="memProfilePreview"  ng-class="{error:pets, pets:pets}">
                        <h6   ng-class="{error:pets, petsTitle:pets}">
                            <a href="#/{{type}}/{{entry.author}}">{{entry.lastName}}, {{entry.firstName}}</a>
                        </h6>
                        <a href="#/{{type}}/{{entry.author}}">
                            <img src="/uploads/{{ entry.profilePicPortrait }}"
                                                                alt="child pick"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
