<div ng-controller="ContentCtrl" xmlns="http://www.w3.org/1999/html">
    <div class="scrollerContainer" role="content" ng-class="{petMem:pets, privGroup:groups}" >
        <h1>Welcome to Angels of Eureka's Circle of Life, free online memorials and support groups <small>Celebrate their life...Cherish their Legacy</small> </h1>
        <img src="./img/muralPets.png" class="muralPets" ng-show="pets">
        <span ng-hide="groups"><img src="./img/mural1.png" class="mural" ng-hide="pets"></span>
        <img src="./img/mural2.png" class="mural" ng-class="{privGroup:groups}" ng-show="groups">
        <!--<div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' autoscroll>-->
        <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' ng-class="{error:pets, petsList:pets}" class="scrollerBlock">
            <div class="searchFeature" ng-switch on="type">
                <div ng-switch-when="group"></div>
                <div ng-switch-default ng-hide="groupingViewable" ng-animate="'fade'" class="grouping">
                    <div class="" ng-switch on="type">
                        <div class="memWallSearch" ng-switch-when="group">
                            <input ng-model="search.search" type="text" class="searchBar"
                                   placeholder="Search Groups">
                        </div>
                        <div class="memWallSearch" ng-switch-default ng-hide="groupingViewable">
                            <input ng-model="search.search" type="text" class="searchBar"
                                   placeholder="Search Memorials">
                        </div>
                    </div>
                </div>
            </div>
            <div class="groupingDropdown" ng-controller="GroupingCtrl">
                <select class="login-inp"
                        name="selectedFilter"
                        ng-change="changedSubGroup(false)"
                        ng-model="parentOfSelected.selectedFilter"
                        ng-options="group.name for group in groups">
                    <option value="" selected>View By Groupings Here</option>
                </select>
                <a ng-click="changedSubGroup(true)" class="button small success radius filter">Remove Filter</a>
            </div>
            <ul class="scrollerContent" >
                <li ng-repeat="entry in entries | filter:search.search | bySubgroup:subgroup">
                    <div style="background-image: url({{entry.titleImage}})" ng-style="getBackImg(entry._id)" class="memProfilePreview"  ng-class="{error:pets, pets:pets}">
                        <h6 ng-class="{error:pets, petsTitle:pets}" ng-switch on="type">
                                <a href="#/{{type}}/{{entry.author}}" ng-switch-when="pet">{{entry.lastName}}, {{entry.firstName}}</a>
                                <a href="#/{{type}}/{{entry.author}}" ng-switch-when="angel">{{entry.lastName}}, {{entry.firstName}}</a>
                                <a href="#/{{type}}/{{entry.author}}" ng-switch-when="group">{{entry.title}}</a>
                        </h6>
                        <a href="#/{{type}}/{{entry.author}}">
                            <img src="/uploads/{{ entry.profilePicPortrait }}" alt="Angel Photo"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="adContainer">Ads go here</div>
</div>
