<div ng-controller="ContentCtrl" xmlns="http://www.w3.org/1999/html" if-authed="show">
    <div class="scrollerContainer" role="content" ng-class="{petMem:pets, privGroup:groups}" >
        <h1>Welcome to Angels of Eureka's Circle of Life, free online memorials and support groups <small>Celebrate their life...Cherish their Legacy</small> </h1>
        <img src="./img/muralPets.png" class="muralPets" ng-show="pets">
        <span ng-hide="groups"><img src="./img/mural1.png" class="mural" ng-hide="pets"></span>
        <img src="./img/mural2.png" class="mural" ng-class="{privGroup:groups}" ng-show="groups">
        <!--<div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' autoscroll>-->
        <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' ng-class="{error:pets, petsList:pets}" class="scrollerBlock">
            <div class="searchFeature" ng-switch on="type">
                <div ng-switch-when="group"></div>
                <div ng-switch-default ng-hide="groupingViewable" ng-animate="'fade'" class="grouping">
                    <div  ng-switch on="type">
                        <div class="memWallSearch" ng-switch-when="group">
                            <input ng-model="search.search" type="text" class="searchBar" placeholder="Search Groups">
                        </div>
                        <div class="memWallSearch" ng-switch-default ng-hide="groupingViewable">
                            <input ng-model="search.search" type="text" class="searchBar" placeholder="Search Memorials">
                        </div>
                    </div>
                </div>
            </div>
            <div class="groupingDropdown" ng-controller="GroupingCtrl" ng-switch on="type">
                <div ng-switch-when="group"></div>
                <select class="login-inp"
                        name="selectedFilter"
                        ng-change="changedSubGroup(false)"
                        ng-model="parentOfSelected.selectedFilter"
                        ng-options="group.name for group in groups" ng-switch-default ng-hide="groupingViewable" title="View By Grouping of Type of Lost Loved One Here">
                    <option value="" selected>View by type of lost loved one:</option>
                </select>
                <a ng-click="changedSubGroup(true)" class="button small success radius filter" ng-switch-default ng-hide="groupingViewable" title="Reset Filter to Reveal All Memorials">View All</a>
            </div>
            <ul class="scrollerContent" >
                <li ng-repeat="entry in entries | filter:search.search | bySubgroup:subgroup">
                    <div style="background-image: url({{entry.titleImage}})" ng-style="getBackImg(entry._id)" class="memProfilePreview"  ng-class="{error:pets, pets:pets}">
                        <h6 ng-class="{error:pets, petsTitle:pets}" ng-switch on="type">
                                <a href="#/{{type}}/{{entry.author}}" ng-switch-when="pet">{{entry.lastName}}, {{entry.firstName}}</a>
                                <a href="#/{{type}}/{{entry.author}}" ng-switch-when="angel">{{entry.lastName}}, {{entry.firstName}}</a>
                                <a href="#/{{type}}/{{entry.author}}" ng-switch-when="group">{{entry.title}}</a>
                        </h6>
                        <a href="#/{{type}}/{{entry.author}}">
                            <img src="/uploads/{{ entry.profilePicPortrait }}" alt="Angel Photo"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="adContainer">Ads go here</div>
</div>
<div if-authed="hide">
    <h1>A haven of comfort, encouragement, strength and celebrating life</h1>
    <img src="img/handsTogether.jpg" alt="Hands together for support" class="topIntroImg" />
    <h2><small>Welcome to Angels of Eureka's the Circle of Life</small></h2>
    <p>
        Here you can connect with people who share similar experiences to you. Find and exchange comfort, encouragement and strengthen each other through both the joys and trials we face in life.
        Create your own private support groups, celebrate the lives and legacies of your loved ones by creating a memorial celebration for them, start your own petition or workshop.
        Why not start by creating your user profile? It only takes a minute and it's free.

    </p>
    <div id="dashBoard">
        <section>
            <h3>Features</h3>
            <div class="features">
                <a>Private Support Groups</a>
                <p>Encourage, console, strengthen...the power of many to help and heal.</p>
                <img src="img/supportGroups.jpg" alt="Private support groups" />
            </div>
            <div class="features">
                <a>Life Celebration & Memorial Walls</a>
                <p>Celebrate their life...Cherish their Legacy</p>
                <div kinetic-slider class="kinetic-slider-container">
                    <div class="kinetic-slider-content">
                        <a href="">
                            <img src="img/angelPreview/kaitlynSample.jpg" alt="" />
                        </a>
                        <a href="">
                            <img src="img/angelPreview/RyanSample.jpg" alt="" />
                        </a>
                        <a href="">
                            <img src="img/angelPreview/HeatherHovezakSample.jpg" alt="" />
                        </a>
                        <a href="">
                            <img src="img/angelPreview/Christian.jpg" alt="" />
                        </a>
                        <a href="">
                            <img src="img/angelPreview/nathanielSample.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="features">
                <a>Petitions, Events & Workshops</a>
                <p>Make your voice heard...Engage others</p>
                <img src="img/topEvents.jpg" alt="Petitions, events and workshops" />
            </div>
        </section>
        <section class="signUp">
            <h3>Create your own groups, memorial celebrations and more for free!</h3>
            <div class="dashPages signUp"><a href="#/registration">Join Now!</a></div>
        </section>
    </div>
</div>
