<div ng-controller="PetitionCtrl">
    <div class="row ">
        <h1 class="sectionHeader">Petitions</h1>
        <div class="">
            <h2>Create a petition</h2>
            Give your petition a name. <input type="text" ng-hide="textorphoto" ng-model="title"/>
            What is your petition for? <input type="text" ng-hide="textorphoto" ng-model="text"/>
            <div>Signature count <b>{{signaturecount}}</b></div>
            <button ng-click="submitedit()" class="button postfix small">Submit</button>
        </div>
    </div>
</div>