<div ng-controller="UserProfileCtrl">
    <div class="generalPage">
        <div id="contentHeader" class="" ng-switch on="parentObject.type" ng-controller="blogEntryCtrl">
            <span ng-switch-when="group"><h2 class="contentHeaderTitle">Invite friends to your group: {{entry.title}} </h2></span>
            <span ng-switch-when="angel"><h2 class="contentHeaderTitle">Invite friends to your Memorial Wall: {{entry.firstName}} </h2></span>
            <span ng-switch-when="pet"><h2 class="contentHeaderTitle">Invite friends to your Memorial Wall: {{entry.firstName}} </h2></span>

        </div>
        <div ng-controller="FindNewMembersBlockCtrl">
            <div>
                <input ng-model="searchText" placeholder="Search For Users Here"/>
            </div>
            <ul class="profile">
                <li class="wallViewers" ng-repeat="user in users | filter:searchText">
                    <h3><img src="http://www.gravatar.com/avatar/{{user.gravatar}}" /> {{ user.firstName }} {{ user.lastName }}</h3>
                    <b>User Name:</b> {{ user.username }}
                    <br />
                    <b>Real Name:</b> {{ user.firstName }}
                    <br />
                    <br />
                    <a ng-click="invite(user._id ,$index)" class="small radius button workpetsbuttons">Invite</a>
                    {{message[$index]}}
                    <div ng-class="{spinner:spinner[$index]}"></div>
                </li>
            </ul>
        </div>
    </div>
</div>