<div class="generalPage" ng-controller="UserProfileCtrl">
    <div id="contentHeader">
        <h2 class="contentHeaderTitle">Memorial Walls of My Friends and Acquaintances </h2>
    </div>
    <!--
    <ul class="profile">
        <li ng-repeat="angelmember in angelmembers">Angel's Name : (Angel's full name)  - <a href="#/angel/{{ angelmember.author }}">View this memorial wall</a> - <a href="#/selfremove/{{ angelmember.author }}">Remove yourself from this memorial wall network</a></li>
    </ul>
    -->
    <!-- This next UL is for demonstration purposes only. Delete after demo to client -->
    <ul class="profile" ng-repeat="wall in walls ">
        <li>Angel's Name : {{wall.firstName}} {{wall.lastName}} - <a href="#/angel/{{wall._id}}">View this
            memorial wall</a> - <a ng-click="removeself(wall.id)">Remove yourself from this memorial wall
            network</a>
        </li>
    </ul>
    <!-- Delete above UL after demo -->
    <div ng-hide="walls.length">You have not been invited to any memorial walls. Why not reach out to someone and ask to join their network?</div>
</div>
<div class="adContainer">
    Our Sponsors
    <a href="http://angelsofeureka.com/shop/index.php/" target="_blank" title="Angels of Eureka Gift Shop"><img src="img/angelsofeurekalogo-bw.jpg" alt="Angels of Eureka Shop" /></a>
    <a href="http://www.phojoe.com/AOE.html" target="_blank" title="Photo Joe Photo Restorations"><img src="img/Phojoe_Banner.jpg" alt="Photo Joe Image Restoration" /></a>
</div>