<div ng-controller="GiftShopCtrl">
    <div class="row ">
        <div class="">
            <div id="rulesModal">
                <div class="">
                    <div id="contentHeader" class="">
                        <img src="img/angelsofeurekalogo-bw.jpg" alt="Angel's of Eureka Logo" />
                        <h2 class="contentHeaderTitle">Purchase a gift for your Angel's Memorial Wall From Our Gift Shop!</h2>
                    </div>
                </div>
                <div class=" " reflow data-section>
                    <section class="section">
                            <p class="title" data-section-title><a >Gift Shop Items</a></p>
                            <div class="content" data-section-content>
                                <ul>
                                    <li ng-repeat="category in categories"><a href="{{category.url}}?user={{user}}&wall={{wall}}" target="_blank">{{category.name}}</a></li>
                                </ul>
                            </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
