<div class="generalPage">
    <div id="contentHeader" class="">
        <h2 class="contentHeaderTitle">About Angels of Eureka's The Circle of Life</h2>
    </div>
    <div class="contentHeader">
        <h2 class="contentHeaderTitle">Instructions on how to manage your account</h2>
    </div>

    <p>
        Welcome to your user profile on Angel of Eureka's the Circle of Life.<br />
        Your user profile account is divided into six functional sections:<br />
        <br />
        <b>1.</b> Basic Profile: From this section you can view and edit your personal information as well as specify your primary grouping.
        <br />
    <blockquote>We use <a href="http://en.gravatar.com/" target="_blank">Gravatar</a> to power Avatar images for your account.
        Your Gravatar is an image that follows you from site to site appearing beside your name when you do things
        like comment or post on a blog. Avatars help identify your posts on blogs and web forums on any site.
        <br />If you already have a Gravatar, then simply using the same email for your account here, will
        utilize your Gravatar on our site.
        <br />
        Don't have a Gravatar created yet? Create one for <a href="http://en.gravatar.com/" target="_blank">Free!</a> </blockquote>
    <br />
    <b>2.</b> My Memorial Walls: From this section you can create memorial walls for your loved one or pet, invite users to join the network for this
    memorial wall network, manage users as well as the contents of your memorial wall. You can also view your memorial where you will be able
    to interact with your memorial network members via chat, photos, videos and Angel Anniversaries.
    <br /><br />
    Memorial Wall Features:
    <ul>
        <li>Angel's Timeline: See all the current topics, photos and events about your Angel in one convenient place. Share a memory for all of his/her friends and family to enjoy.</li>
        <li>Photos: Share photos, and organize them into galleries. You can also upload your own Imikimi montage creations!</li>
        <li>Videos:Share videos of your Angel. You add either youtube or Animoto videos!</li>
        <li>Angel Anniversaries: Specify a date that is important to the legacy of your Angel. Share a memory with all his/her loved ones, and celebrate their life and encourage one another!</li>

    </ul>
    </br />
    <b>3.</b> Friend's Memorial Walls: From this section you can see memorial walls that you have been invited to, as well as manage your membership
    to their memorial network.
    </br />
    </br />
    <b>4.</b> My groups: From this section you can create your own private group for any thing you wish. Enjoy all of the features of a memorial wall,
    but in a private group for the cause or mission of your choosing.
    <br /> <br />
    <b> 5.</b> My Petitions: View and manage petitions that you have created on the main site's petition page.
    <br /> <br />
    <b>6.</b> Message Center: Send and read messages to and from other members of your network. You network includes all memorial walls and groups that you
    participate in.
    </p>

    <p><b>This is a Free Service.</b></p>
</div>
<div class="adContainer">Ads go here</div>