<div class="generalPage">
    <div id="contentHeader" >
        <h2 class="contentHeaderTitle">About Angels of Eureka's The Circle of Life</h2>
    </div>
    <h2>Instructions on how to manage your account</h2>

    <p>
        Welcome to your user profile on Angel of Eureka's the Circle of Life.<br />
        From the Dashboard, your user profile account is divided into several functional sections:<br />
        <br />
        <b>1.</b> Angels of Eureka: About our services
        <br />

        <iframe style="max-width: 560px; max-height:315px" src="//www.youtube.com/embed/8IVezgjhfkc" frameborder="0" allowfullscreen></iframe>
        </br /><br />
        <b>2.</b> Creating Your Profile: Account registration and setup.
        <br />
        <iframe style="max-width: 560px; max-height:315px" src="//www.youtube.com/embed/e_wCYtDTCBA" frameborder="0" allowfullscreen></iframe>
        </br /><br />
    <b>3.</b> Your Dashboard: The central location for everything you do on the Cirlce of Life.
    <br />
        <iframe style="max-width: 560px; max-height:315px" src="//www.youtube.com/embed/mciNRDYPjho" frameborder="0" allowfullscreen></iframe>
        </br /> </br />
    <b>4.</b> Private Networks: Connect, engage, encourage and strengthen others.
    </br />
        <iframe style="max-width: 560px; max-height:315px" src="//www.youtube.com/embed/jE-gnVzFRvg" frameborder="0" allowfullscreen></iframe>
    <br /></br />
    <b>5.</b> My Petitions: Create a petition for any cause that you are passionate about.
    <br /> <br />
        <iframe style="max-width: 560px; max-height:315px" src="//www.youtube.com/embed/-pwHClZfa2U" frameborder="0" allowfullscreen></iframe>
    <br />
    <p><b>This is a Free Service.</b></p>
</div>
<div class="adContainer">
    Our Sponsors
    <a href="http://angelsofeureka.com/shop/index.php/" target="_blank" title="Angels of Eureka Gift Shop"><img src="img/angelsofeurekalogo-bw.jpg" alt="Angels of Eureka Shop" /></a>
    <a href="http://www.phojoe.com/AOE.html" target="_blank" title="Photo Joe Photo Restorations"><img src="img/Phojoe_Banner.jpg" alt="Photo Joe Image Restoration" /></a>
    <a href="http://www.wingsofhopelivingforward.org/" target="_blank" title="Wings of Hope Living Forward"><img src="img/wingshope.png" alt="Wings of Hope Living Forward" /></a>
    <a href='http://www.party.myevent.com/?affID=48559' title='Create Any Event Website'><img src='http://www.myevent.com/images/sites/banners/Party/120x60_event.jpg' border='0' alt='Any Event Website'></a>
</div>