<div class="generalPage">
    <div id="contentHeader" class="">
        <h2 class="contentHeaderTitle">Help Resources</h2>
    </div>
    <tabset>
        <tab heading="Alcohol/Substance Abuse"><section>
            <div class="content" data-section-content>
                <div class="automargins row">
                    <div class="content" data-section-content>
                        <b>Alcohol/Substance Abuse</b>
                        <p>
                            <h2>Adult Inpatient Addiction and/or Dual Diagnosis Treatment Centers</h2>
                            <ul> 
                                <li>
                                    The Refuge ''A Healing Place’
                                    855-444-6706
                                    http://therefuge-ahealingplace.com/
                                </li>
                            <li>
                                    Lawlis Peavey PNP Center
                                    (888) 668-0797
                                     www.lawlispeavey.com/
                                </li>
                            <li>
                                    Origins Recovery Centers
                                    (888) U-GET-WELL
                                     www.originsrecovery.com/
                                </li>
                            <li>
                                    Hannah’s House by Origins for Women
                                    (888) 843-8935
                                     www.originsrecovery.com/
                                </li>
                            <li>
                                    Safe Harbor Treatment Center for Women
                                    (877) 660-7623
                                     www.safeharborhouse.com
                                </li>
                            <li>
                                    Onsite Workshops
                                    (800) 341-7432
                                     www.onsiteworkshops.com
                                </li>
                            <li>
                                    Hawaii Island Recovery
                                    (866) 515-5032
                                     www.hawaiiislandrecovery.com/
                                </li>
                            <li>
                                    Cottonwood Tucson Addiction Treatment Facility
                                    (800) 877-4520
                                     www.cottonwooddetucson.com/
                                </li>
                            <li>
                                    Pat Moore Foundation
                                    (888) 426-6086
                                     www.patmoorefoundation.com/
                                </li>
                            <li>
                                    La Hacienda Treatment Center
                                    (800) 749-6160
                                     www.lahacienda.com/
                                </li>
                            <li>
                                    Creative Care Malibu
                                    (800) 832-3280
                                     www.creativecareinc.com/
                                </li>
                            <li>
                                    New Method Wellness
                                    (866) 951-1824
                                     www.newmethodwellness.com
                                </li>
                            <li>
                                    Psychiatric Care Center of Redding, CA
                                    (530) 221-6303
                                     www.pcccares.com
                                </li>
                            <li>
                                    Florida Detox and Wellness Institute
                                    (888) 775-2770
                                     www.floridadetox.com
                                </li>
                            <li>
                                    The Ranch
                                    866-381-8447
                                     www.recoveryranch.com/
                                </li>
                            <li>
                                    The Rose of Newport Beach
                                     www.soberliving.com
                                </li>
                            <li>
                                    Case Palmera
                                     www.casapalmera.com/
                                </li>
                            <li>
                                    Balboa Horizons for Women
                                    (866) 316-4012
                                     www.balboahorizons.com
                                </li>
                            </ul>
                            <h2>Certified Recovery Residences/Aftercare and Sober Living Programs</h2>
                            <ul>
                               <li>
                                    Benchmark Recovery Center (Manor, TX)
                                    (866) 905-4550
                                     www.benchmarkcenter.com/
                                </li>
                                <li>
                                    NYC Sober Living
                                    (646) 549-1845
                                     www.nycsoberliving.com
                                </li>
                            <li>
                                    Gaston House for Men (Dallas, TX)
                                    (214) 902-9881
                                     www.gastonhouse.com/
                                </li>
                            <li>
                                    Windhaven House for Women (Dallas)
                                    (972) 948-2612
                                     www.windhavenhouse.com
                                </li>
                            <li>
                                    Fresh Start Sober Living (Charlotte, NC)
                                    (704) 264-1005
                                     www.freshstartsoberlivingnc.com
                                </li>
                            <li>
                                    Hawaii Island Recovery
                                    (866) 515-5032
                                     www.hawaiiislandrecovery.com/
                                </li>
                            <li>
                                    Eudaimonia Recovery Homes
                                    (512) 799-8704
                                     www.eudaimoniahomes.com/
                                </li>
                            </ul>
                            <h2>Interventionists</h2>
                            <ul>
                                <li>
                                    Debbie Knauss, RN, LCDC (VIP Recovery)
                                    (888) 536-7847
                                     www.viprecovery.com
                                </li>
                            <li>
                                    Vital Intervention Professionals
                                    (888) 536-7847
                                     www.viprecovery.com
                                </li>
                            <li>
                                    Joani Gammill, Intervention RN
                                    (443) 926-4519
                                     www.interventionrn.com/drupal1/
                                </li>
                            </ul>
                            <h2>Sober Escorts and Safe Transport to/from Treatment</h2>
                            <ul>
                                <li>SoberEscorts.com
                                    (877) 218-3800
                                     www.soberescorts.com
                                </li>
                            </ul>
                            <h2>Adolescent Treatment Centers</h2>
                            <ul>
                                <li>Four Winds Ranch Recovery Center
                                    (405) 260-0212
                                     www.fourwindsranchrtc.com/
                                </li>
                            <li>
                                    Turn-About Ranch
                                    (800) 842-1165
                                     www.turnaboutranch.com
                                </li>
                            <li>
                                    Inspirations Teen Rehab Center
                                    (888) 757-6237
                                     www.inspirationsyouth.com/
                                </li>
                            <li>
                                    Focus Adolescent Services
                                    (877) FOCUS-AS
                                     www.focusas.com/Alcohol.html
                                </li>
                            <li>
                                    Hazel Street Recovery Center
                                    (903) 791-0385
                                     www.hazelstreet.com/
                                </li>
                            </ul>
                            <h2>Related Information/Support Resources</h2>
                            <ul>
                                <li>D.A.R.E.
                                    (877) ASK-MADD
                                     www.dare.com/home/default.asp
                                </li>
                            <li>
                                    Mothers Against Drunk Driving (MADD)
                                    (877) ASK-MADD
                                     www.madd.org/
                                </li>
                            <li>
                                    Every 15 Minutes Program
                                    (484) 898-0390
                                     www.every15minutes.com/
                                </li>
                            <li>
                                    Partnership for a Drug-Free America
                                    (855) 378-4373
                                     www.drugfree.org/
                                </li>
                            <li>
                                    American Lung Association
                                    (800) LUNGUSA
                                     www.lungusa.org
                                </li>
                                <li>
                                    Real Occupational Testing Services
                                    (800) 690-4DNA
                                     www.realoccupational.com/
                                </li>
                                <li>
                                    The Sam Spady Foundation
                                    (402) 239-9674
                                     www.samspadyfoundation.org/
                                </li>
                                <li>
                                    National Clearinghouse for Alcohol and Drug Information
                                    (800) 729-6686
                                     www.ncadi.samhsa.gov
                                </li>
                                <li>
                                    National Drug Facts Week
                                    (301) 443-1124
                                     www.drugfactsweek.drugabuse.gov/
                                </li>
                                <li>
                                    NIDA for Teens
                                     www.teens.drugabuse.gov/
                                </li>
                                <li>
                                    National Institute on Drug Abuse (NIDA)
                                     www.drugabuse.gov/nidahome.html
                                </li>
                                <li>
                                    National Association for Children of Alcoholics
                                    (301) 468-0985
                                     www.nacoa.org
                                </li>
                                <li>
                                    Mental Help Net
                                     www.mentalhelp.net
                                </li>
                                <li>
                                    Recovery Happens Counseling Services
                                    (916) 276-0626
                                     www.recoveryhappens.com/
                                </li>
                                <li>
                                    Adult Children of Alcoholics
                                    (310) 534-1815
                                     www.adultchildren.org
                                </li>
                                <li>
                                    National Council on Alcoholism and Drug Dependence, Inc. (NCADD)
                                    (800)-622-2255
                                     www.ncadd.org
                                </li>
                                <li>
                                    Al-Anon and Al-ateen
                                    (757) 563-1600
                                     www.al-anon.alateen.org/
                                </li>
                                <li>
                                    Alcoholics Anonymous
                                    (212) 870-3400
                                     www.alcoholics-anonymous.org
                                </li>
                                <li>
                                    SAMHSA (Substance Abuse & Mental Health Services Administration)
                                     www.findtreatment.samhsa.gov/
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section></tab>
        <tab heading="Anti-bullying Resources">
            <section>
                <div class="content automargins" data-section-content>
                    <b>Anti-bullying Resources</b>
                    <p>
                        <ul>
                            <li>Jeremiah Project 51(866) 721-7385 www.jeremiah51.com/</li>
                            <li>PACER’S National Bullying Prevention Center(888) 248-0822 www.pacer.org/bullying/</li>
                            <li>Gay & Lesbian Alliance Against Defamation (GLAAD)(323) 933-2240 (LA) / (212) 629-3322 (NY) www.glaad.org/</li>
                            <li>StrHATE Talk760-559-1627 www.strhatetalk.com/</li>
                            <li>The Gay Christian Network(919) 786-0000 www.gaychristian.net/</li>
                            <li>The Rainbow Center(770) 677-9471 www.therainbowcenter.org/</li>
                            <li>The Trevor Project(866) 488-7386 www.thetrevorproject.org/</li>
                            <li>LifeWorks Program (L.A. Gay & Lesbian Center)(818) 506-5344 www.lifeworksla.org</li>
                            <li>Point Foundation(866) 337-6468 www.pointfoundation.org/index10.html</li>
                            <li>Gay, Lesbian & Straight Education Network (GLSEN)(212) 727-0135 www.glsen.org</li>
                            <li>Gay-Straight Alliance Network (GSA)(415) 552-4229 www.gsanetwork.org/</li>
                            <li>Make It Better Project(415) 552-4229 www.makeitbetterproject.org/</li>
                            <li>Stop Cyberbullying(201) 463-8663 www.stopcyberbullying.org</li>
                        </ul>
                    </p>
                </div>
            </section></tab>
        <tab heading="Anxiety Disorder">
        <section>
            <div class="content automargins" data-section-content>
                <b>Anxiety Disorder</b>
                <p>
                    <ul>
                        <li>BAUD Energetics, Corp. www.baudenergetics.com/</li>
                        <li>Anxiety Natural Remedies www.anxietydisordersclinic.com</li>
                        <li>Fearless Flight480-730-9495 www.fearlessflight.com</li>
                        <li>Association for Contextual Behavioral Science (ACBS) www.contextualpsychology.org</li>
                        <li>National Alliance for the Mentally Ill(800) 950-6264 www.nami.org</li>
                        <li>National Mental Health Association(800) 969-6642 www.nmha.org</li>
                        <li>National Mental Health Consumer’s Self-Help Clearinghouse(800) 553-4539 www.mhselfhelp.org</li>
                        <li>Phobics Anonymous(760) 322-2673 www.healsocialanxiety.com</li>
                        <li>Freedom From Fear(718) 351-1717 www.freedomfromfear.org</li>
                        <li>International OCD Foundation(617) 973-5801 www.ocfoundation.org</li>
                        <li>Understanding OCDunderstanding_ocd.tripod.com/</li>
                        <li>Association for the Advancement of Behavior Therapy(212) 647-1890 www.abct.org</li>
                        <li>American Psychological Association(800) 374-2721 www.apa.org/</li>
                        <li>American Psychiatric Association(888) 357-7924 www.psych.org/</li>
                        <li>Anxiety Disorders Association of America(240) 485-1001 www.adaa.org/</li>
                        <li>National Institute of Mental Health(866) 615-6464</li>
                    </ul>
                </p>
            </div>
        </section></tab>
        <tab heading="Domestic Violence">
            <section>
                <div class="content automargins" data-section-content>
                    <b>Domestic Violence</b>
                    <p>
                        <ul>
                            <li>Center of Excellence on Elder Abuse & Neglect714.456. 6466 www.centeronelderabuse.org</li>
                            <li>Elder Abuse Forensic Center(714) 825-3087 www.elderabuseforensiccenter.com/</li>
                            <li>Dr. Jill Murray www.drjillmurray.com</li>
                            <li>Dean Tong, AbuseExcuse.com(813) 657-4930 / (813) 417-5362 www.abuse-excuse.com</li>
                            <li>Youth Service Bureau www.ysbworks.com</li>
                            <li>HopeLine from Verizon#HOPE (4673)aboutus.verizonwireless.com/communityservice/hopeLine.html</li>
                            <li>Respect WORKS!310-286-3383 www.respect-works.com/respect-works</li>
                            <li>WomensLaw.org www.womenslaw.org/index.php</li>
                            <li>KidsHealth www.kidshealth.org</li>
                            <li>Teen Relationships(800) 300-1080 www.teenrelationships.org</li>
                            <li>Love is Not Abuse(800) 799-SAFE (7233) www.loveisnotabuse.com</li>
                            <li>National Sexual Violence Resource Center(877) 739.3895 www.nsvrc.org</li>
                            <li>International Inventory of Domestic Violence Services www.hotpeachpages.net/a/countries.html</li>
                            <li>Futures Without Violence(800) 595-4889 / (415) 678-5500 www.futureswithoutviolence.org/content/features/detail/790/</li>
                            <li>Rape Aggression Defense System (RAD)(225) 791-4430 www.rad-systems.com</li>
                            <li>Rape Abuse and Incest National Network (RAINN)(800) 656-HOPE www.rainn.org</li>
                            <li>Break the Cycle(888) 988-TEEN www.breakthecycle.org</li>
                            <li>Safe Place(512) 267-SAFE www.safeplace.org</li>
                            <li>National Teen Dating Abuse Helpline(866) 331-9474 www.loveisrespect.org/</li>
                            <li>National Center on Domestic Violence, Trauma & Mental Health(312) 726-7020 www.nationalcenterdvtraumamh.org</li>
                            <li>WomensHealth.gov(800) 994-9662 www.womenshealth.gov/violence-against-women/</li>
                            <li>The Battered Women’s Justice Project(800) 903-0111 / (215) 351-0010 www.bwjp.org</li>
                            <li>National Resource Center on Domestic Violence(800) 537-2238 www.nrcdv.org</li>
                            <li>The Family Violence Prevention Fund(415) 252-8900 www.endabuse.org</li>
                            <li>Stop Family Violence www.stopfamilyviolence.com</li>
                            <li>Tubman Family Alliance(612) 825-0000 / (651) 770-0777 www.tubman.org/tubman/</li>
                            <li>Relationship Training Institute(619) 296-8103 www.rtiprojects.org</li>
                            <li>The National Center for Victims of Crime(202) 467-8700 www.ncvc.org</li>
                            <li>National Coalition Against Domestic Violence(202) 745-1211 / (303) 839-1852 www.ncadv.org</li>
                            <li>American Psychiatric Association (APA)(703) 907-7300 www.healthyminds.org</li>
                            <li>National Network to End Domestic Violence(202) 543-5566 www.nnedv.org</li>
                            <li>National Domestic Violence Hotline(800) 799-SAFE (7233) / (800) 787-3224 (TTY) www.thehotline.org</li>
                            <li>Shelter from the Storm www.shelterfromthestorminc.org</li>
                            <li>Childhelp USA National Child Abuse Hotline(800) 422-4453 / (800) 4-A-CHILD www.childhelp.org</li>
                            <li>National Council on Child Abuse and Family Violence(202) 429-6695 www.nccafv.org</li>
                        </ul>
                    </p>
                </div>
        </section></tab>
        <tab heading="Eating Disorder">
            <section>
                <div class="content automargins" data-section-content>
                    <b>Eating Disorder</b>
                    <p>
                    <ul>
                        <li>Chenese Lewis, Official Spokesperson for Binge Eating Disorder Association www.cheneselewis.com/</li>
                        <li>Rogers Memorial Hospital(800) 767-4411 www.rogershospital.org/residential-center/eating-disorder-center/</li>
                        <li>Casa Palmera(866) 768-6719 www.casapalmera.com/</li>
                        <li>University Medical Center at Princeton, Eating Disorders Program www.princetonhcs.org/default.aspx?p=7440</li>
                        <li>Dr. Michael Strober(310) 825-2982portal.ctrl.ucla.edu/npi/institution/personnel?personnel%5fid=9478</li>
                        <li>Dr. Michael Barrett(888) 224-8250 www.centerforchange.com/</li>
                        <li>Lawlis Peavey PsychoNeuroPlasticity (PNP) Center(972) 434-5454lawlispeavey.com</li>
                        <li>Creative Care(800) 832-3280 www.creativecareinc.com</li>
                        <li>La Hacienda Treatment Center(800) 749-6160 www.lahacienda.com</li>
                        <li>Dr. Laurie Humphries, M.D.(859) 257-1000 www.mc.uky.edu/psychiatry</li>
                        <li>F.E.A.S.T. — Families Empowered and Supporting Treatment of Eating Disorders(540) 227-8518 www.feast-ed.org</li>
                        <li>Dr. Cynthia Bulik www.cravethebook.com</li>
                        <li>A Web Site of Focus on the Family(800) A-FAMILY www.troubledwith.com</li>
                        <li>From the American Academy of Family Physicians www.familydoctor.org/063.xml</li>
                        <li>Website on Eating Disorders(424) 253-2820 www.eatingdisordersonline.com</li>
                        <li>Something-Fishy www.something-fishy.org</li>
                        <li>UNC Eating Disorders Program(919) 966-7012 www.psychiatry.unc.edu/eatingdisorders</li>
                        <li>UCAN: Uniting Couples in the Treatment of Anorexia Nervosa www.psychiatry.unc.edu/eatingdisorders/</li>
                        <li>Castlewood Treatment Center for Eating Disorders(888) 822-8938 www.castlewoodtc.com/</li>
                        <li>New Directions Eating Disorders Center(818) 377-4442 www.newdirectionseatingdisorders.com/</li>
                        <li>Overeaters Anonymous(505) 891-2664 www.oa.org/</li>
                        <li>National Association of Anorexia Nervosa and Associated Disorders(630) 577-1330 www.anad.org</li>
                        <li>Anorexia Nervosa and Related Eating Disorders, Inc. www.anred.com</li>
                        <li>Eating Disorder Referral and Information Center www.edreferral.com</li>
                        <li>Jenni Schaefer, Ambassador for the National Eating Disorders Association www.jennischaefer.com/</li>
                        <li>National Eating Disorders Association(212) 575-6200 www.nationaleatingdisorders.org</li>
                    </ul>

                    </p>
                </div>
        </section></tab>
        <tab heading="General & Mental Health">
            <section>
                <div class="content automargins" data-section-content>
                    <b>General & Mental Health</b>
                    <p>
                    <ul>
                        <li>Onsite Workshops(800) 341-7432 www.onsiteworkshops.com</li>
                        <li>Ron Goldman Foundation www.rongoldmanfoundation.org</li>
                        <li>ALS Association(800) 782-4747 www.alsa.org</li>
                        <li>Thyroflex(480) NITEK-MD www.thyroflex.com</li>
                        <li>The Albert Ellis Institute(212) 535-0822 www.albertellisinstitute.org/</li>
                        <li>International OCD Foundation(617) 973-5801 www.ocfoundation.org/</li>
                        <li>Minnesota Autism Center(952) 767-4200 www.mnautism.org/</li>
                        <li>University of Minnesota Impulse Control Disorders Clinic(612) 625-2008 www.impulsecontroldisorders.org/</li>
                        <li>National Marrow Donor Program(800) 507-5427 www.marrow.org/</li>
                        <li>City of Hope Cancer Center(626) 256-HOPE www.cityofhope.org/Pages/default.aspx</li>
                        <li>National Action Against Obesity (NAAO) www.actionagainstobesity.com/NationalActionAgainstObesity/NAAO.html</li>
                        <li>Stand InBalance(818) 714-1740 www.inbalancewithhorses.com/</li>
                        <li>Family Tree DNA www.thewarriorgene.com/</li>
                        <li>Shannon Munford, Anger Management Counselor www.daybreakservices.com/</li>
                        <li>Barb Friedman, President of Organize It(800) 210-7712 www.organizeit.com/</li>
                        <li>MINDBody Relaxation Series by Dr. Frank Lawlis www.mindbodyseries.com</li>
                        <li>MedlinePlus www.nlm.nih.gov/medlineplus</li>
                        <li>ULifeline www.ulifeline.org</li>
                        <li>Elder Care Locator Service(800) 677-1116 www.eldercare.gov/Eldercare.NET/Public/Index.aspx</li>
                        <li>Covenant House Hotline(800) 999-9999 www.covenanthouse.org/</li>
                        <li>Children and Adults with Attention Deficit/Hyperactivity Disorder(800) 233-4050 www.chadd.org</li>
                        <li>Spruce Mountain Inn Residential Treatment Program(802) 454-8353 www.sprucemountaininn.com</li>
                        <li>Life Language Institute www.lifelanguages.com/</li>
                        <li>My Very Necessary Medical I.D. Card(561) 443-5508 www.verynecessaryid.com/</li>
                        <li>Creative Care(800) 832-3280 www.creativecareinc.com/</li>
                        <li>La Hacienda Treatment Center(800) 749-6160 www.lahacienda.com</li>
                        <li>The Glendon Association(805) 681-0415 www.glendon.org/</li>
                        <li>Psychalive www.psychalive.org/</li>
                        <li>Mental Help Net www.mentalhelp.net</li>
                        <li>National Mental Health Association of America (MHA)(703) 684-7722 www.mentalhealthamerica.net/go/information/get-info/trichotillomania</li>
                        <li>American Autoimmune Related Diseases Association, Inc. www.aarda.org</li>
                        <li>National Institute of Mental Health(301) 443-4513 www.nimh.nih.gov/publicat/index.cfm</li>
                        <li>National Institutes of Health(301) 496-4000 www.nih.gov/</li>
                        <li>National Center for Complementary and Alternative Medicine(888) 644-6226 www.nccam.nih.gov</li>
                        <li>Mayo Clinic www.mayoclinic.com</li>
                        <li>Los Angeles Body Dysmorphic Disorder and Body Image Clinic(310) 741-2000 www.bddclinic.info/joomla/</li>
                        <li>Trichotillomania Learning Center (TLC)(831) 457-1004 www.trich.org/</li>
                        <li>Mental Health America Resource Center(703) 684-7722 www.mentalhealthamerica.net/go/faqs</li>
                        <li>Medline Plus www.nlm.nih.gov/medlineplus/ency/article/007224.htm</li>
                        <li>American Psychological Association(800) 374-2721 www.apa.org/</li>
                        <li>Stop It Now!(888) PREVENT www.stopitnow.com/warnings.html</li>
                        <li>National Center for Post Traumatic Stress Disorder www.ncptsd.va.gov/facts/specific/fs_child_sexual_abuse.html</li>
                        <li>International Academy of Compounding Pharmacists (IACP)(800) 927-4227 www.iacprx.org/site/PageServer?pagename=home_page</li>
                        <li>FindCounseling.com www.findcounseling.com/journal/child-abuse/sexual-abuse-incest-statistics.html</li>
                        <li>Healthfinder www.healthfinder.gov</li>
                        <li>Helpguide.org www.helpguide.org</li>
                        <li>Marriage Help Centers (MHC)(949) 734-5433 www.marriagehelpcenters.com/</li>
                        <li>American Medical Response (AMR)(303) 495-1200 www.amr.net/</li>
                        <li>Larry King Cardiac Foundation www.larrykingcardiacfoundation.org/</li>
                        <li>Leslie Rogers(303) 814-5411 www.leslierogerscounselor.com/</li>
                        <li>Enough Is Enough(888) 744-0004 www.enough.org</li>
                        <li>LIGHT Health & Wellness Comprehensive Services, Inc.(410) 235-3220 www.lighthealth.org/</li>
                        <li>Prader-Willi Syndrome Association(800) 926-4797 www.pwsausa.org/</li>
                        <li>Augie’s Quest www.augiesquest.org/</li>
                        <li>eHiVtest.com(800) 456-9913 www.ehivtest.com/</li>
                        <li>Steve Hassan, Freedom of Mind Resource Center(617) 396-4638 www.freedomofmind.com/</li>
                        <li>The Menninger Clinic(800) 351-9058 www.menningerclinic.com</li>
                        <li>Institute of HeartMath(831) 338-8500 www.heartmath.org/</li>
                        <li>The Counseling Center(914) 793-3388 www.counselingcenter.org/</li>
                        <li>New Beginnings Counseling Center(805) 963-7777 www.newbeginningscounselingcenter.org/</li>
                        <li>United Brachial Plexus Network, Inc.(866) 877-7004 www.ubpn.org/</li>
                        <li>National Education Association Health Information Network(202) 822-7570 www.neahin.org/</li>
                        <li>By My Side: Taking Charge of Cancer Treatment www.chemotherapy.com</li>
                        <li>Vital Intervention Professionals(888) 536-7847 www.viprecovery.com</li>
                        <li>On-Line Gamers Anonymous(612) 245-1115 www.olganon.org/</li>
                        <li>Sexaholics Anonymous www.sa.org</li>
                        <li>Sex Addicts Anonymous(800) 477-8191 www.saa-recovery.org/</li>
                        <li>National Sleep Foundation(703) 243-1697 www.sleepfoundation.org/</li>
                        <li>American Academy of Child and Adolescent Psychiatry(202) 966-7300 www.aacap.org/</li>
                    </ul>

                    </p>
                </div>
        </section></tab>
        <tab heading="Internet Safety">
            <section>
                <div class="content automargins" data-section-content>
                    <b>Internet Safety</b>
                    <p>
                    <ul>
                        <li>Reputation Defender(877) 258-3166 www.reputation.com/</li>
                        <li>Central Florida Crimeline Program(800) 423-8477 www.crimeline.org/</li>
                        <li>i-SAFE Inc.(760) 603-7911 www.isafe.org/</li>
                        <li>InternetChildSafety.net www.internetchildsafety.net/main.html</li>
                        <li>Connect with Kids(888) 598-KIDS / (404) 459-8081 www.parentsandcompany.com/about.shtml</li>
                        <li>SonicWALL, Inc.(888) 557-6642 www.sonicwall.com/us/products.html</li>
                        <li>iKeepSafe(866) 794-7233 www.ikeepsafe.org/</li>
                        <li>Lori Getz, Cyber Education Consultants(818) 804-8232 www.lorigetz.com/</li>
                        <li>Child Exploitation and Online Protection Centre (CEOP)(408) 879-9118  www.yousendit.com/transfer.php?action=batch_download&send_id=767630852&email=0fdb86a6d7b9cd544b15190a70656f35</li>
                        <li>KidsHealth.org www.kidshealth.org/parent/positive/family/net_safety.html</li>
                        <li>WebWiseKids.org www.webwisekids.org/programs.html</li>
                        <li>Safekids.com www.safekids.com/child-safety-on-the-information-highway/</li>
                        <li>Kidshield.com www.kidshield.com/steps/index.htm</li>
                        <li>ProtectKids.com www.protectkids.com/dangers/onlinepred.htm</li>
                        <li>CyberAngels Online Safety Education Program www.cyberangels.org</li>
                        <li>My Mobile Watchdog(888) 377-8200 www.mymobilewatchdog.com/</li>
                        <li>NetSmartz Workshop (National Center for Missing & Exploited Children)(800) 843-5678 www.netsmartz.org/Overview/AboutUs</li>
                        <li>FBI Publications: A Parent’s Guide to Internet Safety(202) 324-3000 www.fbi.gov/stats-services/publications/parent-guide/parent-guide</li>
                        <li>Cyber Tip Line (National Center for Missing & Exploited Children)(800) 843-5678 www.CyberTipLine.com</li>
                    </ul>

                    </p>
                </div>
        </section></tab>
        <tab heading="Parental Resources">
            <section>
                <div class="content automargins" data-section-content>
                    <b>Parenting Resources</b>
                    <p>
                    <ul>
                        <li>Amber Alert - http:// www.amberalert.com/about/amber-alert/facts/</li>
                        <li>DadsDivorce.com www.dadsdivorce.com/</li>
                        <li>Nannies4Hire.com(402) 379-4121 www.nannies4hire.com/index.asp</li>
                        <li>BabyCenter.com www.babycenter.com/</li>
                        <li>The Happiest Baby(888) 980-8062 www.happiestbaby.com/</li>
                        <li>American Academy of Pediatrics(847) 434-4000 www.aap.org/</li>
                        <li>KidsPeace(800) 25-PEACE (73223) www.kidspeace.org/Default.aspx</li>
                        <li>Big Brothers Big Sisters(215) 567-7000 www.bbbs.org</li>
                        <li>Family and Home Network www.familyandhome.org/</li>
                        <li>Parental Alienation Awareness Organization (PAAO)(416) 840-5654 www.paawareness.org/</li>
                        <li>Dream Center(213) 273-7000 www.dreamcenter.org/</li>
                        <li>Families for Russian and Ukrainian Adoption www.frua.org/</li>
                        <li>Joint Council on International Children’s Services(703) 535-8045 www.jointcouncil.org/</li>
                        <li>Court Appointed Special Advocates (CASA)(800) 628-3233 www.casaforchildren.org</li>
                        <li>Vista Del Mar Adoption and Foster Care Services(310) 836-1223 www.vistadelmar.org</li>
                        <li>Congressional Coalition on Adoption Institute (CCAI)(202) 544-850 www.ccainstitute.org/</li>
                        <li>I Heart Adoption(800) 877-OPEN www.iheartadoption.org/</li>
                        <li>National Council for Adoption(703) 299-6633 www.adoptioncouncil.org/</li>
                        <li>AdoptUSKids(888) 200-4005 www.adoptuskids.org/</li>
                        <li>Adoption.com(480) 446-0500 www.adoption.com/</li>
                        <li>Gladney Center for Adoption(817) 922-6000 www.adoptionsbygladney.com/</li>
                        <li>The Fertility Institutes(800) 222-2802 www.fertility-docs.com/</li>
                        <li>California Cryobank(866) 927-9622 www.cryobank.com/</li>
                        <li>Shady Grove Fertility(888) IVF-0500 www.shadygrovefertility.com/</li>
                        <li>USC Fertility(213) 975-9990 www.uscfertility.org/</li>
                        <li>Sunrise Surrogacy Solutions(888) 400-0944 www.sunrisesurrogacy.com/</li>
                        <li>Center for Surrogate Parenting, Inc.(818) 788-8288 www.creatingfamilies.com</li>
                        <li>Los Angeles County Department of Children and Family Services(213) 351-5507dcfs.co.la.ca.us/</li>
                        <li>Child Welfare Information Gateway(800) 394-3366 www.childwelfare.gov/</li>
                        <li>Project Cuddle(888) 628-3353 www.projectcuddle.org/</li>
                        <li>Grandparents.com(646) 839-8800 www.grandparents.com</li>
                        <li>Handle with Care(845) 255-4031 www.handlewithcare.com/</li>
                        <li>Focus on the Family(800) A-FAMILY (232-6459) www.focusonthefamily.com/</li>
                        <li>National School Safety and Security Services(216) 251-3067 www.schoolsecurity.org/</li>
                        <li>Kids R Kids Schools & Academies(770) 279-7777 www.kidsrkids.com/</li>
                        <li>Boys & Girls Club of America(404) 487-5700 www.bgca.org</li>
                        <li>Junior Achievement(719) 540-8000 www.ja.org</li>
                        <li>YMCA(800) 872-9622 www.ymca.net</li>
                        <li>The National Association of Non-Custodial Moms, Inc. www.nancm.com</li>
                        <li>Betsy Brown Braun, Child Development and Behavior Specialist(310) 459-9209 www.betsybrownbraun.com/</li>
                        <li>Yale Parenting Center(203) 432-9993 www.childconductclinic.yale.edu/</li>
                        <li>American Academy of Child and Adolescent Psychiatry(202) 966-7300 www.aacap.org/</li>
                        <li>Real Occupational Testing Services(800) 690-4DNA www.realoccupational.com/</li>
                        <li>Special Needs Network(213) 389-7100 www.specialneedsnetwork.net/</li>
                        <li>KidsmART(504) 410-1990 www.kidsmart.org/</li>
                        <li>Young Aspirations, Young Artists (YAYA)(504) 529-3306 www.yayainc.com/</li>
                        <li>National PTA(800) 307-4PTA (4782) www.pta.org/</li>
                        <li>New Start Transports(877) 258-2423 www.newstarttransports.com/</li>
                        <li>Get On the Bus(818) 980-7714 www.getonthebus.us/</li>
                        <li>Postpartum Support International(800) 944-4PPD www.postpartum.net/</li>
                        <li>Dr. Michele Borba, Child Expert www.micheleborba.com/</li>
                        <li>Angel Faces(760) 487-1720 www.angelfacesretreat.org/af/</li>
                        <li>Parents, Families and Friends of Lesbians and Gays(202) 467-8180 www.community.pflag.org/</li>
                        <li>The Surviving Parents Coalition(888) 301-4343 www.spcoalition.org/</li>
                        <li>Play It Safe(619) 723-0036 www.playitsafedefense.com/</li>
                        <li>Connect with Kids: Generation Rx(888) 598-KIDS www.connectwithkids.com/generationrx/</li>
                        <li>Copper Canyon Academy(877) 617-1222 www.coppercanyonacademy.com/</li>
                        <li>Youthcare Residential Treatment Center(800) 786-4924 www.youthcare.com/</li>
                        <li>Family IQ(949) 709-1120 www.familyiq.com/home/</li>
                        <li>Family Watchdog(949) 209-8768 www.familywatchdog.us/</li>
                        <li>Outback Therapeutic Expeditions(800) 817-1899 www.outbacktreatment.com/</li>
                        <li>Provo Canyon School(800) 848-9819 www.provocanyon.com/</li>
                        <li>Happy Hill Farm Academy(254) 897-4822 www.happyhillfarm.org/</li>
                        <li>Camp to Belong(520) 413-1395 www.camptobelong.org/</li>
                        <li>HerShe Group(877) 460-5508 www.hershegroup.org/</li>
                        <li>Treehouse Foundation(413) 527-7966 www.treehousecommunities.org/</li>
                        <li>National Runaway Switchboard(800) RUNAWAY www.1800runaway.org/</li>
                        <li>Laura Recovery Center for Missing Children(866) 898-5723 www.lrcf.org/</li>
                        <li>Bring Sean Home Foundation www.bringseanhome.org/</li>
                        <li>The Shawn Hornbeck Foundation(866) 757-5329 www.shawnhornbeckfoundation.com/</li>
                        <li>Parents. The Anti-Drug(800) 662-HELP www.theantidrug.com/</li>
                        <li>The Doe Network(931) 397-3893 www.doenetwork.org/</li>
                        <li>FBI List of Kidnappings and Missing Persons(800) CALLFBI (225-5324) www.fbi.gov/wanted/kidnap</li>
                        <li>Missing Children Society of Canada (MCSC)(800) 661-6160 www.mcsc.ca</li>
                        <li>Project Child Save(626) 696-3575 www.projectchildsave.com/</li>
                        <li>DNA Diagnostics Center(800) 613-5768 www.dnacenter.com/</li>
                        <li>The National Center for Missing and Exploited Children  (800) THE-LOST www.missingkids.com</li>
                    </ul>

                    </p>
                </div>
        </section></tab>
        <tab heading="Suicide Prevention">
            <section>
                <div class="content automargins" data-section-content>
                    <b>Suicide Prevention</b>
                    <p>
                    <ul>
                        <li>The Bridge Rail Foundation www.bridgerail.org/</li>
                        <li>The Trevor Project(310) 271-8845 www.thetrevorproject.org/</li>
                        <li>American Academy of Child and Adolescent Psychiatry(202) 966-7300 www.aacap.org/page.ww?name=Self-Injury+in+Adolescents§ion=Facts+for+Families</li>
                        <li>American Foundation for Suicide Prevention(888) 333-AFSP (2377) www.afsp.org/</li>
                        <li>National Suicide Prevention Lifeline(800) 273-TALK (8255) www.suicidepreventionlifeline.org/</li>
                        <li>SAMSHA Suicide Prevention(877) 726-4772http:// www.samhsa.gov/prevention/suicide.aspx</li>
                        <li>Vista Del Mar Child and Family Services Self-Injury Program(310) 836-1223 www.vistadelmar.org</li>
                        <li>Self-Injury Information www.palace.net/llama/psych/self.html</li>
                    </ul>

                    </p>
                </div>
        </section></tab>
        <tab heading="Teenager Resources">
            <section>
                <div class="content automargins" data-section-content>
                    <b>Teen Resources</b>
                    <p>
                    <ul>
                        <li>Turn-About Ranch(800) 842-1165 www.turnaboutranch.com</li>
                        <li>The College Safety Zone(412) 373-5667 www.collegesafetyzone.com</li>
                        <li>Scholarship America(800) 537-4180 www.scholarshipamerica.org</li>
                        <li>Boys Town National Hotline(800) 448-3000www.boystown.org/national-hotline</li>
                        <li>Youth Empowerment Project(504) 522-1316 www.youthempowermentproject.org</li>
                        <li>AskTheJudge.Info www.askthejudge.info</li>
                        <li>Stay Teen www.stayteen.org</li>
                        <li>The National Campaign to Prevent Teen and Unplanned Pregnancy(202) 478-8500 www.thenationalcampaign.org</li>
                        <li>Teen Relationships(800) 300-1080 www.teenrelationships.org</li>
                        <li>ReachOut(800) 449-3000us.reachout.com</li>
                        <li>National Youth Crisis Hotline(800) 448-4663 www.allaboutcounseling.com/crisis_hotlines.htm#crisis12</li>
                        <li>About Teen Depression(866) 845-1392 www.about-teen-depression.com</li>
                        <li>Focus Adolescent Services(410) 341-4216 www.focusas.com</li>
                        <li>Aspen Education Group(888) 972-7736 www.aspeneducation.com</li>
                        <li>Academy at Swift River(800) 258-1770 www.swiftriver.com</li>
                        <li>Copper Canyon Academy(877) 617-1222 www.coppercanyonacademy.com</li>
                        <li>SUWS Wilderness Programs(888) 879-7897suws.com</li>
                        <li>Four Winds Ranch(405) 260-0212 www.fourwindsranchrtc.com</li>
                        <li>Mountain Homes Youth Ranch(866) 781-2450 www.mhyr.com</li>
                        <li>Street Teens(702) 809-3585 www.streetteens.org</li>
                        <li>American Academy of Child and Adolescent Psychiatry(202) 966-7300 www.aacap.org/</li>
                    </ul>

                    </p>
                </div>
        </section></tab>
        <tab heading="Women's Health">
            <section>
                <div class="content automargins" data-section-content>
                    <b>Women's Health</b>
                    <p>
                    <ul>
                        <li>Safe Harbor Treatment Center for Women(877) 660-7623 www.safeharborhouse.com</li>
                        <li>PMS Treatment Clinic(626) 447-0679 www.pmstreatmentclinic.com</li>
                        <li>Women Helping Women(732) 549-6000 www.whwnj.com</li>
                        <li>Women of Faith(888) 49-FAITH www.womenoffaith.com</li>
                        <li>HER Foundation www.hyperemesis.org</li>
                        <li>Y-ME Breast Cancer Support(800) 221-2141 www.y-me.org</li>
                        <li>The Rape Aggression Defense System (R.A.D.)(225) 791-4430 www.rad-systems.com</li>
                        <li>Las Colinas Pharmacy Compounding & Wellness Center(972) 580-1814 www.lascolinaspharmacy.com</li>
                        <li>Dr. Judith Reichman(310) 659-9690 www.judyreichman.com</li>
                        <li>Dr. William H. Parker(310) 451-8144 www.parkermd.com</li>
                        <li>Dr. Amy Rosenman(310) 451-8144 www.rosenmanmd.com</li>
                    </ul>

                    </p>
                </div>
        </section></tab>
        <tab heading="Misc. Resources">
            <section>
                <div class="content automargins" data-section-content>
                    <b>Misc Resources</b>
                    <p>
                    <ul>
                        <li>The DIL Sisterhood  www.motherinlawhell.com/</li>
                        <li>U.S. Senate  www.senate.gov/general/contact_information/senators_cfm.cfm</li>
                        <li>U.S. House of Representativeswriterep.house.gov/writerep/welcome.shtml</li>
                        <li>American Red Cross(800) HELP-NO  wwww.redcross.org/</li>
                        <li>Feeding America(877) 817-2307  www.feedingamerica.org/</li>
                        <li>Habitat for Humanity(800) 422-4828  www.habitat.org/</li>
                        <li>Mercy Corps(888) 256-1900  www.mercycorps.org/</li>
                        <li>United Way(800) 272-4630  www.liveunited.org/</li>
                        <li>Salvation Army(800) 725-2769  www.salvationarmyusa.org/usn/  www_usn_2.nsf</li>
                        <li>USAonWatch.org(703) 836-7827  www.usaonwatch.org/</li>
                        <li>Toys for Tots Foundation  www.toysfortots.org/</li>
                        <li>ABC Polygraph(269) 679-3678  www.abcpolygraph.com/</li>
                        <li>Best Friends Animal Society(435) 644-2001  www.bestfriends.org/index.htm</li>
                        <li>Animals Anonymous Relief Fund Network  www.aarf-us.com/</li>
                        <li>Administration on Aging(202) 619-0724  www.aoa.gov/</li>
                        <li>The Joseph Project(937) 427-1912 ex 114  www.thejosephproject.net/</li>
                        <li>Florida Boulevard Baptist Church(225) 272-3740  www.fbbc.org/</li>
                        <li>Perkins School for the Blind(617) 924-3434  www.perkins.org/</li>
                        <li>The Key Laser Institute for Aesthetic Medicine(800) 459-6677  www.keylaserinstitute.com/</li>
                        <li>Tattoo MD Laser Clinic and Medi-Spa(877) 822-6352  www.tattoomdla.com/</li>
                        <li>Stalking Alert  www.stalkingalert.com/</li>
                        <li>National Center for Victims of Crime – Stalking Resource Center(202) 467-8700  www.ncvc.org/src/main.aspx?dbID=dash_home</li>
                        <li>National Center for Victims of Crime(202) 467-8700  www.ncvc.org/ncvc/main.aspx</li>
                        <li>K. Griff Investigations & Civil Processing, Inc.(800) 4-K-GRIFF  www.kgriff.com/</li>
                        <li>Works of Life Ministries(888) 228-7320  www.worksoflife.org/</li>
                        <li>O, The Oprah Magazine  www.oprah.com/omagazine.html</li>
                        <li>Linda Cobb, Queen of Clean  www.queenofclean.com/</li>
                        <li>National Association of Professional Organizers(856) 380-6828  www.napo.net/</li>
                        <li>Delphi Center for Organization(888) 229-5346  www.centerfororganization.com/</li>
                        <li>Beth Johnson’s Clutter Workshop  www.clutterworkshop.com/
                        <li>1-800-Got-Junk(800) 468-5865  www.1800gotjunk.com/</li>
                        <li>National Emergency Number Association(202) 466-4911  www.nena.org/</li>
                        <li>FlyersRights.org(877) 359-3776  www.flyersrights.org/</li>
                        <li>Donate Life America(804) 377-3580  www.donatelife.net/</li>
                        <li>Hang Up – Save a Life(801) 859-3553  www.hangupsavealife.com/</li>
                        <li>On-Line Gamers Anonymous(612) 245-1115  www.olganon.org/</li>
                        <li>Northwestern University Center on Wrongful Convictions(312) 503-2391  www.law.northwestern.edu/wrongfulconvictions/</li>
                        <li>Mastering Life Ministries  www.masteringlife.org/</li>
                        <li>MyFamily.com(800) 262-3787  www.myfamily.com</li>
                        <li>Sexaholics Anonymous  www.sa.org</li>
                        <li>Sex Addicts Anonymous(800) 477-8191  www.saa-recovery.org/</li>
                        <li>The Diversity Foundation(801) 216-2122  www.smiles-for-diversity.org/</li>
                        <li>Fisher House Foundation(888) 294-8560  www.fisherhouse.org/</li>
                        <li>Children’s Defense Fund(800) CDF-1200  www.childrensdefense.org/index-1.html</li>
                        <li>Sleep Tracker(800) 617-4509  www.sleeptracker.com/</li>
                        <li>National Sleep Foundation(703) 243-1697  www.sleepfoundation.org/</li>
                        <li>Operation Bedding  www.adamconboymemorialfund.org/</li>
                        <li>Reputation Defender(877) 720-6488  www.reputation.com/</li>
                        <li>Understand.com(800) 747-9002  www.understand.com/Intro.aspx</li>
                        <li>Federal Trade Commission(877) FTC-HELP  www.ftc.gov/</li>
                        <li>Navigenics(866) 522-1585  www.navigenics.com/</li>
                        <li>Advocacy Outreach(512) 281-4180  www.advocacyoutreach.org/</li>
                        <li>Culture of Future(310) 584-1021  www.cultureoffuture.com/</li>
                        <li>Urban Entertainment Institute(323) 565-4004  www.urbanent.org/</li>
                        <li>CereScan(720) 242-9081  www.brainmattersinc.com/</li>
                        <li>Tap Project(877) PROJ-TAP  www.tapproject.org/</li>
                        <li>Unicef(212) 686-5522  www.unicef.org/</li>
                        <li>Partners in Health(617) 998-8922  www.standwithhaiti.org/page/outreach/view/haitiearthquake/jennydubin
                        <li>DocInfos1.fsmb.org/docinfo/</li>
                        <li>Life after Innocence Project(312) 915-7120  www.luc.edu/law/lifeafterinnocence/</li>
                        <li>Computer Education Institute(219) 926-5740  www.cei-edu.com/</li>
                        <li>Let’s Bring Them Home(800) 690-FIND  www.lbth.org/ncma/index.php</li>
                        <li>The Homeless Voice(954) 92-HELP-1  www.homelessvoice.org/</li>
                        <li>The Midnight Mission(213) 624-9258  www.midnightmission.org/</li>
                        <li>Florida Coalition for the Homeless(877) 205-0021  www.fchonline.org/</li>
                        <li>National Coalition for the Homeless(202) 462-4822  www.nationalhomeless.org/</li>
                        <li>Innocorp, ltd.(800) 272-5023  www.fatalvision.com/</li>
                        <li>Norred & Associates, Inc.(800) 962-6363  www.norred.com/index.html</li>
                        <li>Snowball Express  www.snowballexpress.org/</li>
                        <li>Iraq and Afghanistan Veterans of America(212) 982-9699  www.iava.org/</li>
                        <li>Iraq Star Foundation(760) 568-4039  www.iraqstar.org/</li>
                        <li>Illinois Department of Veterans’ Affairs(217) 782-6641  www2.illinois.gov/veterans/Pages/default.aspx</li>
                        <li>Wounded Warrior Project  www.woundedwarriorproject.org/</li>
                        <li>Impact Personal Safety(323) IMPACT-8  www.impactpersonalsafety.com/</li>
                        <li>Motorcycle Safety Foundationonline2.msf-usa.org/msf/Default.aspx</li>
                        <li>AAA Service(303) 313-3333  www.aaatoday.com/</li>
                        <li>Restoration Logistics Property Repair(303) 657-1400  www.restoration-logistics.com/</li>
                        <li>DNA Diagnostics Center(800) 613-5768  www.dnacenter.com/</li>
                        <li>Polycom(800) POLY-COM  www.polycom.com/</li>
                        <li>Padgett Communications(888) 233-4724  www.pcipro.com/</li>
                        <li>Cayman Marine Lab(345) 916-0849  www.caymanmarinelab.com/</li>
                        <li>Blue Surf Sanctuary(855) 2-SURF-CR  www.bluesurfsanctuary.com/</li>
                        <li>PDM Stables(661) 366-4034  www.pdmstables.com/</li>
                        <li>1800SkyRide(800) 759-7433  www.1800skyride.com/</li>
                        <li>Fulcrum Adventures(310) 452-7992  www.fulcrumadventures.com/</li>
                        <li>Hilton Hawaiin Village Waikiki Beach Resort(808) 949-4321  www.hiltonhawaiianvillage.com/</li>
                        <li>Miramonte Resort and Spa(800) 237-2926  www.miramonteresort.com/</li>
                        <li>La Cosa Resort and Spa(800) 854-5000  www.lacosta.com/</li>
                        <li>Rancho Valencia Resort and Spa(800) 548-3664  www.ranchovalencia.com/</li>
                        <li>Hacienda Beach Club and Residences  www.haciendacabosanlucas.com/</li>
                        <li>Unforgettable Honeymoons(888) 343-6413  www.unforgettablehoneymoon.com/</li>
                        <li>Blue River Canyon Day Spa(615) 377-3336  www.bluerivercanyon.com/</li>
                        <li>Divalysscious Moms   www.divamoms.com/</li>
                        <li>Heroic Imagination Project   www.heroicimagination.org/</li>
                        <li>Josephson Institute(800) 711-2670   www.josephsoninstitute.org/</li>
                    </ul>


                    </p>
                </div>
            </section></tab>
    </tabset>
    <p><i>If you believe you need immediate assistance, please call your local emergency number or the mental health crisis hotline listed in your local phone book's government pages. Because AngelsofEureka.com does not operate, supervise or exercise any control over any of the therapists, resources or referral sources listed, it makes no representations or warranty whatsoever, either expressed or implied, regarding any information or advice provided by these referral services. In no event shall it, Angels of Eureka be liable to you or anyone else for any decision made or action taken in reliance on information provided by these therapists, resources or referral services.</i></p>
</div>