<div  class="offsetHeight" ng-controller="LoginController">
    <div class="row">
        <p><b>{{error}}</b></p>

        <p><b>{{message}}</b></p>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th>Username</th>
                <td><input type="text" class="login-inp" ng-model="form.username"/></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" class="login-inp" ng-model="form.password"/></td>
            </tr>
            <tr>
                <th></th>
                <td><a class="button" ng-click="submitAuth()">Login</a></td>
                <td><a class="close-reveal-modal button">Cancel</a></td>
                <td><a ng-click="forgot()" href="#/passwordrecovery">forgot password??</a></td>
            </tr>
        </table>
    </div>
</div>