<div class="generalPage" ng-controller="messageController">
    <div id="contentHeader" class="">
        <h2 class="contentHeaderTitle">Message Center</h2>
    </div>
    <div id="messageCenter">
        Welcome to the Message Center. From here you can create, manage and view messages from your network members, administrators and other registered users.
            <span><b>{{error}}</b></span>
            <span><b>{{message}}</b></span>
            <br />
            {{sendTo}}
            To: <input ng-hide="pre" type="text" placeholder="Recipient's name here" ng-model="form.selected" typeahead="user for user in getPossibles($viewValue) | filter:$viewValue | limitTo:8">
            <br />
            <textarea class="login-inp ng-pristine ng-valid" ng-model="form.message" placeholder="Enter your message here"></textarea>
            <br />
            <a class="button small" ng-click="sendMessage()">Send Message</a></td>
            <a class="button small">Cancel</a>
    </div>
    <div class="rghtDvd">
        <b>Conversation With:</b>
        <br /><br />
        <section>
            <div class="row my-repeat-animation panel"  ng-repeat="messagedUser in messagedUsers">
                <a href="" ng-click="getMessages(messagedUser)">
                    <span class="">{{messagedUser.user}} <!--<a class="button buttonSmall" title="Archive This Conversation"><img src="img/trash.png"></a>--></span>
                </a>
            </div>
        </section>
    </div>
    <div class="rghtDvd">
        <b>Conversation History</b>
        <br /> <br />
        <section>
            <div class="">
                <!--
                <span class=""><b>Date:</b></span>
                -->
                what goes here?
            </div>
            <div ng-controller="directMessageController" ng-show="userSelected">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Continue Conversation with  {{sendToPerson.user}} below</th>
                        <td>
                            {{sendTo}}

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea class="login-inp ng-pristine ng-valid" ng-model="form.message" placeholder="Enter your message here"></textarea>
                        </td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <td><a class="button small" ng-click="sendMessage()">Send Message</a></td>
                        <td><a class="button small">Cancel</a></td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="row my-repeat-animation" ng-repeat="message in messages" >
                <div class="conv" style="background: #F4F4F4; margin-bottom: 10px; padding: 5px; border-bottom: 1px dashed #000000">
                    <b>{{message.from}}</b>
                    <i style="font: x-small serif; color: steelblue;float: right">
                        {{message.date}}
                    </i>
                    <br/>
                    <div class="messageHistory" ng-bind-html="message.message"></div>
                    <br/>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="adContainer">Ads go here</div>