<div ng-controller="UserProfileCtrl">
    <div class="generalPage" ng-controller="messageController">
        <div id="contentHeader" >
            <h2 class="contentHeaderTitle">Message Center</h2>
        </div>
        <div id="messageCenter">
            Welcome to the Message Center. From here you can create, manage and view messages from your network members, administrators and other registered users.
            <br />
            <br />
            <div ng-controller="messageController">
                <a class="button sendMsg" ng-click="open(messagedUser.user)"><img src="img/mail_2.png">Start New Conversation</a>
            </div>
            <br />
            <div >
                Select one of your contacts below to view past and ongoing conversations here.
            </div>
        </div>
        <div class="chatWith">
            <b>Conversation With:</b>
            <br /><br />
            <section>
                <div class="contacts"  ng-repeat="messagedUser in messagedUsers">
                    <a href="" ng-click="getMessages(messagedUser)">
                        <span ><!-- {{messagedUser.user}} -->
                            {{messagedUser.firstName}} "{{messagedUser.user}}" {{messagedUser.lastName}}
                            <!--<a class="button buttonSmall" title="Archive This Conversation"><img src="img/trash.png"></a>-->
                        </span>
                    </a>
                </div>
            </section>
        </div>
        <div class="chatHist">
            <section>
                <div ng-controller="directMessageController" ng-show="userSelected">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>Continue Conversation with  {{sendToPerson.user}} below</th>
                            <td>
                                {{sendTo}}

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea class="login-inp ng-pristine ng-valid" ng-model="form.message" placeholder="Enter your message here"></textarea>
                            </td>
                        </tr>
                        <tr>

                        </tr>
                        <tr>
                            <td><a class="button small" ng-click="sendMessage()">Send Message</a></td>
                        </tr>
                    </table>
                </div>
                <br />
                <div class="msgHist my-repeat-animation" ng-repeat="message in messages" >
                    <div class="conv" style="background: #fff; margin-bottom: 0px; padding: 5px; border-bottom: 1px dashed #000000">
                        <b>Sender: {{message.from}}</b>
                        <br/>
                        <div class="messageHistory" ng-bind-html="message.message"></div>
                        <i style="font: x-small serif; color: steelblue; text-align: right; display: block;">
                            {{message.date}}
                        </i>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="adContainer">
    Our Sponsors
    <a href="http://angelsofeureka.com/shop/index.php/" target="_blank" title="Angels of Eureka Gift Shop"><img src="img/angelsofeurekalogo-bw.jpg" alt="Angels of Eureka Shop" /></a>
    <a href="http://www.phojoe.com/AOE.html" target="_blank" title="Photo Joe Photo Restorations"><img src="img/Phojoe_Banner.jpg" alt="Photo Joe Image Restoration" /></a>
</div>