<div ng-controller="UserProfileCtrl">
        <section>
            <div class="automargins content " data-section-content>
                <div class="generalPage">
                    <div id="contentHeader">
                        <h2 class="contentHeaderTitle">My Memorial Walls</h2>
                    </div>
                    <a href="#/AddBlogEntry" class="button createNew" title="Create a new memorial wall profile here!">+</a>
                    <ul class="profile">
                        <h3>Here is a list of your memorial walls</h3>
                        <li ng-repeat="angel in angels | filter:{pet:false} | filter:{group:false}" class="myMemWallsList">
                            <!--
                            pet status: {{angel.pet}}<br />
                            group status: {{angel.group}}
                            -->
                            <h5><a href="#/angel/{{angel.author}}">{{ angel.firstName }} {{ angel.lastName }} - {{ angel.title }}</a></h5>
                            <a href="#/angel/{{angel.author}}"><img id="portrait" src="/uploads/{{ angel.profilePicPortrait }}"></a>
                            <a href="#/angel/{{angel.author}}" class="buttons wallList">View</a>
                            <a href="#/editwall/{{ angel.author }}" class="buttons wallList">Edit</a>
                            <a href="#/findenewmembers/{{ angel.author }}" class="buttons wallList">Invite Friends</a>
                            <a href="#/inviteblock/{{ angel.author }}" class="buttons wallList">Remove Friends</a>
                            <a href="#/deletewall/{{ angel.author }}" class="buttons wallList">Delete</a>
                            <br/>
                        </li>
                    </ul>
                    <div ng-hide="angels.length">You have not created any memorial sites yet. Why not <a href="#/AddBlogEntry">start one now</a>?</div>
                 </div>
            </div>
        </section>
<hr />

</div>
