<div ng-controller="UserProfileCtrl">
        <section>
            <div class="automargins content " data-section-content>
                <div class="generalPage">
                    <div id="contentHeader">
                        <h2 class="contentHeaderTitle">My Pet Memorial Walls</h2>
                    </div>
                    <a href="#/AddBlogEntry" class="button createNew" title="Create a new pet memorial wall profile here!">+</a>
                    <ul class="profile" ng-class="{petMem:pets}">
                        <h3>Here is a list of your pet memorial walls</h3>

                        <li ng-repeat="angel in angels" class="myMemWallsList">
                            Type: {{ angel.type }}
                            <h5><a href="#/pet/{{angel.author}}">{{ angel.firstName }} {{ angel.lastName }} - {{ angel.title }}</a></h5>
                            <a href="#/pet/{{angel.author}}"><img id="portrait" src="/uploads/{{ angel.profilePicPortrait }}"></a>
                            <a href="#/pet/{{angel.author}}" class="buttons wallList">View</a>
                            <a href="#/editwall/{{ angel.author }}" class="buttons wallList">Edit</a>
                            <a href="#/findenewmembers/{{ angel.author }}" class="buttons wallList">Invite Friends</a>
                            <a href="#/inviteblock/{{ angel.author }}" class="buttons wallList">Remove Friends</a>
                            <a href="#/deletewall/{{ angel.author }}" class="buttons wallList">Delete</a>
                            <br/>
                        </li>
                    </ul>
                 </div>
            </div>
        </section>
</div>
<!---

 ng-controller="UserProfileCtrl"


  ng-class="{petMem:pets, privGroup:groups}"

  ng-show="pets"

ng-class="{error:pets, petsTitle:pets}" ng-switch on="type">

--->