<div class="generalPage" ng-controller="PetitionCtrl">
    <div id="contentHeader" class="contentHeader">
        <h2 class="contentHeaderTitle">My Workshops</h2>
    </div>
    <p>
        Here are all of the workshops that you have started.
    </p>
    <ul class="petitions">
        <li ng-repeat="workshop in workshops | filter:{workshop.owner}">
            {{workshop.title}}- <a href="#/editpetition/{{workshop._id}}" class="small button">Edit</a> - <a
                ng-click="deletePetition(workshop._id)" class="small button">Delete</a>
        </li>
    </ul>

    <!--<ul>
        <li ng-repeat="petition in petitions">
            <div class="panel">
                <div class="title ">
                    <a rel="nofollow" href="#/petition/{{petition.title}}">{{petition.title}}</a>
                </div>
                <div class="">
                    <span class="subheader"><span class="petitionFont"> {{petition.signaturecount}}</span> Signatures</span>
                </div>
            </div>
        </li>
    </ul> -->
    <div ng-hide="petitions.length">There are currently no active workshops. Why not start your own now?</div>
</div>
<div class="adContainer">Ads go here</div>