<div ng-controller="PetitionEntryCtrl">
    <div class="generalPage">
        <div id="contentHeader">
            <h2 class="contentHeaderTitle">Petition</h2>
        </div>
       <div  ng-model="petition">
           <a href="#/petitions">Petitions</a> > {{petition[0].title}}
            <div >
                <h3 style="color: #2164AA;">Petion Name: {{petition[0].title}}</h3>
                <h3 style="color: #2164AA;">Petition Details: {{petition[0].text}}</h3>
                <div  ng-repeat="signature in petition[0].signatures">
                    <div >
                        <p>{{signature.initals}}</p>
                        <p>{{signature.cityState}}</p>
                        <p>{{signature.email}}</p>
                        <p>{{signature.$index}}</p>
                    </div>
                </div>
            </div>
       </div>
       <div >
           <div>There are <b class="petitionFont">{{signaturelength}}</b> signatures on this petition </div>
           <div ng-class="{spinner:spinner}"></div>
           <div ng-class="{error:error}">{{resultMessage}}</div>
           <br />
           <a class="button small" ng-click="signPetition()">Sign this petition</a>
        </div>
    </div>
</div>