<div ng-controller="PetitionCtrl">

    <div class="row ">
        <h1 class="sectionHeader">Petitions</h1>
    </div>
    <div class="">
        <div class="class=""  workshops">
            <tabset>
                <tab heading="View All Petitions"><section>
                    <div class="content" data-section-content>
                        <h2 class="dark">Sitewide petitions</h2>
                        <p>Do you have a cause that you are passionate about bringing a change to? Create your petition here and get the support you need to make a change!</p>
                        <p>After you get enough people to sign your petition, take your voices to Washington here! <a href="http://www.house.gov/representatives/find/" target="_blank"><b>Find Your Representative</b></a>.</p>

                        <ul class="small-block-grid-4">
                            <li ng-repeat="petition in petitions">
                                <div class="panel">
                                <div class="">
                                    <div class="title ">
                                        <a rel="nofollow" href="#/petition/{{petition.title}}">{{petition.title}}</a>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="">
                                         <span class="subheader"><span class="petitionFont"> {{petition.signaturecount}}</span> Signatures</span>
                                    </div>
                                </div>
                                </div>
                            </li>
                            <a href="https://www.causes.com/" target="_blank" style="margin: 20px;"> Make a Pledge</a>
                        </ul>
                    </div>
                </section></tab>
                <tab heading="Create a Petition"><section>
                    <div ng-class="{spinner:spinner}"></div>
                    <div class="">
                        <div ng-show="again">
                            <h2 style="color: #2164AA;">Create a petition</h2>
                            Give your petition a name. <input type="text" ng-hide="textorphoto" ng-model="title"/>
                            What is your petition for? <input type="text" ng-hide="textorphoto" ng-model="text"/>
                            <div ng-class="{spinner:spinner}"></div>
                            <br />
                            <div ng-bind="message"></div>

                            <button ng-click="submit()" class="button postfix small">Submit</button>
                        </div>
                        <div ng-hide="again">
                            <div ng-bind="message"></div>

                            <button ng-click="again = true" class="button postfix small">Create Another partition??</button>
                        </div>
                    </div>
                </section></tab>
        </tabset>
    </div>
    </div>
</div>