<div ng-controller="PetitionEntryCtrl">

   <div class="class=""   ">

       <div class="" ng-model="petition">
            <div class="">
                <h3 style="color: #2164AA;">Petion Name: {{petition[0].title}}</h3>
                <h3 style="color: #2164AA;">Petition Details: {{petition[0].text}}</h3>
                <div class="" ng-repeat="signature in petition[0].signatures">
                    <div class="">
                        <p>{{signature.initals}}</p>
                        <p>{{signature.cityState}}</p>
                        <p>{{signature.email}}</p>
                        <p>{{signature.$index}}</p>
                    </div>
                </div>
            </div>

       </div>
       <div class="">
           <div>Total Signatures On This Petition <b class="petitionFont">{{signaturelength}}</b></div>
           <div ng-class="{spinner:spinner}"></div>
           <div ng-class="{error:error}">{{resultMessage}}</div>
           <br />
           <a class="button small" ng-click="signPetition()">Sign this petition</a>

        </div>
    </div>
</div>