<div ng-controller="PetitionCtrl">

    <div class="row offsetHeight">
        <h1 class="sectionHeader">Petitions</h1>
        <div ng-class="{spinner:spinner}"></div>
        <div class="small-12 columns">
            <h2 style="color: #2164AA;">Create a petition</h2>
            Give your petition a name. <input type="text" ng-hide="textorphoto" ng-model="title"/>
            What is your petition for? <input type="text" ng-hide="textorphoto" ng-model="text"/>

            <button ng-click="submit()" class="button postfix">Submit</button>
        </div>

    </div>
    <div class="row 12 columns">
        <h2 class="dark">Sitewide petitions</h2>
        <p>Do you have a cause that you are passionate about bringing a change to? Create your petition here and get the support you need to make a change!</p>
        <p>After you get enough people to sign your petition, take your voices to Washington here! <a href="http://www.house.gov/representatives/find/" target="_blank"><b>Find Your Representative</b></a></p>

        <ul class="large-block-grid-5">
            <li class="panel row collapse" ng-repeat="petition in petitions">
                            <div class="title small-11 columns">
                                <a rel="nofollow" href="#/petition/{{petition.title}}">{{petition.title}}</a>
                            </div>
                            <span class="subheader small-11 columns">{{petition.signaturecount}}: Signatures</span>
                                <!--
                                <div class="find-out">
                                    <a href="/petition/petition-retroactively-abrogate-illegal-elections-constitutionally-ineligible-individual-presidency/Pr5W1x1q"> … </a>
                                </div>
                                -->
            </li>
        </ul>
    </div>
</div>