<div ng-controller="UserProfileCtrl">
    <div class="row offsetHeight">
        <div class="small-12 columns">
            <div ng-controller="InviteBlockCtrl">
                <div id="contentHeader" class="small-12 columns">
                    <h2 class="contentHeaderTitle">Pet Memorials (Coming Soon!) </h2>
                </div>
                <br />
                <p>The loss of a pet can deeply affect a person spiritually, emotionally and physically. Pets are our faithful friends, providing loyalty and companionship on good days and bad days. Pets comfort us, and when we lose these cherished companions, the compassion and sympathy we need for dealing with their loss. So please feel free to share stories and photos about your beloved pet.</p>
            </div>
        </div>
    </div>
</div>