<div ng-controller="blogEntryCtrl">
    <div class="memNav" if-authed="show">
        <div class="row" offset-height="90" ng-show="profileMenuViewable" ng-animate="fade" id="profile-menu">
            <div class="small-8 small-offset-4">
                <nav class="top-bar">
                    <section class="top-bar-section">
                        <ul class="left">
                            <li class="active" ng-click="loadPage('Latest')"><a>Home</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Pics')"><a>Pics</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Videos')"><a>Videos</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Anniversaries')"><a>Angels Anniversaries</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Friends and Family')"><a>Friends and Family</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns" offset-height="0" role="content">
            <div id="picheader" class="publicWall twelve columns">
                <div class="row">
                    <div class="small-3 columns" offset-height="-10">
                        <div id="portraitpic">
                            <img id="portrait" src="/uploads/{{ entry.profilePicPortrait }}"><br />
                            {{ entry.firstName }} {{ entry.lastName }}
                        </div>
                    </div>
                    <div class="small-8 columns">
                        <div id="contentHeader" class="small-12 columns">
                            <h2 class="contentHeaderTitle">{{entry.firstName}}'s Public Memorial</h2>
                        </div>
                        <ul class="small-12 columns">
                            <li>First Name : {{entry.firstName}}</li>
                            <li>Last Name: {{entry.lastName}} </li>
                            <li>Memorial Date: {{entry.memorialDate}}</li>
                        </ul>
                        <p>You are viewing {{entry.firstName}} {{entry.lastName}}'s public memorial wall. If you are a member of this angel's network, <a href="#/login">login</a> to view the full memorial details.</p>
                        <p ng-hide="joinsent" if-authed="show">If you are not and would like to be, send a request to <a ng-click="join()"><b>Join here</b></a>. </p>
                        <div ng-class="{spinner:spinner}"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">

    </div>
</div>