<div ng-controller="PublicProfileCtrl">
    <div class="row ">
        <div class="">
            <section>
                <div class="content automargins" data-section-content>
                    <div class="">
                        <div class="contentHeader">
                            <h2 class="contentHeaderTitle">Basic Profile</h2>
                        </div>
                        <ul class="profile">
                            <img src="http://www.gravatar.com/avatar/{{user.gravatar}}"/>
                            <li>Real Name: {{user.firstName}} {{user.lastName}}</li>
                            <li>User Name: {{user.username}}</li>
                            <li>Email: {{user.email}}</li>
                            <li>Date of Birth: {{user.dob}}</li>
                            <li>City: {{user.city}}</li>
                            <li>About you : {{user.about}}</li>
                            <li>You have lost a {{user.lost}}</li>
                            <div>
                                <!--<a class="button small" ng-click="open(user.username)"><img src="img/mail_2.png"> Send a New Message</a> -->
                                <br />
                                <div ng-controller="directMessageController" if-authed="show">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <th>- Conversation with {{user.firstName}} below</th>
                                            <td>
                                                {{sendTo}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea class="login-inp ng-pristine ng-valid" ng-model="form.message" placeholder="Enter your message here"></textarea>
                                            </td>
                                        </tr>
                                        <tr>

                                        </tr>
                                        <tr>
                                            <td><a class="button small" ng-click="sendMessage()">Send Message</a></td>
                                            <td><a class="button small">Cancel</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div ng-controller="directMessageController" ng-hide="showJoinRequst" if-authed="hide">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <th>Start a conversation: {{user.firstName}}</th>
                                            <td>
                                                <p>You can start a conversation by simply logging into your account. <a href="#/login" class="button small radius">log-in</a></p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row my-repeat-animation" if-authed="show">
                                    <!-- messages visible here would only be between the user who is viewing and the person whose page it is -->
                                    <!-- messages here would also appear in the message center in the my account section of both users -->
                                    <div class="small-30 "
                                         style="background: #F4F4F4; margin-bottom: 10px; padding: 5px; border-bottom: 1px dashed #000000"><b>Message from "So - in -so"</b>
                                        <i
                                                style="font: x-small serif; color: steelblue;float: right">Message Date here</i>
                                        <br/>
                                        <div class=" " ng-bind-html="message.message">Message goes here</div>
                                        <br/>
                                    </div>
                                    <div class="small-30 "
                                         style="background: #F4F4F4; margin-bottom: 10px; padding: 5px; border-bottom: 1px dashed #000000"><b>Message from "So - in -so"</b>
                                        <i
                                                style="font: x-small serif; color: steelblue;float: right">Message Date here</i>
                                        <br/>
                                        <div class=" " ng-bind-html="message.message">Message goes here</div>
                                        <br/>
                                    </div>
                                    <div class="small-30 "
                                         style="background: #F4F4F4; margin-bottom: 10px; padding: 5px; border-bottom: 1px dashed #000000"><b>Message from "So - in -so"</b>
                                        <i
                                                style="font: x-small serif; color: steelblue;float: right">Message Date here</i>
                                        <br/>
                                        <div class=" " ng-bind-html="message.message">Message goes here</div>
                                        <br/>
                                    </div>
                                    <div class="small-30 "
                                         style="background: #F4F4F4; margin-bottom: 10px; padding: 5px; border-bottom: 1px dashed #000000"><b>Message from "So - in -so"</b>
                                        <i
                                                style="font: x-small serif; color: steelblue;float: right">Message Date here</i>
                                        <br/>
                                        <div class=" " ng-bind-html="message.message">Message goes here</div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>