<div ng-controller="UserProfileCtrl" id="dashBoard" if-authed="show">
    <section id="userProfiler">
        <h1>Welcome to your dashboard {{user.firstName}}</h1>
        <img src="http://www.gravatar.com/avatar/{{user.gravatar}}?d=http%3A%2F%2Fwww.angelsofeureka.com%2Fimages%2FdefaultAvatar.png" class="avatar" />

        <ul class="profile">
            <li>First Name : {{user.firstName}}</li>
            <li>Last Name: {{user.lastName}}</li>
            <li>User Name: {{user.username}}</li>
            <li>email : {{user.email}}</li>
        </ul>
        <ul class="profile">
            <li>Date of Birth : {{user.dob}}</li>
            <li>City : {{user.city}}</li>
            <li>About you : {{user.about}}</li>
            <li>You have lost a {{user.lost}}</li>
        </ul>
        <a href="#/editprofile" class="small button">Edit Your profile</a>
    </section>
    <section>
      <h2>Site Tutorial</h2>
      In the video guides section you can learn everything that you can do here on the circle of life!<br />
      <div class="dashPages">
        <a href="#/guide" class="guideLink">Video Guides</a>
      </div>
    </section>
    <section class="dash-notification" ng-controller="EventListController">
        <h2><img src="/img/eventsIcon.png" title="What's Happening" alt="Upcoming Events" /> Upcoming Events</h2>
            <div class="event-list">
                <div class="event-list-body">
                    <ol ng-repeat="event in events" class="event-list-content">
                        <li>
                            <span class="event-list-date">{{event.date}}</span>
                            <span class="event-list-date">{{event.message}}</span>
                            <span class="event-list-photo">Photo Here</span>
                            <span class="event-list-type">
                                <span class="event-list-name">{{event.name}}</span>
                                <strong>{{event.event}}</strong><br />
                                {{event.text}}
                                <div class="event-list-reach-out">
                                    <!-- <a href="#" class="event-list-view-event" title="View Event Details">View Event</a>-->
                                </div>
                            </span>
                        </li>
                    </ol>
                    <div ng-hide="events.length">There are currently no upcoming events in your network.</div>
                </div>
            </div>
    </section>
    <section class="dash-notification">
        <h2>Messages</h2>
        View and start new conversations in  the <a href="#messageCenter" class="small button">Message Center</a>
    </section>
    <section>
        <h2>Private Support Groups</h2>
        <div class="dashPages">
            <a href="#/myGroups">My Groups</a>
        </div>
        <div class="dashPages">
            <a href="#/joinedGroups">Groups Joined</a>
        </div>
        <div class="dashPages">
            <a href="#/groups">Search/Browse Groups</a>
        </div>
        <div class="dashPages">
            <a href="#/StartGroup">Create New Group</a>
        </div>
    </section>
    <section>
        <h2>Family, Friends, Colleague Memorials</h2>
        <div class="dashPages">
            <a href="#myMemorials">My Memorials</a>
        </div>
        <div class="dashPages">
            <a href="#/joinedMemorials">Friend's Memorials</a>
        </div>
        <div class="dashPages">
            <a href="#/">Search/Browse Memorials</a>
        </div>
        <div class="dashPages">
            <a href="#/AddBlogEntry">Create New Memorial</a>
        </div>
    </section>
    <section>
        <h2>Pet Memorials</h2>
        <div class="dashPages">
            <a href="#/myPets">My Pet Memorials</a>
        </div>
        <div class="dashPages">
            <a href="#/friendsPets">Friend's Pet Memorials</a>
        </div>
        <div class="dashPages">
            <a href="#pets">Search/Browse Pets</a>
        </div>
        <div class="dashPages">
            <a href="#/AddBlogEntry">Create New Pet Memorial</a>
        </div>
    </section>
    <section>
        <h2>Petitions</h2>
        <div class="dashPages">
            <a href="#/myPetitions">My Petitions</a>
        </div>
        <div class="dashPages">
            <a href="#/petitions">Browse Petitions</a>
        </div>
        <div class="dashPages">
            <a href="#/petitions">Create New Petition</a>
        </div>
    </section>
    <section>
        <h2>Workshops</h2>
        <div class="dashPages">
            <a href="#/myWorkshops">My Workshops</a>
        </div>
        <div class="dashPages">
            <a href="#/workshops">Browse Workshops</a>
        </div>
        <div class="dashPages">
            <a href="#/workshops">Submit New Workshop</a>
        </div>
    </section>
</div>
<div if-authed="hide" class="generalPage">
    <h2>You must be logged in to view your dashboard.</h2>
    <p>Please log-in using the form above.</p>
</div>
