<div ng-controller="UserProfileCtrl">
<div class="row offsetHeight">
<div class="small-12 columns">

<tabset>
    <tab heading="Instructions"><section>
        <div class="content" data-section-content>
            <div class="automargins row ">

                <div class="contentHeader" class="small-12 columns">
                    <h2 class="contentHeaderTitle">Instructions on how to manage your account</h2>
                </div>

                <p>
                    Welcome to your user profile on Angel of Eureka's Circle of Life.<br />
                    Your user profile account is divided into six functional sections:<br />
                <br />
                <b>1.</b> Basic Profile: From this section you can view and edit your personal information as well as specify your primary grouping.
                <br />
                <blockquote>We use <a href="http://en.gravatar.com/" target="_blank">Gravatar</a> to power Avatar images for your account.
                Your Gravatar is an image that follows you from site to site appearing beside your name when you do things
                like comment or post on a blog. Avatars help identify your posts on blogs and web forums on any site.
                <br />If you already have a Gravatar, then simply using the same email for your account here, will
                utilize your Gravatar on our site.
                <br />
                Don't have a Gravatar created yet? Create one for <a href="http://en.gravatar.com/" target="_blank">Free!</a> </blockquote>
                <br />
                <b>2.</b> My Memorial Walls: From this section you can create memorial walls for your loved one or pet, invite users to join the network for this
                memorial wall network, manage users as well as the contents of your memorial wall. You can also view your memorial where you will be able
                to interact with your memorial network members via chat, photos, videos and Angel Anniversaries.
                <br /><br />
                Memorial Wall Features:
                <ul>
                    <li>Angel's Timeline: See all the current topics, photos and events about your Angel in one convenient place. Share a memory for all of his/her friends and family to enjoy.</li>
                    <li>Photos: Share photos, and organize them into galleries. You can also upload your own Imikimi montage creations!</li>
                    <li>Videos:Share videos of your Angel. You add either youtube or Animoto videos!</li>
                    <li>Angel Anniversaries: Specify a date that is important to the legacy of your Angel. Share a memory with all his/her loved ones, and celebrate their life and encourage one another!</li>

                </ul>
                </br />
                <b>3.</b> Friend's Memorial Walls: From this section you can see memorial walls that you have been invited to, as well as manage your membership
                to their memorial network.
                </br />
                </br />
                <b>4.</b> My groups: From this section you can create your own private group for any thing you wish. Enjoy all of the features of a memorial wall,
                but in a private group for the cause or mission of your choosing.
                <br /> <br />
                <b> 5.</b> My Petitions: View and manage petitions that you have created on the main site's petition page.
                <br /> <br />
                <b>6.</b> Message Center: Send and read messages to and from other members of your network. You network includes all memorial walls and groups that you
                participate in.
                </p>

                <p><b>This is a Free Service.</b></p>
            </div>
        </div>
    </section></tab>
    <tab active="tab.userprofile" heading="Basic Profile">
        <section>
            <div class="content automargins" data-section-content>
                <div class="row ">
                    <div class="contentHeader" class="small-12 columns">
                        <h2 class="contentHeaderTitle">Basic Profile</h2>
                    </div>
                    <ul class="profile">
                        <li><img src="http://www.gravatar.com/avatar/{{user.gravatar}}"/> First Name : {{user.firstName}}</li>
                        <li>Last Name: {{user.lastName}}</li>
                        <li>email : {{user.email}}</li>
                        <li>Date of Birth : {{user.dob}}</li>
                        <li>City : {{user.city}}</li>
                        <li>About you : {{user.about}}</li>
                        <li>You have lost a {{user.lost}}</li>
                        <a href="#/editprofile" class="button">Edit Your profile</a>
                    </ul>
                </div>
            </div>
        </section></tab>
    <tab heading="My Memorial Walls">
        <section>
            <div class="automargins content " data-section-content>
                <div class="row ">
                    <div class="row ">
                        <div class="contentHeader" class="small-12 columns">
                            <h2 class="contentHeaderTitle">My Memorial Walls</h2>
                        </div>
                    </div>
                    <ul class="profile">
                        <a href="#/AddBlogEntry" class="button"><b>Create a new memorial wall profile here!</b></a> <br/><br/>
                        <li ng-repeat="angel in angels">Angel's Name : {{ angel.firstName }} {{ angel.lastName }} - {{ angel.title }}
                            <br/>
                            <img id="portrait" src="/uploads/{{ angel.profilePicPortrait }}"> - <a href="#/angel/{{angel.author}}">View this memorial wall</a>
                            <br/>
                            - <a href="#/findenewmembers/{{ angel.author }}">Find and invite new members to this wall</a>
                            <br/>
                            - <a href="#/inviteblock/{{ angel.author }}">Remove members from this wall</a>
                            <br/>
                            - <a href="#/editwall/{{ angel.author }}">Edit this memorial wall</a>
                            <br/>
                            - <a href="#/deletewall/{{ angel.author }}">Delete this memorial wall</a>
                            <br/><br/>
                        </li>
                    </ul>

                 </div>
            </div>
        </section>
    </tab>
    <tab heading="Friend’s Memorials">
        <section>
            <div class="content automargins" data-section-content>
                <div class="row ">
                    <div class="row ">
                        <div class="contentHeader" class="small-12 columns">
                            <h2 class="contentHeaderTitle">Memorial Walls of My Friends and Acquaintances </h2>
                        </div>
                    </div>
                    <!--
                    <ul class="profile">
                        <li ng-repeat="angelmember in angelmembers">Angel's Name : (Angel's full name)  - <a href="#/angel/{{ angelmember.author }}">View this memorial wall</a> - <a href="#/selfremove/{{ angelmember.author }}">Remove yourself from this memorial wall network</a></li>
                    </ul>
                    -->
                    <!-- This next UL is for demonstration purposes only. Delete after demo to client -->
                    <ul class="profile" ng-repeat="wall in walls">
                        <li>Angel's Name : {{wall.firstName}} {{wall.lastName}} - <a href="#/angel/{{wall.author}}">View this
                            memorial wall</a> - <a ng-click="removeself(wall.id)">Remove yourself from this memorial wall
                            network</a></li>
                    </ul>
                    <!-- Delete above UL after demo -->
                </div>
            </div>
        </section>
    </tab>
    <tab heading="My Groups">
        <section>
            <div class="content automargins" data-section-content>
                <div class="row ">
                    <div class="contentHeader" class="small-12 columns">
                        <h2 class="contentHeaderTitle">My Group's</h2>
                    </div>
                    <p>Welcome to the My Groups dashboard. From here you can create, manage and view groups that you own, or view
                        groups that you have joined, or been invited to.</p>
                    <a href="#/StartGroup" class="button">Create a new group here!</a><br/><br/>

                    <div class="small-6 columns rghtDvd">
                        <b>Groups I Own</b>
                        <br/> <br/>
                        <section ng-repeat="group in groups">
                            <b>Group Name: {{group.title}}</b>
                            <br/>
                            Group Moderator: {{group.author}}
                            <br/>
                            <ul>
                                <li><a href="#/group/{{group.author}}">View this memorial group</a></li>
                                <li><a href="#/editwall/{{ group.author }}">Edit this memorial group</a></li>
                                <li><a href="#/findenewmembers/{{ group.author }}">Find and invite new members to this wall</a></li>
                                <li><a href="#/inviteblock/{{ group.author }}">invite or block other registered members</a></li>

                            </ul>
                            <a href="#/deletewall/{{ group.author }}" class="button">Delete this group</a>
                        </section>
                    </div>
                    <div class="small-6 columns">
                        <b>Groups I Joined / Group Invites</b>
                        <br/> <br/>
                        <section ng-repeat="group in invitedGroups">
                            <b>Group Name: {{group.name}}</b>
                            <br/>
                            Group Owner: {{group.owner}}
                            <!-- Group Moderator(s): Mary Olsen, Me-->
                            <br/>
                            <ul>
                                <li><a href="#/group/{{group.author}}">View this group's page</a></li>
                                <li><a href="#/group/{{group.author}}">Edit Group Details</a></li>
                                <li><a href="#/group/{{group.author}}">View Group Members</a></li>
                                <!--  <li><a href="#/group/{{group.author}}" >Suggest new members</a></li>
                                  <li><a href="#/group/{{group.author}}" >Restrict member</a></li>
                                    <li><a href="#/group/{{group.author}}" >Report group member for misconduct</a></li>
                                    -->
                            </ul>
                            <a ng-click="removeselfgroup(group.id)" class="button">Leave this group</a>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </tab>
    <tab heading="My Petitions">

        <section>
            <div class="content automargins" data-section-content>
                <div class="row ">
                    <div class="contentHeader" class="small-12 columns">
                        <h2 class="contentHeaderTitle">My Petitions</h2>
                    </div>
                    <p>
                        Here are all of the petitions that you have started.
                    </p>
                    <ul>
                        <li ng-repeat="petition in petitions">
                            {{petition.title}}- <a href="#/editpetition/{{petition._id}}" class="button">Edit</a> - <a
                                ng-click="deletePetition(petition._id)" class="button">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </tab>
    <tab heading="Messages">
        <section>
            <div class="content automargins" data-section-content>
                <div class="row ">
                    <div class="contentHeader" class="small-12 columns">
                        <h2 class="contentHeaderTitle">Message Center</h2>
                    </div>
                    <p>Welcome to the Message Center. From here you can create, manage and view messages from your network members, administrators and other registered users..</p>
                    <div ng-controller="messageController">
                        <a class="button" ng-click="open(messagedUser.user)"><img src="img/mail_2.png"> Send a New Message</a>
                    </div>
                    <br />
                    <div class="small-4 columns rghtDvd">
                        <b>Conversation With:</b>
                        <br />      <br />
                        <section>
                            <div class="row my-repeat-animation panel"  ng-repeat="messagedUser in messagedUsers">
                                <a href="" ng-click="getMessages(messagedUser.user)">
                                    <span class="small-10 columns">{{messagedUser.user}} <!--<a class="button buttonSmall" title="Archive This Conversation"><img src="img/trash.png"></a>--></span>
                                </a>
                            </div>
                        </section>
                    </div>
                    <div class="small-8 columns rghtDvd">
                        <b>Conversation History</b>
                        <br /> <br />
                        <section>
                            <div class="row">
                                <span class="small-3 columns"><b>Sent By:</b></span>
                                <!--
                                <span class="small-2 columns"><b>Date:</b></span>
                                -->
                            </div>
                            <br />
                            <div class="row my-repeat-animation" ng-repeat="message in messages">
                        <span class="small-30 columns"
                              style="background: #F4F4F4; margin-bottom: 10px; padding: 5px; border-bottom: 1px dashed #000000"><b>{{message.from}}</b>  <i
                                style="font: x-small serif; color: steelblue;float: right">{{message.date}}</i>
                            <br/>
                            <span class="small-9 columns">{{message.message}}</span>
                            <br/>
                        </span>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </tab>
</tabset>

<hr />


</div>


</div>
</div>
