<div ng-controller="WorkshopCtrl" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="generalPage">
        <div id="contentHeader">
            <h1 class="contentHeaderTitle">Workshops</h1>
        </div>
        <section class="tab" ng-controller="TabController as panel">
            <ul class="tabNavGen">
                <li ng-class="{active:panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">Approve Workshops</a></li>
                <li ng-class="{active:panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">Review Approved Workshop</a></li>
            </ul>
            <div ng-show="panel.isSelected(1)">
                <div class="content">
                    <div class="workshops">
                        <h2 class="dark">Workshops Awaiting Approval</h2>
                        <p>
                            Here are all of the workshops that need approval before listing. Review and approve them to be displayed by selecting the publish state on each entry below.
                        </p>
                        <!--
                            Note for Ray:
                            This page will need to check if user is logged in, and if that user is you, me or patricia
                        -->
                        <div role="content">
                            Submitted, but not yet approved workshops
                            <div>
                                    <p style="color: #2164AA;">Workshop ID {{ workshop._id }}</p>
                                    <div>
                                        <ul>
                                            <li>
                                                Name of Submitter here
                                            </li>
                                            <li>
                                                Submitter's email address here
                                            </li>
                                            <li>
                                                Submitter's phone number here
                                            </li>
                                            <li>
                                                Submitter street addess here
                                            </li>
                                            <li>
                                                Workshop name here
                                            </li>
                                            <li>
                                                Workshop date, time and location here
                                            </li>
                                            <li>
                                                Workshop speaker/host information here
                                            </li>
                                            <li>
                                                Workshop detail information here
                                            </li>
                                        </ul>
                                        <form name="approveWorkShops">
                                            <input type="radio" name="publishedState" value="published" />Published (Approve for display) <br />
                                            <input type="radio" name="publishedState" value="unpublished" selected checked /> Unpublished (Reject) <br />
                                            <button name="saveWorkshopState">Save Workshop Approval State</button>
                                        </form>
                                        </p>
                                    </div>
                            </div>
                            <div>
                                    <p style="color: #2164AA;">Workshop ID {{ workshop._id }}</p>
                                    <div>
                                        <ul>
                                            <li>
                                                Name of Submitter here
                                            </li>
                                            <li>
                                                Submitter's email address here
                                            </li>
                                            <li>
                                                Submitter's phone number here
                                            </li>
                                            <li>
                                                Submitter street addess here
                                            </li>
                                            <li>
                                                Workshop name here
                                            </li>
                                            <li>
                                                Workshop date, time and location here
                                            </li>
                                            <li>
                                                Workshop speaker/host information here
                                            </li>
                                            <li>
                                                Workshop detail information here
                                            </li>
                                        </ul>
                                        <form name="approveWorkShops">
                                            <input type="radio" name="publishedState" value="published" />Published (Approve for display) <br />
                                            <input type="radio" name="publishedState" value="unpublished" selected /> Unpublished (Reject) <br />
                                            <button name="saveWorkshopState">Save Workshop Approval State</button>
                                        </form>
                                        </p>
                                    </div>
                            </div>
                            <p style="color: #2164AA;" ng-show="workshops == ''">There are no workshops scheduled at this time</p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="panel.isSelected(2)">
                <div class="content">
                    <div class="workshops">
                        <div role="content">
                            Approved workshops
                            <accordion>
                                <accordion-group heading="Name of Submitted workshop here" class="small button">
                                    <p style="color: #2164AA;">{{ workshop._id }}</p>
                                    <div>
                                        <ul>
                                            <li>
                                                Name of Submitter here
                                            </li>
                                            <li>
                                                Submitter's email address here
                                            </li>
                                            <li>
                                                Submitter's phone number here
                                            </li>
                                            <li>
                                                Submitter street addess here
                                            </li>
                                            <li>
                                                Workshop name here
                                            </li>
                                            <li>
                                                Workshop date, time and location here
                                            </li>
                                            <li>
                                                Workshop speaker/host information here
                                            </li>
                                            <li>
                                                Workshop detail information here
                                            </li>
                                        </ul>
                                        <form name="approveWorkShops">
                                            <input type="radio" name="publishedState" value="published" selected />Published (Approve for display) <br />
                                            <input type="radio" name="publishedState" value="unpublished" /> Unpublished (Reject) <br />
                                            <button name="saveWorkshopState">Save Workshop Approval State</button>
                                        </form>
                                        </p>
                                    </div>
                                </accordion-group>
                            </accordion>
                            <accordion>
                                <accordion-group heading="Name of Submitted workshop here" class="small button">
                                    <p style="color: #2164AA;">{{ workshop._id }}</p>
                                    <div>
                                        <ul>
                                            <li>
                                                Name of Submitter here
                                            </li>
                                            <li>
                                                Submitter's email address here
                                            </li>
                                            <li>
                                                Submitter's phone number here
                                            </li>
                                            <li>
                                                Submitter street addess here
                                            </li>
                                            <li>
                                                Workshop name here
                                            </li>
                                            <li>
                                                Workshop date, time and location here
                                            </li>
                                            <li>
                                                Workshop speaker/host information here
                                            </li>
                                            <li>
                                                Workshop detail information here
                                            </li>
                                        </ul>
                                        <form name="approveWorkShops">
                                            <input type="radio" name="publishedState" value="published" selected />Published (Approve for display) <br />
                                            <input type="radio" name="publishedState" value="unpublished" /> Unpublished (Reject) <br />
                                            <button name="saveWorkshopState">Save Workshop Approval State</button>
                                        </form>
                                        </p>
                                    </div>
                                </accordion-group>
                            </accordion>
                            <p style="color: #2164AA;" ng-show="workshops == ''">There are no workshops scheduled at this time</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>