<div ng-controller="AddBlogCtrl">
    <div class="row">
        <div class="twelve columns offsetHeight100" role="content">
            <div id="mainform" ng-hide="hidemainform">
                <h1><span ng-bind="message"></span></h1>

                <div id="log"></div>
                <h2 class="subHeader">Create Private Groupe</h2>
                <div class="small-12 columns">
                    <br />
                    <label for="title">Group Name: </label>
                    <input type="text" id="title" ng-model="form.title" name="title" placeholder="This is seen as the name of your private group. Please enter a title here.">
                    <br />
                    <br />
                    <label for="author">Please specify a short address for your group : </label>
                    <input type="text" name="author" id="author" ng-model="form.author" placeholder="(Less than 100 characters, including underscores and dashes with no spaces)">
                    <br />
                    <label for="content">Tell your group's story here: </label>

                    <!-- add on to later for now just use regular text area
                     <div id="toolbar" style="display: none;">
                         <a data-wysihtml5-command="bold" title="CTRL+B">bold</a> |
                         <a data-wysihtml5-command="italic" title="CTRL+I">italic</a>
                         <a data-wysihtml5-action="change_view">switch to html view</a>
                     </div>
                     -->
                    <textarea id="content" placeholder="Enter your groups story, mission and background here..." ng-model="form.text" cols="50" rows="25"></textarea>
                    <br />

                    <label>What is your group founder's name?</label>
                    <input type="text" class="login-inp" ng-model="form.firstName" placeholder="First Name" />
                    <input type="text" class="login-inp" ng-model="form.lastName" placeholder="Last Name" />
                    <br />

                    <!--
                    <h4>Tagegories</h4>
                        <p>These will show up as categories on the main screen and be used to filter aritcles on the main page.</p>
                        <p>These are to be comma seperated values ONLY!</p>
                        <label for="categories">Categories/Tags:</label>
                        <input type="text" name="categories" id="categories" ng-model="form.categories">
                        <p>Comma seperated values ONLY!! Be aware no validation here is added yet!</p>
                        -->
                    <br />
                    <br />
                    <p>
                        <a ng-click="submitPost()" class="button" resetOnSubmit="true">On to the Next Step</a>

                    </p>
                </div>
            </div>
            <div class="" ng-include src="template.url">

            </div>
        </div>

    </div>

</div>