<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angels of Eureka's Circle of Life. Memorial walls and celebrations for your lost loved ones.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link href="css/animate.min.css" rel="stylesheet"> -->
    
    <!-- build:css({.tmp,app}) css/main.css -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="css/foundation.min.css">-->
    <!--<link rel="stylesheet" href="bower_components/foundation/css/foundation.min.css">-->
    <link rel="stylesheet" href="scss/test.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link href="css/animate.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" media="all"/>
    <link rel="stylesheet" href="stylesheets/general_foundicons.css">
    <link rel="stylesheet" href="css/foundation-icons.css">
    <link rel="stylesheet" href="css/basic.css"/>
    <link rel="stylesheet" href="css/dropzone.css"/>
    <link rel="stylesheet" href="scripts/vendor/shadowbox-3.0.3/shadowbox.css"/>
    <link rel="stylesheet" href="scripts/vendor/intro.js-0.7.0/introjs.css"/>
    <!-- endbuild -->
    <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=207720999317465";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</head>
<body ng-app="YoMemorialApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>

<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<div ng-controller="HeaderCtrl" class="show-for-medium-up">
    <!-- Angels of Eureka Proudly Presents:-->
    <div ng-class="[constyle,constyle2]" >
        <nav ng-class="[topstyle,topstyle2]"  data-topbar data-options="is_hover: false">
            <ul class="title-area">
                <li class="name">
                    <div id="step1" ng-controller="TitleCtrl">
                        <a href="#/" ng-bind="title" class="logo"></a>
                    </div>
                </li>
                <li class="toggle-topbar menu-icon active"><a><span>Menu</span></a></li>
            </ul>
            <section  class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li  class="has-dropdown loggedOut">
                        <a style="color:#8a9948;">My Account</a>
                        <ul  class="dropdown">
                            <li>
                                <div  ng-controller="UserInfoCtrl" class="loginBlock">
                                    <div  id="username">

                                        <a href="#/profile/{{username}}" if-authed="show" class="small button">My Account</a>
                                        <a href="#/rules" class="small button">Rules</a>
                                        <a href="#" ng-click="logout()" if-authed="show" class="small button">logout</a>
                                        <a href="#/registration" if-authed="hide" class="small button">Register</a>
                                        <a href="#/login" if-authed="hide" class="small button">Login</a>
                                        <!-- <a if-authed="hide" class="small button" data-reveal-id="loginModal">Login</a>-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li if-authed="show" class="has-dropdown">
                        <a id="step2" href="#/profile/{{username}}">
                            <img width="34" src="http://www.gravatar.com/avatar/{{post.gravatar}}" />
                            <b style="color:#8a9948;">{{username}}</b>
                        </a>
                        <ul ng-controller="UserInfoCtrl" class="dropdown">
                            <!--ng-intro-options="IntroOptions"
                            ng-intro-method="CallMe"
                            >-->
                            <li>
                                <a  href="#/profile/{{username}}" if-authed="show">My Account</a>
                            </li>
                            <li>
                                <a href="#/rules">Rules</a>
                            </li>
                            <li>
                                <a href="#" ng-click="logout()" if-authed="show">logout</a>
                            </li>
                            <li>
                                <a href="#/registration" if-authed="hide">Register</a>
                            </li>
                            <li>
                                <a if-authed="hide" data-reveal-id="loginModal">Login</a>
                            </li>
                            <!--<li>
                                    <a  if-authed="show" class="small button" ng-click="CallMe()">CallME</a>
                            </li>-->
                        </ul>
                    </li>

                </ul>
                <!-- Left Nav Section -->
                <ul class="mainNav" ng-controller="SearchBarCtrl">
                    <li class="has-dropdown">
                        <a style="color:#8a9948;">Memorials</a>
                        <ul class="dropdown" id="workpets">
                            <li>
                                <a href="/" id="homebutton" class="small">Angel Memorials</a>
                            </li>
                            <li>
                                <a href="#/pets" id="petbutton" class="small">Pets</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#/groups" id="groupsbutton" class="small">Groups</a>
                    </li>
                    <li>
                        <a href="#/workshops" id="workshopbutton" class="small">Workshops</a>
                    </li>
                    <li>
                        <a href="#/petitions" id="pettionbutton" class="small">Petitions</a>
                    </li>
                    <li>
                        <a href="#" id="webstorebutton" class="small">Web Store</a>
                    </li>

                    <a href="#/help-resources" class="helpResc">Help Resources</a>
<!--
                    <li ng-controller="UserInfoCtrl" class="loggedBlock" id="username2">
                        <img width="34" src="http://www.gravatar.com/avatar/{{post.gravatar}}" />
                        <b>{{username}}</b>
                        <a href="#/profile/{{username}}" if-authed="show" class="small button">My Account</a>
                        <a href="#/rules" class="small button">Rules</a>
                        <a href="#" ng-click="logout()" if-authed="show" class="small button">logout</a>
                        <a href="#/registration" if-authed="hide" class="small button">Register</a>
                        <a if-authed="hide" class="small button" data-reveal-id="loginModal">Login</a>
                    </li>
    -->
                </ul>
                <div id="events" ng-controller="EventListController">
                    <img src="/img/eventsIcon.png" title="What's Happening" alt="Upcoming Events" />
                    <div class="event-list">
                        <div  class="event-list-header">
                            <h3>
                                Upcoming Events<span role="presentation" class="sub-nav-header-arrow">></span>
                            </h3>
                        </div>
                        <div class="event-list-body">
                            <ol ng-repeat="event in events" class="event-list-content">
                                <li>
                                    <span class="event-list-date">{{event.date}}</span>
                                    <span class="event-list-date">{{event.message}}</span>
                                    <span class="event-list-photo">Photo Here</span>
                                    <span class="event-list-type">
                                        <span class="event-list-name">{{event.name}}</span>
                                        <strong>{{event.event}}</strong><br />
                                        {{event.text}}

                                        <div class="event-list-reach-out">
                                           <!-- <a href="#" class="event-list-view-event" title="View Event Details">View Event</a>-->
                                        </div>
                                    </span>
                                </li>
                            </ol>
                        </div>
                    </div>

                </div>
            </section>
        </nav>
    </div>
</div>
<div class="off-canvas-wrap">
    <div class="inner-wrap">

        <nav  class="tab-bar show-for-small-only" >
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
            <section class="middle tab-bar-section">
                <h1 class="title">Circle of Life</h1>
            </section>
            <!--
            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
            </section>
            -->
        </nav>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Site Nav</label></li>
                <li><a href="#">My Account</a></li>
            </ul>
        </aside>
        <aside ng-controller="UserInfoCtrl" class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                    <li><label>Memorials</label></li>
                        <li>
                            <a href="/"  >Angel Memorials</a>
                        </li>
                        <li>
                            <a href="#/pets" >Pets</a>
                        </li>
                <li>
                    <a href="#/groups" >Groups</a>
                </li>
                <li>
                    <a href="#/workshops" >Workshops</a>
                </li>
                <li>
                    <a href="#/petitions" >Petitions</a>
                </li>
                <li>
                    <a href="#" >Web Store</a>
                </li>
                <li><label>{{username}} Account</label></li>
                <li><a href="#/profile/{{username}}" if-authed="show" >My Account</a></li>
                <li><a href="#/rules">Rules</a></li>
                <li><a href="#" ng-click="logout()" if-authed="show" >logout</a></li>
                <li><a href="#/registration" if-authed="hide">Register</a></li>
                <li><a href="#/login" if-authed="hide">Login</a></li>
            </ul>
            <a href="#/help-resources" class="helpResc">Help Resources</a>
        </aside>


        <!-- main content goes here -->
        <section class="main-section">
        <!-- Add your site or application content here -->


    <section class="primaryContent">
        <section class="shelf" id="shelf">
            <div ng-controller="NotificationsCtrl">
                <div class="my-repeat-animation" ng-repeat="noti in notifications" id="notifications">

                    {{ noti.text }}
                    <div>{{noti.count}}</div>
                    <a class="closeButton" ng-click="notiviewed( noti._id )" closeparent
                       title="Hide this box by clicking here">X</a>
                </div>
            </div>
            <!-- Main  Content -->
            <div ng-cloak ng-view class="mainBG my-page-animation">

            </div>
            <!-- End  Main Content -->
            <!-- Begin  Footer -->
            <footer class="row border-footer">
                <div class="small-12 large-12 columns right-separator footer-child">
                    <p>The Circle of Life by Angels of Eureka. © 2013 Angels of Eureka</p>
                    <p class="toiawase">
                        <a href="#/contact">Contact Us</a> - <a href="#/advertise">Advertise With Us</a> - <a href="#/help-resources">Help Resources</a> -

                        <div class="g-follow" data-annotation="none" data-height="15" data-href="https://plus.google.com/101511461747859957015" data-rel="publisher"></div>
                        <div class="fb-share-button" data-href="https://www.facebook.com/pages/Angels-Of-Eureka/526557840709907" data-width="100" data-type="button_count"></div>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-related="angelsofeureka">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </p>
                </div>
            </footer>
            <!-- End Footer -->
        </section>
        <div id="toc" ng-controller="MusicPlayerCtrl">
            <h2 ng-hide="iosshow" id="tocToggle" class="toc navTab status-off" ><a click>Music On/Off</a></h2>
            <aside class="base-class" ng-class="{'my-class':boolChangeClass}">
                <figure id="tableOfContents">
                    <object width="250" height="250" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsPlaylist9229298428" name="gsPlaylist9229298428" >
                        <param name="movie" value="http://grooveshark.com/widget.swf" />
                        <param name="wmode" value="window" />
                        <param name="allowScriptAccess" value="always" />
                        <param name="flashvars" value="hostname=grooveshark.com&playlistID=92292984&p=1&bbg=F18B7D&bth=000000&pfg=000000&lfg=000000&bt=FFFFFF&pbg=FFFFFF&pfgh=FFFFFF&si=FFFFFF&lbg=FFFFFF&lfgh=FFFFFF&sb=FFFFFF&bfg=F18B7D&pbgh=F18B7D&lbgh=F18B7D&sbh=F18B7D" />
                        <object type="application/x-shockwave-flash" data="http://grooveshark.com/widget.swf" width="250" height="250">
                            <param name="wmode" value="window" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="flashvars" value="hostname=grooveshark.com&playlistID=92292984&p=1&bbg=F18B7D&bth=000000&pfg=000000&lfg=000000&bt=FFFFFF&pbg=FFFFFF&pfgh=FFFFFF&si=FFFFFF&lbg=FFFFFF&lfgh=FFFFFF&sb=FFFFFF&bfg=F18B7D&pbgh=F18B7D&lbgh=F18B7D&sbh=F18B7D" />
                            Sorry, the flash player for this service is not supported by your device.
                        </object>
                    </object>
                </figure>
            </aside>
        </div>
    </section>
    </section>
        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
    </div>
</div>
<!-- Sitewide Modals -->
<div id="login-inner" ng-controller="LoginController">
    <div reveal-modal="login" id="loginModal" class="reveal-modal medium" data-reveal>
        <p><b>{{error}}</b></p>

        <p><b>{{message}}</b></p>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th>Username</th>
                <td><input type="text" class="login-inp" ng-model="form.username"/></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" class="login-inp" ng-model="form.password"/></td>
            </tr>
            <tr>
                <th></th>
                <td><a class="button" ng-click="submitAuth()">Login</a></td>
                <!--<td><a class="close-reveal-modal button">Close</a></td>-->
                <td ><a ng-click="forgot()" href="#/passwordrecovery">forgot password??</a></td>
            </tr>
        </table>
        <a class="closeButton close-reveal-modal" closeparent title="Hide this box by clicking here">X</a>
    </div>

</div>


<div id="pic-inner" ng-controller="DeletePicsCtrl">
    <div reveal-modal="deletepic" id="confirmDeletePics" class="reveal-modal small" data-reveal>
        <p><b>{{message}}</b></p>

        <p class="close-reveal-modal button" ng-href="#">Cancel</p>
        <a class="button" ng-click="deletepic()">Yes I am sure</a>
    </div>
</div>
<!-- End Sitewide Modals -->
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js scripts/modules.js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- endbuild -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!--<script src="scripts/foundation/foundation.min.js"></script>-->
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script type="text/javascript" src="scripts/external/app.js"></script>
<script type="text/javascript" src="scripts/external/ui-bootstrap-tpls-0.7.0.min.js"></script>
<script type="text/javascript" src="scripts/external/socketmodule.js"></script>
<script type="text/javascript" src="scripts/external/resources/blogService.js"></script>
<script type="text/javascript" src="scripts/external/resources/userService.js"></script>
<script type="text/javascript" src="scripts/external/services/BlogService.js"></script>
<script type="text/javascript" src="scripts/external/services/updateService.js"></script>
<script type="text/javascript" src="scripts/external/filters/byTag.js"></script>
<script type="text/javascript" src="scripts/external/GlobalCtrls/TitleCtrl.js"></script>
<script type="text/javascript" src="scripts/external/GlobalCtrls/BlogListCtrl.js"></script>
<script type="text/javascript" src="scripts/external/GlobalCtrls/GroupListCtrl.js"></script>
<script type="text/javascript" src="scripts/external/resources/twitterService.js"></script>
<script type="text/javascript" src="scripts/external/directives/loader.js"></script>
<script type="text/javascript" src="scripts/external/directives/ng-infinite-scroll.js"></script>
<script type="text/javascript" src="scripts/external/scope.onready.js"></script>
<script type="text/javascript" src="scripts/external/controller/MusicPlayerCtrl"></script>
<script type="text/javascript" src="scripts/external/controller/GiftShopCtrl"></script>
<script type="text/javascript" src="scripts/external/resources/apiV2.js"></script>
<script type="text/javascript" src="scripts/external/angular-http-auth.js"></script>
<script type="text/javascript" src="scripts/external/directives/login.js"></script>
<script type="text/javascript" src="scripts/vendor/jqAutoscroller.js"></script>
<script type="text/javascript" src="scripts/vendor/dropzone.js"></script>
<script type="text/javascript" src="scripts/external/dropzonemodule.js"></script>
<script type="text/javascript" src="scripts/foundation/foundation-datepicker.js"></script>
<script type="text/javascript" src="scripts/external/services/Cache.js"></script>
<script type="text/javascript" src="scripts/vendor/shadowbox-3.0.3/shadowbox.js"></script>
<script type="text/javascript" src="scripts/external/shadowboxmodule.js"></script>
<script type="text/javascript" src="scripts/external/provider/angular-adaptive-detection.js"></script>
<script type="text/javascript" src="scripts/vendor/intro.js-0.7.0/intro.js"></script>
<script type="text/javascript" src="scripts/external/directives/angular-intro.js"></script>
<!-- endbuild -->
<script>


    $(document).ready(function () {
        $(document).foundation();
        Shadowbox.init({
            skipSetup: true
        });
    })
</script>
</body>
</html>
