<div ng-controller="AddGroupCtrl">
       <h3>Upload an image for your group's logo</h3>
        <dropzone
             url="/uploadportrait"
                  class="dropzone"
                  id="portraitDropzone"
                  autoupload="false"
                  maximages="1"
                  addRemoveLinks="true"
                >
        </dropzone>

    <a ng-click="submitspread()"ng-href="#/group/{{parentData.author}}" class="button">Upload & View Group</a>
    <a ng-href="#/group/{{parentData.author}}" class="button">No thanks Show me my Group</a>
</div>