<div ng-controller="EditWallCtrl">
    <h3>Upload A New Image for your Angel's Portrait (Max size 1mb)</h3>
    <img src="uploads/{{ portrait.portrait }}" />
    <dropzone
            url="/uploadportrait"
            class="dropzone"
            id="portraitDropzone"
            autoupload="false"
            maximages="1"
            addRemoveLinks="true"
            >
    </dropzone>

    <a ng-click="submitportrait()" class="button">Upload New Image & Save</a>
    <a ng-click="nochange('fin')" class="button">Keep this Photo & Save</a>
    <!--<a ng-click="nochange('editspread')" class="button">Keep this Photo & Continue</a>-->


</div>