<div ng-controller="EditWallCtrl">
    <h2>
        You edited your portrait photo.
        Would you like to edit the background photo for you portrait photo.
    </h2>
    <h3>Change the background image</h3>
    <img src="uploads/{{ spread.spread  }}" />
    <dropzone url="/uploadspread"
              class="dropzone"
              id="spreadDropzone"
              autoupload="false"
              maximages="1"
              addRemoveLinks="true"
            >
    </dropzone>
    <a ng-click="submitspread()" class="button">Upload New Image and Continue</a>
    <a ng-click="nochange('fin')" class="button">Keep this Photo & Continue</a>
</div>
