<div ng-controller="FriendsFamilyCtrl">
    <div id="contentHeader" class="small-12 columns">
        <h2 class="contentHeaderTitle">This Angel's Story</h2>
    </div>
    <div class="small-12 columns ">
        <div class="row">
            <p class="angelStoryFull">{{ entry.text }}</p>
            <br />
            <a href="http://www.facebook.com/share.php?u=<url>" onclick="return fbs_click()" target="_blank" class="fbShare">
                <img src= "http://b.static.ak.fbcdn.net/images/share/facebook_share_icon.gif?8:26981" alt="" />
            </a>
        </div>
    </div>
</div>