<div ng-controller="FriendsFamilyCtrl">
    <div id="contentHeader" class="small-12 columns">
        <h2 class="contentHeaderTitle">This Angel's Story</h2>
    </div>
    <div class="small-12 columns ">
        <div class="row">
            <p class="angelStoryFull">{{ entry.text }}</p>
            <br />
            <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-href="http://the-circle-of-life.net/#/angel/{{ entry.author }}"></div>
        </div>
    </div>
</div>