<div ng-controller="AnniCtrl">
    <div>
        <div id="contentHeader">
            <h2 class="contentHeaderTitle">Add Angel Anniversary</h2>
        </div>
    </div>
    <div ng-show="eventbox" id="eventbox">
        <div>
            <h4 class="dark">Add a New Angel Anniversary</h4>
            <h5>Details</h5>
            <input type="text" name="eventheader" ng-model="event"  placeholder="Give your event a name"/>
            <input type="text" name="eventdesc" ng-model="eventdesc"  placeholder="Tell us more about why this day is special"/>
            <h5>Date</h5>
            <div class="form-horizontal">
                <input type="text" name="eventdate" datepicker-popup="yyyy/MMMM/dd" ng-model="eventdate" is-open="opened2" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" placeholder="Pick a Date For Your Anniversary or Event" />
                <a class="btn" ng-click="open(2)"><img src="/img/eventsIcon.png" title="What's Happening" alt="Add an Angel Anniversary or Special Event"></a>
            </div>

            <a ng-click="submitEvent()" class="small button">Submit Angel Anniversary</a>
        </div>
    </div>
    <a ng-click="toogleEventEntry()" class="small button showRevealCal">{{state}}</a>
    <div>
        <div>
            <h1>Angel Anniversaries</h1>
            <div class="my-repeat-animation" ng-repeat="ani in anis"  style="background: #CDDFEF;margin-bottom: 20px;">
                <div>
                    <div>
                      <button ng-click="deleteEvent(ani._id)">DELETE</button>
                      <h4>{{ ani.event }}</h4>
                        <p>{{ ani.date }}</p>
                        <p>{{ ani.text }}</p>
                        <br />
                        <div class="my-repeat-animation" ng-repeat="gift in ani.gifts" style="background: #CDDFEF;margin-bottom: 20px;">
                            <p>{{gift.from}} has gifted {{gift.postText}}</p>
                        </div>
                       <!-- <a href="" class="button">Send Well Wishes</a>-->
                        <!--
                        <input class="addNewPost  ng-pristine ng-valid" type="text" placeholder="Begin a new conversation here" ng-model="postText"></input>
                        <div class="small-2 "> <button class="button postfix" ng-click="submit()"> … </button> </div>
                        -->
                        <a ng-click="deleteEvent(ani._id)" class="small button">DeleteAngel Anniversary</a>
                        <a href="#/gifts/{{ani._id}}/{{blogId}}" class="small button">Send a Gift</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--
<h3><b>{{entry.title}}</b></h3>
<h6>Posted by <a href="#">{{entry.author}}</a> on {{entry.date}}.</h6>
<div >
    <div class="ten ">
        <div ng-bind-html-unsafe="text"></div>
    </div>
    <div class="two ">

    </div>
</div>
<hr/>
<br/>
</article>
<div login>
<div id="login-inner" ng-controller="LoginController">
    <i class="foundicon-error">You must login to submit comments.</i>
    <i class="foundicon-error">{{error}}</i>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th>Username</th>
            <td><input type="text" class="login-inp" ng-model="form.username"/></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" class="login-inp" ng-model="form.password"/></td>
        </tr>
        <tr>
            <th></th>
            <td><a class="button" ng-click="submitAuth()">Login</a></td>
        </tr>
    </table>
</div>
</div>
<div id="comments">
<div class="six ">
    <div id="submitComment">
        <textarea ng-model="body"></textarea>

        <p>
            <a ng-click="submitComment()" class="button" resetOnSubmit="true"></a>
        </p>
    </div>

    <div class="comment" ng-repeat="comment in comments">
        <p><b>{{comment.username}}</b></p>

        <p>{{comment.body}}</p>
    </div>
</div>
<div class="six ">
    <div ng-repeat="viewer in viewers">
        <p>{{viewer.username}}</p>
    </div>
</div>

</div>
       -->
