<div ng-controller="FriendsFamilyCtrl">
    <div id="contentHeader" class="small-12 columns">
        <h2 class="contentHeaderTitle">{{title}}</h2>
    </div>
    <div class="small-12 columns ">
        <div class="row">
            <ul>
                <li ng-repeat="subscriber in subscribers">
                    <p><a ng-href="#/pubpro/{{ subscriber.username }}" title="User Name: {{ subscriber.username }}">{{ subscriber.firstName }} {{ subscriber.lastName }}</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>