<div ng-controller="VideoCtrl">
    <div class="row ">
        <div id="contentHeader" class="small-12 columns">
            <h2 class="contentHeaderTitle">Upload Videos</h2>
        </div>
    </div>
    <p>
        <b>*You can upload you video memories from youtube or animoto here on this panel!</b>
    </p>
    <div ng-show="videobox" id="videobox">
        <div>
            <h3 style="color:#3F77BC;">Select which type of video you would like to show.</h3>
            <a class="button small" ng-click="youtube = true;animoto = false;">YouTube</a>
            <a class="button small" ng-click="youtube = false;animoto = true;">Animoto</a>
            <div class="my-show-hide-animation" ng-show="youtube">
                <h4 class="dark">YouTube Link</h4>
                <b class="dark">Past or type a YouTube url here.</b>
                <input type="text" name="youtube" ng-model="embedVideos.youtube" id="youtube" placeholder="Enter your youtube embed code here!"/>
                <a ng-click="submitVideo()" class="button small">Submit video links</a>

            </div>
            <div class="animoto" ng-show="animoto">
                <h4 class="dark">Animoto Link</h4>

                <p>*Turn your photos and music into stunning video slideshows. You provide
                    the photos, you pick the song, and we'll add the magic. Give it a try —
                    it's fast, free and shockingly easy. <a href="http://animoto.com"
                                                            target="_blank">http://animoto.com</a>
                    Once you create your Animoto video there, use your "share" link to
                    upload them to your video gallery on this panel!</p>
                <input type="text" name="animoto" ng-model="embedVideos.animoto" id="animoto"
                       placeholder="Enter your animoto video url here!"/>
                <a ng-click="submitVideo()" class="button small">Submit video links</a>

            </div>
        </div>

    </div>
    <a ng-click="toogleVideoEntry()" class="button small">{{state}}</a>
    <a ng-click="modStream = true" class="button small">Add or Remove videos from your stream</a>
    <a ng-show="modStream" class="button small" ng-click="refreshVideoList(); modStream = false">Done editing</a>
    <div class="row">
        <div class="small-12 columns contentContainer">
            <div class="row">
                <ul class="small-block-grid-2">
                    <li>
                        <!--<iframe ng-repeat="video in videos"
                                width="315" height="177"
                                src="http://www.youtube.com/embed/{{video.embedYouTube}}"
                                frameborder="0"
                                allowfullscreen>
                        </iframe>-->
                        <div class="my-repeat-animation" ng-repeat="video in videoPosts track by $index">

                           <div class="videoContainer">
                               <div>
                                     <input
                                       type="checkbox"
                                       ng-show="modStream"
                                       ng-model="video[$index]"
                                       ng-change="addToStream(video._id)"
                                       ng-checked="video.inStream"/>
                                 </div>
                               <i class="fi-check" ng-show="video.inStream"></i>
                               <p ng-bind-html="video.embedYouTube | unsafe" ></p>
                           </div>
                        </div>
                        <div class="my-repeat-animation" ng-repeat="video in videoPosts track by $index">
                            <div class="videoContainer">
                                <div>
                                    <input
                                            type="checkbox"
                                            ng-show="addToStream"
                                            ng-model="video[$index]"
                                            ng-change="addVideoToStream(video[$index]._id)"
                                            ng-checked="video.inStream"/>
                                </div>
                                <p ng-bind-html="video.embedAnimoto | unsafe" ></p>
                            </div>
                        </div>
                        <!--
                        <div class="my-repeat-animation" ng-repeat="video in videosyt track by $index">
                              <p ng-bind-html="video" ></p>
                        </div>
                        <div class="my-repeat-animation" ng-repeat="video in videosa track by $index">
                            <p ng-bind-html="video"></p>
                        </div>
                        -->
                    </li>


                </ul>
            </div>

        </div>
    </div>
</div>

<!--
<h3><b>{{entry.title}}</b></h3>
<h6>Posted by <a href="#">{{entry.author}}</a> on {{entry.date}}.</h6>
<div class="row">
    <div class="ten columns">
        <div ng-bind-html-unsafe="text"></div>
    </div>
    <div class="two columns">

    </div>
</div>
<hr/>
<br/>
</article>
<div login>
<div id="login-inner" ng-controller="LoginController">
    <i class="foundicon-error">You must login to submit comments.</i>
    <i class="foundicon-error">{{error}}</i>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th>Username</th>
            <td><input type="text" class="login-inp" ng-model="form.username"/></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" class="login-inp" ng-model="form.password"/></td>
        </tr>
        <tr>
            <th></th>
            <td><a class="button" ng-click="submitAuth()">Login</a></td>
        </tr>
    </table>
</div>
</div>
<div id="comments" class="row">
<div class="six columns">
    <div id="submitComment">
        <textarea ng-model="body"></textarea>

        <p>
            <a ng-click="submitComment()" class="button" resetOnSubmit="true"></a>
        </p>
    </div>

    <div class="comment" ng-repeat="comment in comments">
        <p><b>{{comment.username}}</b></p>

        <p>{{comment.body}}</p>
    </div>
</div>
<div class="six columns">
    <div ng-repeat="viewer in viewers">
        <p>{{viewer.username}}</p>
    </div>
</div>

</div>
       -->
