<div>
    <b>Email sent to you by the server at AngelsOfEureka.org.</b>
</div>
<div>
    <h1>HI PATRICIA! </h1>
</div>
<div>
    <p>Somebody emailed you here is there info.</p>
    <p>First name:{{fName}}</p>
    <p>Last name:{{lName}}</p>
    <p>Email :{{eMail}}</p>
    <p>Address :{{address}}</p>
    <p>Phone no:{{phoneNo}}</p>
    <p>City:{{city}}</p>
    <p>State:{{state}}</p>
    <p>Zip code:{{zCode}}</p>

    <p>Here is the message they sent you.</p>

    <p>message :{{message}}</p>



    <p>Ok thats it Patricia.... Thanks again and have a nice day from Angels Server ;)</p>
</div>