<div ng-controller="blogEntryCtrl">
    <div class="fixed">
        <div class="row" offset-height="90" ng-show="profileMenuViewable" ng-animate="fade" id="profile-menu">
            <div class="small-8 small-offset-4">
                <nav class="top-bar">
                    <section class="top-bar-section">
                        <ul class="left">
                            <li class="active" ng-click="loadPage('Latest')"><a>Home</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Pics')"><a>Pics</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Videos')"><a>Videos</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Anniversaries')"><a>Angels Anniversaries</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Friends and Family')"><a>Friends and Family</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns" offset-height="100" role="content">
            <div id="picheader">
                <div class="row">
                    <div class="large-12 columns">
                        <img src="http://placehold.it/1000x300&text=[img]">

                        <hr>

                        <div offset-height="-300">
                            <img id="portrait" src="http://placehold.it/200x300&text=[img]">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="small-8 columns">
            <div class="row collapse">
                <div class="postEntry small-10 columns">
                    <input type="text" ng-hide="textorphoto" ng-model="postText"/>

                    <div ng-show="textorphoto" id="UploadBox">
                        <h2>Photo Uploader</h2>
                              <div id='UploadArea'>
                                 <dropzone url="/upload"
                                           class="dropzone"
                                           id="my-awesome-dropzone">
                                 </dropzone>

                              </div>
                            <a ng-click="submitphotodata()" class="button">Save</a>
                            <a ng-click="cancelphotodata()" class="button">Changed my mind</a>
                    </div>
                </div>
                <div class="small-2 columns">
                    <button ng-click="submit()" class="button postfix">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <span>add videos</span>
                </div>
                <div class="small-2 columns">
                    <button class="mediabuttons"><i class="general foundicon-video mediaicons"></i></button>
                </div>
                <div class="small-2 columns">
                    <span>add photos</span>
                </div>
                <div class="small-2 columns" ng-click="flipEntry()">
                    <button class="mediabuttons"><i class="general foundicon-photo mediaicons"></i></button>
                </div>
                <div class="small-offset-8 columns"></div>
            </div>
            <div class="row">
                <div id="contentHeader" class="small-12 columns">
                    <h2 class="contentHeaderTitle">{{contentHeaderTitle}}</h2>
                </div>
            </div>
            <div ng-include="template">

            </div>
        </div>

        <div class="small-3 columns small-offset-1">
            <div class="row">
                <div id="chat" class="small-12 columns">
                    <h2 class="contentHeaderTitle">Chat</h2>
                </div>
            </div>
            <div class="contentContainer row">
                <div id="submitComment">
                    <textarea ng-model="body"></textarea>

                    <p>
                        <a ng-click="submitComment()" class="button" resetOnSubmit="true"></a>
                    </p>
                </div>
                <div ng-repeat="comment in comments" class="row">
                    <div class="small-12 columns">
                        <p><b>{{comment.username}}</b></p>

                        <p>{{comment.body}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>