<div ng-controller="blogEntryCtrl">
    <div class="fixed">
        <div class="row" offset-height="90" ng-show="profileMenuViewable" ng-animate="fade" id="profile-menu">
            <div class="small-6 small-offset-6">
                <nav class="top-bar">
                    <section class="top-bar-section">
                        <ul class="left">
                            <li class="active" ng-click="loadPage('index')"><a>Home</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('pics')"><a>Pics</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('videos')"><a>Videos</a></li>
                            <li class="divider"></li>
                            <li><a href="#/about">About</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns" offset-height="100" role="content">
            <div id="picheader">
                <div class="row">
                    <div class="large-12 columns">
                        <img src="http://placehold.it/1000x300&text=[img]">

                        <hr>

                        <div offset-height="-300">
                            <img id="portrait" src="http://placehold.it/200x300&text=[img]">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="template">

        </div>

    </div>
</div>