<div ng-controller="ContentCtrl">
    <div class="nine columns offsetHeight" role="content" >
        <div ng-controller="GroupingCtrl">
            <div ng-hide="groupingViewable" ng-animate="'fade'" class="grouping">
                <div class="row">
                      <b>View by Groupings</b>
                    <a ng-click="changeSubgroup(0)" class="button small success radius">Mothers</a>
                    <a ng-click="changeSubgroup(1)" class="button small success radius">Family</a>
                    <a ng-click="changeSubgroup(2)" class="button small success radius">Friends</a>
                    <a ng-click="changeSubgroup(undefined)" class="button small success radius">View All</a>
                    <br class="clear" />
                    <input ng-model="search.search" type="text" class="searchBar" placeholder="Search Memorials">

                </div>
            </div>
        </div>
        <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' autoscroll>
            <ul class="small-block-grid-4">
                <li ng-repeat="entry in entries | filter:search.search | bySubgroup:subgroup">
                    <div style="background-image: url({{entry.titleImage}})" ng-style="getBackImg(entry._id)" class="memProfilePreview">
                        <h6><a href="#/blog/{{entry.author}}">{{entry.lastName}}, {{entry.firstName}}</a></h6>
                        <a href="#/blog/{{entry.author}}"><img src="/uploads/{{ entry.profilePicPortrait }}" alt="child pick"/></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
