<div ng-controller="UserProfileCtrl">
    <div class="row offsetHeight100">
        <div class="small-12 columns">
            <div ng-controller="FindNewMembersBlockCtrl">
                <div id="contentHeader" class="small-12 columns">
                    <h2 class="contentHeaderTitle">Find new members to add to Your Memorial Wall: {{ wallname}} </h2>
                </div>
                <br />
                <div>
                    <input ng-model="searchText"/>
                </div>
                <ul class="profile">
                    <li class="wallViewers" ng-repeat="user in users | filter:searchText">
                        <h3><img src="http://www.gravatar.com/avatar/{{user.gravatar}}" /> {{ user.firstName }} {{ user.lastName }}</h3>
                        <b>Username:{{ user.username }}</b>
                        <a ng-click="invite(user._id )" class="small radius button workpetsbuttons">Invite</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>