<div ng-controller="UserProfileCtrl">
    <div class="row offsetHeight100">
        <div class="small-12 columns">
            <div ng-controller="InviteBlockCtrl">
                <div id="contentHeader" class="small-12 columns">
                    <h2 class="contentHeaderTitle">Invite or Block Users to Your Memorial Wall Profile for {{ wallname}} </h2>
                </div>
                <br />
                <ul class="profile">
                    <li ng-repeat="user in users">
                        <h3><img src="http://www.gravatar.com/avatar/{{user.gravatar}}" /> {{ user.firstName }} {{ user.lastName }}</h3>
                        <b>Username:{{ user.username }}</b>
                        <a ng-click="invite(user._id )" class="small radius button workpetsbuttons">Invite</a>
                        <a ng-click="block(user._id )" class="small radius button workpetsbuttons">Block</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>