<div ng-controller="PetitionCtrl">

    <div class="row offsetHeight100">
        <h1 class="sectionHeader">Petitions</h1>
        <div class="small-12 columns">
            <h2>Create a petition</h2>
            Give your petition a name. <input type="text" ng-hide="textorphoto" ng-model="title"/>
            What is your petition for? <input type="text" ng-hide="textorphoto" ng-model="text"/>

            <button ng-click="submit()" class="button postfix">Submit</button>
        </div>
    </div>
    <div class="row" ng-repeat="petition in petitions">
        <div class="small-12 columns">
            <h2>Sitewide petitions</h2>
            <h3><a href="#/petition/{{petition.title}}">{{petition.title}}</a> </h3>

        </div>

    </div>
</div>