<div ng-controller="PetitionEntryCtrl">
    <div class="row">
        <div class="small-12 columns">
            <div>YOYOO</div>
        </div>

    </div> <div class="row">
    <div class="small-12 columns">
        <div>YOYOO</div>
    </div>

</div> <div class="row">
    <div class="small-12 columns">
        <div>YOYOO</div>
    </div>

</div><div class="row">
    <div class="small-12 columns">
        <div>YOYOO</div>
    </div>

</div><div class="row">
    <div class="small-12 columns">
        <div>YOYOO</div>
    </div>

</div><div class="row">
    <div class="small-12 columns">
        <div>YOYOO</div>
    </div>
</div><div class="row">
    <div class="small-12 columns">
        <div>YOYOO</div>
    </div>

</div><div class="row">
    <div class="small-12 columns">
        <div>YOYOO</div>
    </div>

</div><div class="row">
    <div class="small-12 columns">
        <div>YOYOO</div>
    </div>

</div>
    <div class="row">
    </div>
    <div class="row" ng-model="petition">
        <div class="small-12 columns">
            <h3>{{petition[0].title}}</h3>
            <h3>{{petition[0].text}}</h3>
            <div class="row" ng-repeat="signature in petition[0].signatures">
                <div class="small-12 columns">
                    <p>{{signature.initals}}</p>
                    <p>{{signature.cityState}}</p>
                    <p>{{signature.email}}</p>
                    <p>{{signature.$index}}</p>
                </div>
            </div>

        </div>

    </div>
</div>