<div ng-controller="blogEntryCtrl">
    <div class="fixed">
        <div class="row" offset-height="90" ng-show="profileMenuViewable" ng-animate="fade" id="profile-menu">
            <div class="small-8 small-offset-4">
                <nav class="top-bar">
                    <section class="top-bar-section">
                        <ul class="left">
                            <li class="active" ng-click="loadPage('Latest')"><a>Home</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Pics')"><a>Pics</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Videos')"><a>Videos</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Anniversaries')"><a>Angels Anniversaries</a></li>
                            <li class="divider"></li>
                            <li class="active" ng-click="loadPage('Friends and Family')"><a>Friends and Family</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns" offset-height="100" role="content">
            <div id="picheader">
                <div class="row">
                    <div class="large-12 columns">
                        <img src="http://placehold.it/1000x300&text=[img]">

                        <hr>

                        <div offset-height="-300">
                            <img id="portrait" src="http://placehold.it/200x300&text=[img]">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="small-8 columns">


            <div class="row">
                <div id="contentHeader" class="small-12 columns">
                    <h2 class="contentHeaderTitle">Basic Profile</h2>
                </div>
            </div>
            <ul>
                <li>First Name : {{entry.firstName}}</li>
                <li>Last Name: {{entry.lastName}}     </li>
                <li>Sex : {{entry.gender}}     </li>
                <li>Memorial Date: {{entry.memorialDate}}     </li>
            </ul>
        </div>



    </div>
</div>