<div ng-controller="RegisterCtrl">
    <div class="row">
        <div class="twelve columns offsetHeight100" role="content">
            <p ng-repeat="message in messages"><b>{{message}}</b></p>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <h1>We are in closed beta: Enter your code to access the closed beta.</h1>
                    <h4>If you do not have a code find someone that does or please be patient till we open to the public.
                    sorry for the inconvenience. </h4>
                    <th>Beta code</th>
                    <td><input type="text" class="login-inp" ng-model="form.betacode"/></td>
                </tr>
                <tr>

                    <th>Username</th>
                    <td><input type="text" class="login-inp" ng-model="form.username"/></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="password" class="login-inp" ng-model="form.password"/></td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td><input type="text" class="login-inp" ng-model="form.firstName"/></td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td><input type="text" class="login-inp" ng-model="form.lastName"/></td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td><input type="checkbox" class="login-inp" ng-model="form.male"/>Male</td>
                    <td><input type="checkbox" class="login-inp" ng-model="form.female"/>Female</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><input type="email" class="login-inp" ng-model="form.email"/></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><input type="text" class="login-inp" ng-model="form.address"/></td>
                </tr>
                <tr>
                    <td colspan="2"><p><b>{{message}}</b></p></td>
                </tr>

                <tr>
                    <th>City</th>
                    <td><input type="text" class="login-inp" ng-model="form.city"/></td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td><input type="number" class="login-inp" ng-model="form.age"/></td>
                </tr>
                <tr>
                    <th>About</th>
                    <td><input type="text" class="login-inp" ng-model="form.about"/></td>
                </tr>

                <tr>
                    <th></th>
                    <td><a class="button" ng-click="submitFinalDetails()">Register</a></td>
                    <td><a class="close-reveal-modal button">Cancel</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>