<div ng-controller="RegisterCtrl">
    <div class="row">
        <div class="twelve columns offsetHeight100" role="content">
            <p ng-repeat="message in messages"><b>{{message}}</b></p>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Username</th>
                    <td><input type="text" class="login-inp" ng-model="form.username"/></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="password" class="login-inp" ng-model="form.password"/></td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td><input type="text" class="login-inp" ng-model="form.firstName"/></td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td><input type="text" class="login-inp" ng-model="form.lastName"/></td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td><input type="checkbox" class="login-inp" ng-model="form.male"/>Male</td>
                    <td><input type="checkbox" class="login-inp" ng-model="form.female"/>Female</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><input type="email" class="login-inp" ng-model="form.email"/></td>
                </tr>
                <tr>
                    <td colspan="2"><p><b>{{message}}</b></p></td>
                </tr>
                <tr>
                    <th>City</th>
                    <td><input type="text" class="login-inp" ng-model="form.city"/></td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td><input type="number" class="login-inp" ng-model="form.age"/></td>
                </tr>
                <tr>
                    <th>Tell us a little about yourself</th>
                    <td><input type="number" class="login-inp" ng-model="form.about"/></td>
                </tr>
                <tr>
                    <th>Avatar</th>
                    <!--TODO:Make this a n uploadable file-->
                    <td><input type="text" class="login-inp" ng-model="form.avatar"/></td>
                </tr>
                <tr>
                    <td colspan="2"><p><b>{{message}}</b></p></td>
                </tr>
                <tr>
                    <th></th>
                    <td><a class="button" ng-click="submitFinalDetails()">Register</a></td>
                    <td><a class="close-reveal-modal button">Cancel</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>