<div ng-controller="UserProfileCtrl">
    <div class="row offsetHeight100">
        <div class="small-12 columns">
            <div id="rulesModal">
                <div class="row ">
                    <div id="contentHeader" class="small-12 columns">
                        <h2 class="contentHeaderTitle">Our Site Rules and Terms of Use</h2>
                    </div>
                </div>
                <div class="section-container auto" reflow data-section>
                    <section>
                        <p class="title" data-section-title><a href="#panel1">Section 1</a></p>
                        <div class="content" data-section-content>
                            <p>Content of section 1.</p>
                        </div>
                    </section>
                    <section>
                        <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
                        <div class="content" data-section-content>
                            <p>Content of section 2.</p>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>