<div ng-controller="UserProfileCtrl">
    <div class="row offsetHeight100">
        <div class="small-12 columns">

            <div class="section-container auto" reflow data-section>
                <section>
                    <p class="title" data-section-title><a href="#panel1">Instructions</a></p>
                    <div class="content" data-section-content>
                        <div id="contentHeader" class="small-12 columns">
                            <h2 class="contentHeaderTitle">Instructions on how to manage your account</h2>
                        </div>

                        <p>Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Donec sed odio dui.

                            Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. </p>

                        <p><b>This is a Free Service.</b></p>
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#panel1">Basic Profile</a></p>
                    <div class="content" data-section-content>
                        <div id="contentHeader" class="small-12 columns">
                            <h2 class="contentHeaderTitle">Basic Profile</h2>
                        </div>

                        <div class="profileGravatar">
                            <img src="http://www.gravatar.com/avatar/{{user.gravatar}}" />
                        </div>
                        <ul class="profile">

                            <li>First Name : {{user.firstName}}</li>
                            <li>Last Name: {{user.lastName}}     </li>
                            <li>email : {{user.email}}     </li>
                            <li>City : {{user.city}}     </li>
                            <li>Age : {{user.age}}     </li>
                            <li>About you : {{user.about}}     </li>
                            <li>You have lost a {{user.lost}}</li>
                        </ul>

                        <a href="#" class="button">Edit Your profile</a>
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#panel1">My Memorial Walls</a></p>
                    <div class="content" data-section-content>
                        <div class="row ">
                            <div id="contentHeader" class="small-12 columns">
                                <h2 class="contentHeaderTitle">My Memorial Walls</h2>
                            </div>
                        </div>
                        <div class="profileGravatar">
                            <a href="#/AddBlogEntry" class="button"><b>Create a new memorial wall profile here!</b></a>  <br /><br />
                        </div>
                        <ul class="profile">
                            <li ng-repeat="angel in angels">Angel's Name : {{ angel.firstName }} {{ angel.lastName }} - {{ angel.title }}
                                <br />- <a href="#/blog/{{form.author}}">View this memorial wall</a>
                                <br />- <a href="#/editwall/{{ angel.author }}">Edit this memorial wall</a>
                                <br />- <a href="#/deletewall/{{ angel.author }}">Delete this memorial wall</a>
                                <br />- <a href="#/inviteblock/{{ angel.author }}">invite or block other registered members</a><br /><br />
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#panel1">Friend’s Memorials</a></p>
                    <div class="content" data-section-content>
                        <div class="row ">
                            <div id="contentHeader" class="small-12 columns">
                                <h2 class="contentHeaderTitle">Memorial Walls of My Friends and Acquaintances </h2>
                            </div>
                        </div>
                        <div class="profileGravatar">
                        </div>
                        <ul class="profile">
                            <li ng-repeat="angelmember in angelmembers">Angel's Name : (Angel's full name)  - <a href="#/blog/{{ angelmember.author }}">View this memorial wall</a> - <a href="#/selfremove/{{ angelmember.author }}">Remove yourself from this memorial wall network</a></li>
                        </ul>
                        <!-- This next UL is for demonstration purposes only. Delete after demo to client -->
                        <ul class="profile">
                            <li>Angel's Name : (Angel's full name)  - <a href="#">View this memorial wall</a> - <a href="#">Remove yourself from this memorial wall network</a></li>
                        </ul>
                        <!-- Delete above UL after demo -->
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#panel1">My Groups</a></p>
                    <div class="content" data-section-content>
                        <div id="contentHeader" class="small-12 columns">
                            <h2 class="contentHeaderTitle">My Group's</h2>
                        </div>

                        <p>Welcome to the My Groups dashboard. From here you can create, manage and view groups that you own, or view groups that you have joined, or been invited to.</p>
                        <div class="small-4 columns rghtDvd">
                            <b>Groups I Own</b>
                            <br />      <br />
                            <section ng-repeat="group in groups">
                                <b>Group Name: {{group.title}}</b>
                                <br />
                                Group Moderator: {{group.author}}
                                <br />
                                <ul>
                                <li ng-repeat="angel in angels">Angel's Name : {{ angel.firstName }} {{ angel.lastName }} - {{ angel.title }}
                                    <br />- <a href="#/group/{{angel.author}}">View this memorial group</a>
                                    <br />- <a href="#/editwall/{{ angel.author }}">Edit this memorial group</a>
                                    <br />- <a href="#/inviteblock/{{ angel.author }}">invite or block other registered members</a><br /><br />
                                </li>
                                </ul>
                                <a href="#/deletewall/{{ angel.author }}" class="button">Delete this group</a>
                            </section>
                        </div>

                        <div class="small-4 columns rghtDvd">
                            <b>Groups I Joined / Group Invites</b>
                            <br /> <br />
                            <section>
                                <b>Group Name: Mothers Mourning</b>
                                <br />
                                Group Owner: Lisa Hendricks
                                Group Moderator(s): Mary Olsen, Me
                                <br />
                                <ul>
                                    <li>View this group's page</li>
                                    <li>Edit Group Details</li>
                                    <li>View Group Members</li>
                                    <li>Suggest new members</li>
                                    <li>Restrict member</li>
                                    <li>Report group member for misconduct</li>
                                </ul>
                                <a class="button">Leave this group</a>
                            </section>
                        </div>
                        <div class="small-4 columns">
                            <a href="#/StartGroup" class="button">Create a new group here!</a>
                        </div>


                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#panel1">My Network</a></p>
                    <div class="content" data-section-content>

                        <div id="contentHeader" class="small-12 columns">
                            <h2 class="contentHeaderTitle">My Network</h2>
                        </div>

                        <p>
                            My Network is where all contacts from the memorial walls and groups that you are a part of are listed.<br />
                            Quickly find and contact your friends here.
                        </p>
                        <ul>
                            <l1>
                                Anthony Lemrick - Affiliation: Mary Adam’s Memorial Wall - <a class="button" data-reveal-id="messageModal">Send private message</a>
                            </l1>
                            <li>
                                Michael Deidricks - Affiliation: Grieving Family Group - <a class="button" data-reveal-id="messageModal">Send private message</a>
                            </l1>
                            <li>
                                Susan Reno - Affiliation: Mary Adam’s Memorial Wall - <a class="button" data-reveal-id="messageModal">Send private message</a>
                            </l1>
                            <li>
                                Barry Johnson -- Affiliation: Support for friends Group - <a class="button" data-reveal-id="messageModal">Send private message</a>
                            </l1>
                            <li>
                                Marsha Tisdale - Affiliation: Mary Adam’s Memorial Wall - <a class="button" data-reveal-id="messageModal">Send private message</a>
                            </l1>
                            <li>
                                Mark Adams - - Affiliation: Mary Adam’s Memorial Wall - <a class="button" data-reveal-id="messageModal">Send private message</a>
                            </l1>
                            <li>
                                Nancy Adams - - Affiliation: Mary Adam’s Memorial Wall - <a class="button" data-reveal-id="messageModal">Send private message</a>
                            </l1>
                            <li>
                                Jerry Smith - - Affiliation: Mary Adam’s Memorial Wall - <a class="button" data-reveal-id="messageModal">Send private message</a>
                            </l1>
                        </ul>

                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#panel1">My Petitions</a></p>
                    <div class="content" data-section-content>
                        <div id="contentHeader" class="small-12 columns">
                            <h2 class="contentHeaderTitle">My Petitions</h2>
                        </div>

                        <p>
                            Here are all of the petitions that you have started.
                        </p>
                        <ul>
                            <l1>
                                Petition Name - <a class="button">Edit</a> - <a class="button">Delete</a>
                            </l1>

                        </ul>


                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#panel1">Message Center</a></p>
                    <div class="content" data-section-content>
                        <div id="contentHeader" class="small-12 columns">
                            <h2 class="contentHeaderTitle">Message Center</h2>
                        </div>

                        <p>Welcome to the Message Center. From here you can create, manage and view messages from your network members, administrators and other registered users..</p>

                        <div class="small-6 columns rghtDvd">
                            <a class="button" data-reveal-id="messageModal">Create a new message here!</a>
                            <br />
                            <b>Mailbox</b>
                            <br />      <br />
                            <section>
                                <div class="row">
                                    <input type="text" ng-model="postText" class="addNewPost small-12 columns" placeholder="Search Messages"/>
                                </div>
                                <div class="row">
                                    <span class="small-3 columns"><b>User:</b></span>
                                    <span class="small-3 columns"><b>Title:</b></span>
                                    <span class="small-3 columns"><b>Date:</b></span>
                                    <span class="small-3 columns"><a class="button">Delete</a></span>
                                </div>
                                <div class="row" ng-repeat="messagedUser in messagedUsers">
                                    <a href="" ng-click="getMessages(messagedUser.user)">
                                        <span class="small-3 columns">{{messagedUser.user}}</span>
                                    </a>
                                    <span class="small-3 columns"><a class="button">Delete</a></span>
                                </div>
                            </section>
                        </div>
                        <div class="small-6 columns rghtDvd">
                            <b>Conversation History</b>
                            <br /> <br />
                            <section>
                                <div class="row">
                                    <span class="small-4 columns"><b>Sent By::</b></b></span>
                                    <span class="small-6 columns"><b>Message Contents:</b></span>
                                    <span class="small-2 columns"><b>Date:</b></span>
                                </div>
                                <br />
                                <div class="row" ng-repeat="message in messages">
                                    <span class="small-4 columns">{{message.from}}</span>
                                    <span class="small-6 columns">{{message.message}}</span>
                                   <!-- <span class="small-2 columns">{{message.date}}</span> -->
                                </div>
                                <div class="row">
                                    <br />
                                    <input type="text" ng-model="postText" class="addNewPost small-12 columns" placeholder="Add to this conversation"/>
                                </div>
                            </section>
                        </div>


                    </div>
                </section>
            </div>

        </div>
        <div class="small-12 columns">

        </div>


    </div>
</div>