<div ng-controller="UserProfileCtrl">
    <div class="row offsetHeight100">
        <div class="small-12 columns">


            <div class="row ">
                <div id="contentHeader" class="small-12 columns">
                    <h2 class="contentHeaderTitle">Basic Profile</h2>
                </div>
            </div>
            <div class="profileGravatar">
                <img src="http://www.gravatar.com/avatar/{{user.gravatar}}" />
            </div>
            <ul class="profile">

                <li>First Name : {{user.firstName}}</li>
                <li>Last Name: {{user.lastName}}     </li>
                <li>email : {{user.email}}     </li>
                <li>City : {{user.city}}     </li>
                <li>Age : {{user.age}}     </li>
                <li>About you : {{user.about}}     </li>
                <li>You have lost a {{user.lost}}</li>
            </ul>

            Click here to edit your profile
        </div>
        <div class="small-12 columns">
        <div class="row ">
            <div id="contentHeader" class="small-12 columns">
                <h2 class="contentHeaderTitle">My Memorial Walls</h2>
            </div>
        </div>
        <div class="profileGravatar">
        </div>
        <ul class="profile">
            <li ng-repeat="angel in angels">Angel's Name : {{ angel.firstName }} {{ angel.lastName }}- {{ angel.title }}
                <br />- <a href="#/editwall/{{ angel.author }}">View, edit or delete this memorial wall</a>
                <br />- <a href="#/inviteblock/{{ angel.author }}">invite or block other registered members</a><br /><br />
            </li>
        </ul>
            <a href="#/AddBlogEntry"><b>Create a new memorial wall profile here!</b></a>  <br /><br />
        </div>
        <div class="small-12 columns">
            <div class="row ">
                <div id="contentHeader" class="small-12 columns">
                    <h2 class="contentHeaderTitle">Memorial Walls of My Friends and Acquaintances </h2>
                </div>
            </div>
            <div class="profileGravatar">
            </div>
            <ul class="profile">
                <li ng-repeat="angelmember in angelmembers">Angel's Name : (Angel's full name)  - <a href="#/blog/{{ angelmember.author }}">View or this memorial wall</a> - <a href="#/selfremove/{{ angelmember.author }}">Remove yourself from this memorial wall network</a></li>
            </ul>
        </div>

    </div>
</div>