<div ng-controller="UserProfileCtrl">
    <div class="row offsetHeight">
        <div class="small-8 columns">


            <div class="row ">
                <div id="contentHeader" class="small-12 columns">
                    <h2 class="contentHeaderTitle">Basic Profile</h2>
                </div>
            </div>
            <ul>
                <li>First Name : {{user.firstName}}</li>
                <li>Last Name: {{user.lastName}}     </li>
                <li>email : {{user.email}}     </li>
                <li>Has lost a {{user.lost}}</li>
            </ul>
        </div>



    </div>
</div>