<div ng-controller="LatestCtrl">
    <div id="contentHeader" class="small-12 columns" if-authed="show">
        <h2 class="contentHeaderTitle">Start a New Conversation</h2>
    </div>
    <br/>
    <div>
        <div ng-click="photo = true;video = false;" class="button">Submit a Photo</div>
        <div ng-click="video = true;photo = false;" class="button">Submit a Video</div>
        <div ng-click="event = true;video = false; photo = false;" class="button">Submit a Video</div>
    </div>
    <div ng-show="photo" id="UploadBox">
        <h2 class="dark">Photo Uploader: Drag and drop image files on the box</h2>
        <div id='UploadArea'>
            <dropzone url="/upload" class="dropzone" autoupload="false" addRemoveLinks="true" id="my-awesome-dropzone" ></dropzone>
        </div>
        <div ng-click="photo=false" class="button">Finished</div>
    </div>
    <div ng-show="video" id="videobox">
        <div>
            <h3 style="color:#3F77BC;">Select which type of video you would like to show.</h3>
            <a class="button" ng-click="youtube = true;animoto = false;">YouTube</a>
            <a class="button" ng-click="youtube = false;animoto = true;">Animoto</a>
            <div class="my-show-hide-animation" ng-show="youtube">
                <h4 class="dark">YouTube Link</h4>
                <b class="dark">Past or type a YouTube url here.</b>
                <input type="text" name="youtube" ng-model="embedVideos.youtube" id="youtube" placeholder="Enter your youtube embed code here!"/>
                <a ng-click="submitVideo()" class="button">Submit video links</a>

            </div>
            <div class="animoto" ng-show="animoto">
                <h4 class="dark">Animoto Link</h4>

                <p>*Turn your photos and music into stunning video slideshows. You provide
                    the photos, you pick the song, and we'll add the magic. Give it a try —
                    it's fast, free and shockingly easy. <a href="http://animoto.com"
                                                            target="_blank">http://animoto.com</a>
                    Once you create your Animoto video there, use your "share" link to
                    upload them to your video gallery on this panel!</p>
                <input type="text" name="animoto" ng-model="embedVideos.animoto" id="animoto"
                       placeholder="Enter your animoto video url here!"/>
                <a ng-click="submitVideo()" class="button">Submit video links</a>

            </div>
        </div>
        <div ng-click="video=false" class="button">Finished</div>
    </div>
    <div ng-show="event" id="eventbox">
        <div>
            <h4 class="dark">Add a New Angel Anniversary</h4>
            <h5>Details</h5>
            <input type="text" name="eventheader" ng-model="event" id="" placeholder="Give your event a name"/>
            <input type="text" name="eventdesc" ng-model="eventdesc" id="" placeholder="Tell us more about why this day is special"/>
            <h5>Date</h5>
            <div class="form-horizontal">
                <input type="text" name="eventdate" datepicker-popup="yyyy/MMMM/dd" ng-model="eventdate" is-open="opened2" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" placeholder="Pick a Date FOR YOUR Anniversary or Event" />
                <button class="btn" ng-click="open(2)"><i class="general foundicon-calendar"></i></button>
            </div>
            <a ng-click="submitEvent()" class="button">Submit Angel Anniversary</a>
        </div>
        <div ng-click="event=false" class="button">Finished</div>
    </div>
    <div class="small-12 columns" ng-hide="photo || video || event"  if-authed="show">
        <input type="text" ng-model="postText" class="addNewPost small-10 columns"
               placeholder="Begin a new conversation here"/>
        <div class="small-2 columns"><br/>
            <button ng-click="submit()" class="button postfix">Submit</button>
        </div>
    </div>
    <div class="small-12 columns row2 contentContainer my-repeat-animation" ng-repeat="post in posts">
        <div class="row">
            <div class="small-12 columns postcontainer">
                <div><img src="http://www.gravatar.com/avatar/{{post.gravatar}}" /> </div>
                <h6>Posted by <a href="#/profile/{{post.username}}">{{post.username}} </a> on {{post.date}}.</h6>
                <div ng-bind-html-unsafe="post.embedYouTube"></div>
                <div ng-bind-html-unsafe="post.embedAnimoto"></div>
                <div>
                    {{post.text}}{{post.event}}
                </div>
            </div>
            <div class="row">
                <div class="columns postComment">
                    <a ng-click="showcommentbox($index)" class="button tiny">Join the conversation</a>
                    <div ng-show="commentbox[$index]">
                        <input type="text" on-keyup="submitComment($index)" keys="[27,13]" ng-model="newcomment[$index]" placeholder="Add your thoughts here! (Click enter to submit)" />
                    </div>
                </div>
            </div>
            <div ng-repeat="comment in post.comments" class="row replycontainer my-repeat-animation">
                    <div class="small-1 columns avatarcontainer">
                        <img src="http://www.gravatar.com/avatar/{{comment.gravatar}}"/>
                    </div>

                    <div class="small-11 columns">
                        <a href="#/profile/{{comment.username}}"><b>{{comment.username}}</b></a>
                        <p>{{comment.text}}</p>

                    </div>
            </div>
        </div>

    </div>
</div>
<!--
<h3><b>{{entry.title}}</b></h3>
<h6>Posted by <a href="#">{{entry.author}}</a> on {{entry.date}}.</h6>
<div class="row">
    <div class="ten columns">
        <div ng-bind-html-unsafe="text"></div>
    </div>
    <div class="two columns">

    </div>
</div>
<hr/>
<br/>
</article>
<div login>
<div id="login-inner" ng-controller="LoginController">
    <i class="foundicon-error">You must login to submit comments.</i>
    <i class="foundicon-error">{{error}}</i>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th>Username</th>
            <td><input type="text" class="login-inp" ng-model="form.username"/></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" class="login-inp" ng-model="form.password"/></td>
        </tr>
        <tr>
            <th></th>
            <td><a class="button" ng-click="submitAuth()">Login</a></td>
        </tr>
    </table>
</div>
</div>
<div id="comments" class="row">
<div class="six columns">
    <div id="submitComment">
        <textarea ng-model="body"></textarea>

        <p>
            <a ng-click="submitComment()" class="button" resetOnSubmit="true"></a>
        </p>
    </div>

    <div class="comment" ng-repeat="comment in comments">
        <p><b>{{comment.username}}</b></p>

        <p>{{comment.body}}</p>
    </div>
</div>
<div class="six columns">
    <div ng-repeat="viewer in viewers">
        <p>{{viewer.username}}</p>
    </div>
</div>

</div>
       -->